@import '../../../scss/styles';

@mixin formInput () {
    @include inputShadow;
    font-family: $font-body;
    width: 100%;
    border: 1px solid $color-light-gray;
    background: white;
    color: $color-dark-gray;
    border-radius: 0;
    font-size: 1rem;
    height: base(2);
    line-height: base(1);
    padding: base(.5) base(.75);
    -webkit-appearance: none;

    &::-webkit-input-placeholder {
      color: $color-gray;
      font-weight: normal;
      font-size: 1rem;
    }

    &::-moz-placeholder {
      color: $color-gray;
      font-weight: normal;
      font-size: 1rem;
    }

    &:focus,
    &:active {
        outline: 0;
    }

    &:disabled {
      background: $color-light-gray;
      color: $color-gray;
    }

    // Autofill event polyfill
    // Thanks, Klarna:
    // https://stackoverflow.com/questions/11708092/detecting-browser-autofill/11710295#11710295

    @keyframes onAutoFillStart {
      from {/**/}
      to {/**/}
    }

    @keyframes onAutoFillCancel {
      from {/**/}
      to {/**/}
    }

    &:-internal-autofill-selected {
      // Expose a hook for JavaScript when auto fill is shown.
      // JavaScript can capture 'animationstart' events
      animation-name: onAutoFillStart;

      // Make the backgound color become yellow _really slowly_
      transition: background-color 50000s ease-in-out 0s;
    }

    &:not(:-internal-autofill-selected) {
      // Expose a hook for JS onAutoFillCancel
      // JavaScript can capture 'animationstart' events
      animation-name: onAutoFillCancel;
    }

    @include small-break {
        margin-bottom: base(.5);
    }
}
