@import '../../../scss/styles';

@mixin formInput () {
    @include inputShadow;
    font-family: $font-body;
    width: 100%;
    border: 1px solid $color-light-gray;
    background: white;
    color: $color-dark-gray;
    border-radius: 0;
    font-size: 1rem;
    height: base(2);
    line-height: base(1);
    padding: base(.5) base(.75);
    -webkit-appearance: none;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color-gray;
      font-weight: normal;
      font-size: 1rem;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $color-gray;
      font-weight: normal;
      font-size: 1rem;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $color-gray;
      font-weight: normal;
      font-size: 1rem;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $color-gray;
      font-weight: normal;
      font-size: 1rem;
    }

    &:focus,
    &:active {
        outline: 0;
    }

    @include small-break {
        margin-bottom: base(.5);
    }
}
