@import '../../../scss/styles';

@mixin formInput () {
    @include inputShadow;
    font-family: $font-body;
    width: 100%;
    border: 1px solid $light-gray;
    background: white;
    color: $black;
    border-radius: 0;
    font-size: base(.55);
    height: base(1.75);
    line-height: base(1.75);
    padding: 0 base(.75);
    -webkit-appearance: none;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray;
      font-weight: normal;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $gray;
      font-weight: normal;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $gray;
      font-weight: normal;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $gray;
      font-weight: normal;
    }

    &:focus,
    &:active {
        outline: 0;
    }

    @include small-break {
        margin-bottom: base(.5);
    }
}
