@import '_styles';

.field-group {
  @extend %shadow;
  margin: rem(1) 0;

  header,
  .content {
    @include pad;
  }

  header {
    border-bottom: 1px solid $light-gray;

    * {
      margin-bottom: 0;
    }
  }
}
