@import '../../../scss/styles.scss';

.section {
  @include inputShadow;
  margin: base(.5) 0;

  .section__collapsible-header {
    border-bottom: 1px solid $light-gray;
    display: flex;
    align-items: center;
    @include pad;
    outline: 0;

    &:hover {
      cursor: pointer;
    }

    * {
      margin-bottom: 0;
    }
  }

  &__heading {
    margin-bottom: 0;
    margin-right: base(1);
  }

  .chevron {
    margin-left: auto;

    &--is-open {
      transform: rotate(180deg);
    }

    &--is-closed {
      transform: rotate(0deg);
    }
  }

  &__content {
    > div {
      @include row;
      padding: base(1) base(1) base(.5);
    }
  }
}
