@import '../../../scss/styles.scss';

.section {
  @include inputShadow;
  margin: base(1) 0;

  .section__collapsible-header {
    border-bottom: 1px solid $light-gray;
    display: flex;
    align-items: center;
    @include pad;
    outline: 0;

    &:hover {
      cursor: pointer;
    }

    * {
      margin-bottom: 0;
    }
  }

  &__heading {
    margin-bottom: 0;
    margin-right: base(1);
  }

  .section__add-button-wrap {
    @include gutter;

    .btn {
      margin: 0 0 base(.5);
    }
  }

  &__controls {
    margin-left: auto;
  }

  &__collapse-icon {
    svg {
      transition: 150ms linear;
    }

    &--open {
      svg {
        transform: rotate(90deg);
      }
    }

    &--closed {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &__add-row-button {
    margin-right: base(.5);
  }

  &__content {
    > div {
      @include row;
      padding: base(1) base(1) base(.5);
    }
  }
}
