@import '../../scss/styles';

@layer payload-default {
  .icon--externalLink {
    height: $baseline;
    width: $baseline;
    shape-rendering: auto;

    .stroke {
      fill: none;
      stroke: currentColor;
    }
  }
}
