@import '../../../scss/styles.scss';

.select-locales-drawer {
  &__sub-header {
    padding: 0 var(--gutter-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--theme-border-color);
  }

  &__content {
    padding: calc(var(--base) * 1.5) var(--gutter-h);
    display: flex;
    flex-direction: column;
    gap: calc(var(--base));
  }

  &__item {
    display: flex;
    flex-direction: row;
    gap: calc(var(--base) * 0.5);
  }
}
