@layer payload-default {
  .selected-hierarchies__pills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer-1);
  }

  .selected-hierarchies__pill .chip__label {
    max-width: 200px;
  }

  .selected-hierarchies__pill.chip--size-medium {
    height: 1.25rem;
    padding-inline-start: var(--spacer-1);
    /* Specific radius to match the chip component in FPL */
    border-radius: 0.1875rem;
  }

  .selected-hierarchies__pill .chip__remove {
    color: var(--color-icon-secondary);
  }

  .selected-hierarchies__pill .chip__remove:hover {
    color: var(--color-text);
  }

  .selected-hierarchies__empty {
    color: var(--color-text-secondary);
    font-style: italic;
    padding: var(--spacer-1) 0;
  }

  .selected-hierarchies__loading {
    color: var(--color-text-secondary);
    padding: var(--spacer-1) 0;
  }
}
