@layer payload-default {
  .file-details {
    background: var(--theme-elevation-50);
    border: var(--stroke-width-small) solid var(--theme-border-color);
    border-radius: var(--radius-medium);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
  }

  .file-details:not(:disabled):hover {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
  }

  .file-details header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .file-details .thumbnail {
    width: 50%;
    order: 1;
  }

  .file-details__remove {
    position: absolute;
    margin: 0;
    top: var(--spacer-4);
    right: var(--spacer-4);
    order: 2;
  }

  .file-details__remove .btn__icon {
    border: var(--stroke-width-small) solid var(--theme-border-color);
    background: var(--theme-input-bg);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
    transition: border 100ms cubic-bezier(0, 0.2, 0.2, 1);
  }

  .file-details__remove .btn__icon:not(:disabled):hover {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
  }

  .file-details__remove .btn__icon:hover {
    border: var(--stroke-width-small) solid var(--theme-elevation-400);
  }

  .file-details__main-detail {
    padding: var(--spacer-4);
    width: 100%;
    flex-grow: 1;
    min-width: 280px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    gap: var(--spacer-1);
    order: 3;
  }

  .file-details__toggle-more-info {
    font-weight: 600;
    text-decoration: none;
  }

  .file-details__toggle-more-info:hover,
  .file-details__toggle-more-info:focus-visible {
    text-decoration: underline;
  }

  .file-details__toggle-icon {
    padding: var(--spacer-1);
  }

  .file-details__sizes {
    margin: 0;
    padding: var(--spacer-4) var(--spacer-4) var(--spacer-2);
    list-style: none;
    display: block;
    flex-wrap: wrap;
  }

  .file-details__sizes li {
    width: 100%;
    padding: 0;
    margin-bottom: var(--spacer-4);
  }

  .file-details__size-label {
    color: var(--theme-elevation-400);
  }

  .file-details__file-mutation {
    display: flex;
    margin-top: var(--spacer-1);
    gap: var(--spacer-2);
  }

  .file-details__edit {
    cursor: pointer;
    background-color: var(--theme-elevation-150);
    border: none;
    border-radius: var(--radius-medium);
    padding: var(--spacer-1) var(--spacer-2);
  }

  .file-details__edit:hover {
    background-color: var(--theme-elevation-100);
  }

  @media (min-width: 1024px) {
    .file-details .thumbnail {
      width: calc(var(--spacer-6) * 3.5);
      order: 0;
    }

    .file-details__remove {
      order: 0;
    }

    .file-details__main-detail {
      width: auto;
      order: 0;
    }
  }

  @media (min-width: 1440px) {
    .file-details__main-detail {
      padding: var(--spacer-3) var(--spacer-4);
    }

    .file-details__sizes {
      display: flex;
      padding: var(--spacer-5) var(--spacer-4) 0;
    }

    .file-details__sizes li {
      width: 50%;
      padding: 0 var(--spacer-2);
    }
  }
}
