@layer payload-default {
  .tooltip {
    --caret-width: 15px;
    --caret-height: 7px;
    --caret-offset: 4px;
    --caret-border-color: var(--color-border);
    --tooltip-x: -50%;

    opacity: 0;
    background-color: var(--color-bg-tooltip);
    position: absolute;
    z-index: 3;
    left: 50%;
    padding: var(--spacer-1);
    color: var(--color-text-ontooltip);
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    letter-spacing: var(--text-letter-spacing);
    white-space: nowrap;
    border-radius: var(--radius-medium);
    box-shadow: var(--elevation-300-tooltip);
    visibility: hidden;

    &.field-error {
      background-color: var(--color-bg-danger);
      color: var(--color-text-ondanger);

      .tooltip__caret-fill {
        fill: var(--color-bg-danger);
        stroke: var(--color-bg-danger);
      }

      .tooltip__caret-stroke {
        stroke: var(--color-bg-danger);
      }
    }

    .tooltip-content {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .tooltip__caret {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.15));
  }

  .tooltip__caret-fill {
    fill: var(--color-bg-tooltip);
    stroke: var(--color-bg-tooltip);
  }

  .tooltip__caret-stroke {
    fill: none;
    stroke: var(--color-border);
    stroke-width: 1.5px;
  }

  .tooltip--show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    cursor: default;
  }

  .tooltip--caret-center .tooltip__caret {
    left: 50%;
    transform: translateX(-50%);
  }

  .tooltip--caret-left .tooltip__caret {
    left: var(--spacer-2);
  }

  .tooltip--caret-right .tooltip__caret {
    right: var(--spacer-2);
  }

  .tooltip--position-top {
    top: 0;
    transform: translate3d(
      var(--tooltip-x),
      calc(-100% - var(--caret-height) - var(--caret-offset) + 1px),
      0
    );

    .tooltip__caret {
      --color-border: var(--ramp-grey-700);
      top: calc(100% - 0.5px);
    }

    &.tooltip--caret-center .tooltip__caret {
      transform: translateX(-50%);
    }
  }

  .tooltip--position-bottom {
    top: 100%;
    transform: translate3d(-50%, calc(var(--caret-height) + var(--caret-offset) - 1px), 0);

    .tooltip__caret {
      bottom: calc(100% - 0.5px);
      transform: rotate(180deg);
    }

    &.tooltip--caret-center .tooltip__caret {
      transform: translateX(-50%) rotate(180deg);
    }

    &.tooltip--caret-right .tooltip__caret {
      transform: rotate(180deg);
    }
  }

  .tooltip--position-left {
    top: 50%;
    left: 0;
    transform: translate3d(calc(-100% - var(--caret-height) - var(--caret-offset)), -50%, 0);

    .tooltip__caret {
      top: calc(50% + 0.5px);
      left: calc(100% - 0.5px);
      transform: translateY(calc(1 * var(--caret-width) / 2)) rotate(-90deg);
      transform-origin: top left;
    }
  }

  .tooltip--position-right {
    top: 50%;
    left: 100%;
    transform: translate3d(calc(var(--caret-height) + var(--caret-offset)), -50%, 0);

    .tooltip__caret {
      top: calc(50% + 0.5px);
      left: unset;
      right: calc(100% - 0.5px);
      transform: translateY(calc(1 * var(--caret-width) / 2)) rotate(90deg);
      transform-origin: top right;
    }
  }
}
