@layer payload-default {
  .per-page {
    display: flex;
    align-items: center;
    gap: var(--spacer-2);
  }

  .per-page ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-half);
  }

  .per-page__label {
    color: var(--color-text-secondary);
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    white-space: nowrap;
  }

  .per-page__base-button {
    display: flex;
    align-items: center;
    gap: var(--spacer-half);
    color: var(--color-text);
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    cursor: pointer;
    padding: var(--spacer-1);
    border-radius: var(--radius-medium);
    background: var(--color-bg);
    border: 1px solid var(--color-border);
  }

  .per-page__base-button:hover,
  .per-page__base-button:focus-visible {
    background: var(--color-bg-selected);
  }

  .per-page__icon {
    color: var(--color-icon-secondary);
  }
}
