@import '../../_css/common';

.introContent {
  position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.draft {
  margin: 0;
}

.comment {
  margin: 0;
}

.meta {
  margin: 0;
}
