@import '../dist/admin/scss/vars';
@import '../dist/admin/scss/z-index';

//////////////////////////////
// IMPORT OVERRIDES
//////////////////////////////

@import '~payload-scss-overrides';

@import '../dist/admin/scss/type';
@import '../dist/admin/scss/queries';
@import '../dist/admin/scss/resets';
@import '../dist/admin/scss/svg';
