// As this is the demo folder, we import Payload SCSS functions relatively.
@import '../../../../../packages/ui/src/scss/styles.scss';

// In your own projects, you'd import as follows:
// @import '~payload/scss';

.custom-default-view {
  &__login-btn {
    margin-right: base(0.5);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: base(1);

    & > * {
      margin: 0;
    }
  }

  &__controls {
    display: flex;
    gap: calc(var(--base) / 2);

    & > * {
      margin: 0;
    }
  }
}
