@import '~@payloadcms/ui/scss';

.custom-default-view {
  &__login-btn {
    margin-right: base(0.5);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: base(1);
    color: var(--color-success-350);

    & > * {
      margin: 0;
    }
  }

  &__controls {
    display: flex;
    gap: calc(var(--base) / 2);

    & > * {
      margin: 0;
    }
  }
}
