@import '@payloadcms/ui/scss';

.lexical-link-edit-drawer {
  &__template {
    position: relative;
    z-index: 1;
    padding-top: var(--base);
    padding-bottom: calc(var(--base) * 2);
  }

  &__header {
    width: 100%;
    margin-bottom: var(--base);
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--base) * 2.5);
    margin-bottom: var(--base);

    @include mid-break {
      margin-top: calc(var(--base) * 1.5);
    }
  }

  &__header-text {
    margin: 0;
  }

  &__header-close {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    width: var(--base);
    height: var(--base);

    svg {
      width: calc(var(--base) * 2.75);
      height: calc(var(--base) * 2.75);
      position: relative;
      left: calc(var(--base) * -0.825);
      top: calc(var(--base) * -0.825);

      .stroke {
        stroke-width: 2px;
        vector-effect: non-scaling-stroke;
      }
    }
  }
}
