@import '../../../../scss/styles.scss';

.field-type.password {
  position: relative;
  margin-bottom: $baseline;

  input {
    @include formInput;
  }
}

html[data-theme=light] {
  .field-type.password {
    &.error {
      input {
        @include lightInputError;
      }
    }
  }
}

html[data-theme=dark] {
  .field-type.password {
    &.error {
      input {
        @include darkInputError;
      }
    }
  }
}
