@import '~payload/client/scss/styles';

.default-template {
  @include default-template-width;
  padding-top: base(1);

  &__eyebrow {
    @include m;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
