@import '~payload/client/scss/styles';

.default-template {
  padding: $base;
  margin-left: base(6);
  width: calc(100% - #{base(6)});

  &__eyebrow,
  &__wrap {
    max-width: $content-width;
    margin: 0 auto;
  }

  &__eyebrow {
    @include m;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
