@import '_styles';

.interact.text,
.interact.email,
.interact.password {
	margin-bottom: rem(.5);
	position: relative;

	label {
		display: flex;

		.required {
			color: $error;
			margin-left: rem(.25);
			margin-right: auto;
		}
	}

	.tooltip {
		left: auto;
		right: 0;
		transform: none;
		background-color: $error;

		span {
			border-top-color: $error;
		}
	}

	input {
		@include formInput;
	}

	&.error {
		input {
      background-color: lighten($error, 15%);
		}
	}

	@include small-break {
		margin-bottom: rem(.5);
	}
}
