.no-results {
  padding: calc(var(--base) * 2) var(--base);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--theme-border-color);
  border-radius: var(--style-radius-m);

  h3 {
    margin: 0;
  }

  p {
    margin: calc(var(--base) / 2) 0 0 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__actions {
    display: flex;
    gap: calc(var(--base) / 2);
    margin-top: var(--base);

    .btn {
      margin: 0;
    }
  }
}
