@layer payload-default {
  .no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacer-3) var(--spacer-2-5);
    border: var(--stroke-width-small) solid var(--color-border);
    border-radius: var(--radius-medium);
    text-align: center;
    gap: var(--spacer-2);
  }

  .no-results__title {
    color: var(--color-text);
    font-family: var(--text-body-large-strong-font-family);
    font-size: var(--text-body-large-strong-font-size);
    font-weight: var(--font-weight-strong);
    line-height: var(--text-body-large-strong-line-height);
  }

  .no-results__description {
    margin: 0;
    color: var(--color-text-secondary);
  }

  .no-results__actions {
    display: flex;
    gap: var(--spacer-2);
  }
}
