@import '~@payloadcms/ui/scss';

.taskNode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid var(--theme-elevation-100);
  background: var(--theme-input-bg);

  &__label {
    display: flex;
    flex-direction: column;
  }
}

.selected .taskNode {
  outline: 1px solid var(--theme-elevation-800);
}
