@import '../../../../scss/styles.scss';

.rich-text-editor {
  border: 1px solid $color-light-gray;
  min-height: 250px;

  &__editable-content-container {
    padding: base(.5);

    p,
    h1,
    h2,
    h3 {
      margin-bottom: base(.25);
    }
  }
}
