//////////////////////////////
// BASELINE GRID
//////////////////////////////

$body           : 18px;
$base-px        : 36px;
$base           : ($base-px / $body) + rem; // This computes to 36px in rem

@function rem($multiplier) {
	@return ($base-px / $body) * $multiplier + rem;
}

//////////////////////////////
// FONTS
//////////////////////////////

$font-body  : 'calibre-web';
$font-brand : 'noe-display-web';
$font-label : 'gt-pressura-web';

//////////////////////////////
// COLORS
//////////////////////////////

$primary    : red;

$light-gray : #f5f5f5;
$gray       : #afafaf;
$black      : rgb(60, 60, 60);

$error      : #ff8efc;
$warning    : #fff93b;

//////////////////////////////
// STYLE
//////////////////////////////

$radius-sm    : 5px;
$radius-lrg   : 10px;
$stroke-width : 1px;

%shadow {
	box-shadow: 0 22px 65px rgba(0,0,0,.07);
}

%inputShadow {
	box-shadow: 0 2px 4px 0 rgba(0,2,4,.1),
				0 2px 20px 0 rgba(0,2,4,.04);

	&:hover {
		box-shadow: 0 2px 4px 0 rgba(0,2,4,.1),
					0 5px 20px 0 rgba(0,2,4,.06);
	}

	&:active, &:focus {
		box-shadow: 0 2px 4px 0 rgba(0,2,4,.1),
					0 10px 20px 0 rgba(0,2,4,.08);
	}
}

//////////////////////////////
// UTILITIES
//////////////////////////////

@mixin color-svg($color) {
	.stroke {
		stroke: $color;
	}

	.fill {
		fill: $color;
	}
}
