#tenant-logo {
  border-radius: 100%;
  height: 18px;
  width: 18px;
  background-color: var(--theme-error-400);
}

[data-selected-tenant-title="Blue Dog"] #tenant-logo {
  background-color: var(--theme-success-300);
}

[data-selected-tenant-title="Steel Cat"] #tenant-logo {
  background-color: var(--theme-warning-300);
}
