#tenant-logo {
  border-radius: var(--radius-full);
  height: 18px;
  width: 18px;
  background-color: var(--color-icon-danger);
}

[data-selected-tenant-title='Blue Dog'] #tenant-logo {
  background-color: var(--color-icon-success);
}

[data-selected-tenant-title='Steel Cat'] #tenant-logo {
  background-color: var(--color-icon-warning);
}
