@layer payload-default {
  .doc-drawer__header {
    width: 100%;
    margin-top: var(--spacer-6);
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--spacer-3);
  }

  .doc-drawer__header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .doc-drawer__header-text {
    margin: 0;
  }

  .doc-drawer__header-toggler {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: inherit;

    &:focus,
    &:focus-within {
      outline: none;
    }

    &:disabled {
      pointer-events: none;
    }
  }

  .doc-drawer__header-close {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    width: var(--spacer-6);
    height: var(--spacer-6);

    svg {
      width: var(--spacer-6);
      height: var(--spacer-6);
      position: relative;

      .stroke {
        stroke-width: 2px;
        vector-effect: non-scaling-stroke;
      }
    }
  }

  .doc-drawer__after-header {
    padding-top: var(--spacer-1);
  }

  .doc-drawer__divider {
    height: 1px;
    background: var(--color-border);
    width: 100%;
  }

  @media (max-width: 1024px) {
    .doc-drawer .doc-drawer__header {
      margin-top: var(--spacer-5);
      margin-bottom: var(--spacer-2);
      padding-inline: var(--gutter-h);
    }
  }
}
