@import '../../../scss/styles.scss';

.status-list {
  @include gutter;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    background: $primary;
    color: $black;
    font-weight: bold;
    border-radius: $radius-sm;
    padding: base(.5);
    margin-bottom: base(.5);
    display: flex;
    justify-content: space-between;
  }

  button {
    @extend %btn-reset;
    cursor: pointer;

    svg {
      @include color-svg($black);
      width: base(.35);
      height: base(.35);
    }

    &:hover {
      opacity: .5;
    }
  }

  li.status-list__status--error {
    background: $error;
    color: white;

    button svg {
      @include color-svg(white);
    }
  }
}
