@import '../../scss/styles.scss';

@layer payload-default {
  .page-controls {
    width: 100%;
    display: flex;
    align-items: center;

    &__page-info {
      [dir='ltr'] & {
        margin-right: base(1);
        margin-left: auto;
      }

      [dir='rtl'] & {
        margin-inline-end: base(1);
        margin-inline-start: auto;
      }
    }

    @include small-break {
      flex-wrap: wrap;

      &__page-info {
        [dir='ltr'] & {
          margin-left: base(0.5);
        }

        [dir='rtl'] & {
          margin-right: 0;
        }
      }

      .paginator {
        width: 100%;
        margin-bottom: base(0.5);
      }
    }
  }
}
