@import '../../../../scss/styles.scss';

.clickable-arrow {
  cursor: pointer;

  &--left {
    transform: rotate(180deg);
  }

  &--is-disabled {
    cursor: default;

    .icon .stroke{
      stroke: $color-gray;
    }
  }
}
