@import '../../../../scss/styles.scss';

.clickable-arrow {
  cursor: pointer;
  transform: rotate(-90deg);

  &--left {
    transform: rotate(90deg);
  }

  &--is-disabled {
    cursor: default;

    .icon .stroke{
      stroke: $color-gray;
    }
  }
}
