@import '../../../../../../../scss/styles.scss';

.rich-text-upload {
  max-width: base(15);
  display: flex;
  align-items: center;
  background: $color-background-gray;
  position: relative;

  &__button {
    margin: 0;
    position: absolute;
    top: base(.5);
    right: base(.5);
  }

  h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__thumbnail {
    width: base(4);
    max-height: base(4);

    img, svg {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__wrap {
    padding: base(.5) base(.5) base(.5) base(1);
    text-align: left;
  }

  &--selected {
    box-shadow: $focus-box-shadow;
    outline: none;
  }

  &__modal {
    @include blur-bg;
    display: flex;
    align-items: center;

    .template-minimal {
      padding-top: base(4);
      align-items: flex-start;
    }
  }

  &__modal-header {
    margin-bottom: $baseline;
    display: flex;

    h1 {
      margin: 0 auto 0 0;
    }

    .btn {
      margin: 0 0 0 $baseline;
    }
  }

  &__modal-sub-header {
    margin-top: base(.25);
  }

  &__select-collection-wrap {
    margin-bottom: base(1);
  }
}
