@import '../../../../../../../scss/styles.scss';

.rich-text-upload {
  max-width: base(15);
  display: flex;
  align-items: center;
  background: white;
  position: relative;

  &__card {
    @include soft-shadow-bottom;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__topRow {
    display: flex;
  }

  &__thumbnail {
    width: base(3.25);
    height: auto;
    position: relative;
    overflow: hidden;

    img, svg {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      background-color: $color-dark-gray;
    }
  }

  &__topRowRightPanel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: base(.75) base(1);
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__actionButton {
    margin: 0;
    margin-right: base(.5);
    border-radius: 0;

    line {
      stroke-width: $style-stroke-width-m;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__collectionLabel {
    margin-right: base(3);
  }

  &__bottomRow {
    padding: base(.5);
    border-top: 1px solid $color-background-gray;
  }

  h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__wrap {
    padding: base(.5) base(.5) base(.5) base(1);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--selected {
    box-shadow: $focus-box-shadow;
    outline: none;
  }
}
