@import '../../scss/styles.scss';

@layer payload-default {
  .checkbox-popup {
    &__options {
      display: flex;
      flex-direction: column;
      gap: var(--spacer-2);
      padding: 0 var(--spacer-2-5);
      margin: 3px 0;
    }

    .checkbox-input {
      align-items: center;
      label {
        padding-bottom: 0;
      }
    }
  }
}
