@import '../../../scss/styles.scss';

.upload--has-many {
  position: relative;
  max-width: 100%;

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: base(2);
    margin-top: base(1);

    @include extra-small-break {
      gap: base(1);
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: base(1);

    & .relationship-add-new__add-button {
      padding: 0;
    }
  }

  &__add-new {
    display: flex;
    gap: base(0.5);
  }

  &__clear-all {
    all: unset;
    flex-shrink: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    margin-inline-start: auto;
    color: var(--theme-elevation-800);

    @include extra-small-break {
      margin-inline-start: 0;
    }
  }

  &__draggable-rows {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__no-data {
    background: var(--theme-elevation-50);
    padding: 1rem 0.75rem;
    border-radius: 3px;
    color: var(--theme-elevation-700);
    text-align: center;
  }
}

html[data-theme='light'] {
  .upload {
  }
}

html[data-theme='dark'] {
  .upload {
  }
}
