@import '../../../scss/styles.scss';

@layer payload-default {
  .upload--has-many {
    position: relative;
    max-width: 100%;

    &__drag {
      &[aria-disabled='true'] {
        &:hover {
          cursor: default;
        }
      }
    }

    &__draggable-rows {
      display: flex;
      flex-direction: column;
      gap: calc(var(--base) / 4);
    }

    &__dragItem {
      .icon--drag-handle {
        color: var(--theme-elevation-400);
      }

      .thumbnail {
        width: 26px;
        height: 26px;
      }

      .uploadDocRelationshipContent__details {
        line-height: 1.2;
      }
    }
  }
}
