@import '../../../../scss/styles.scss';

.live-preview-window {
  width: 60%;
  position: sticky;
  top: var(--doc-controls-height);
  height: calc(100vh - var(--doc-controls-height));
  overflow: hidden;

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    &--has-breakpoint {
      .live-preview-frame__iframe {
        margin-top: var(--base);
        margin-left: var(--base);
        border: 1px solid var(--theme-elevation-100);
      }
    }
  }

  @include mid-break {
    width: 100%;
  }
}
