@import '../../../../../scss/styles.scss';

.select-existing-upload-modal {
  @include blur-bg;
  display: flex;
  align-items: flex-start;

  .template-minimal {
    padding-top: base(6);
    align-items: flex-start;
  }

  &__header {
    margin-bottom: $baseline;

    div {
      display: flex;
    }

    h1 {
      margin: 0 auto 0 0;
    }

    .btn {
      margin: 0 0 0 $baseline;
    }
  }

  &__sub-header {
    margin-top: base(.25);
  }

  &__page-info {
    margin-right: base(1);
    margin-left: auto;
  }

  &__page-controls {
    width: 100%;
    display: flex;
    align-items: center;
  }

  @include mid-break {
    .paginator {
      width: 100%;
      margin-bottom: $baseline;
    }

    &__page-controls {
      flex-wrap: wrap;
    }

    &__page-info {
      margin-left: 0;
    }
  }
}
