.color-green {
    color: green;
}

.color-blue {
    color: blue;
}

.color-red {
    color: red;
}

.bg-color-green {
    background-color: green;
}

.bg-color-blue {
    background-color: blue;
}

.bg-color-red {
    background-color: red;
}
