.invert {
  background-color: var(--theme-text);
  color: var(--theme-bg);
}

:global([data-theme='dark']) {
  .invert {
    background-color: var(--color-base-100);
    color: var(--theme-text);
  }
}
