.hierarchy-column-browser {
  display: flex;
  flex: 1;
  overflow-x: auto;
  // scroll-snap-type: x proximity;

  &__column-wrapper {
    // scroll-snap-align: start;
    flex-shrink: 0;

    &:first-child {
      margin-left: var(--gutter-h);
      border-left: 1px solid var(--theme-elevation-100);
    }
  }
}
