@import '../../../../../../../scss';

.rich-text-button {
  margin: $baseline 0;
}

.rich-text-button__button {
  padding: base(.5) base(1.5);
  border-radius: $style-radius-s;

  &--primary {
    background-color: $color-dark-gray;
    color: white;
  }

  &--secondary {
    background-color: $color-light-gray;
  }
}
