@import '../../../../scss/styles.scss';

.field-type.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + var(--base));
  margin-left: calc(var(--base) * -0.5);
  margin-right: calc(var(--base) * -0.5);

  > * {
    flex-grow: 1;
    padding-left: calc(var(--base) * 0.5);
    padding-right: calc(var(--base) * 0.5);
  }

  @include mid-break {
    flex-direction: column;

    > * {
      width: 100% !important;
    }
  }
}
