@import '../../../../scss/styles.scss';

.field-type.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--base);

  > * {
    flex-grow: 1;
  }

  @include mid-break {
    flex-direction: column;

    > * {
      width: 100% !important;
    }
  }
}
