@layer payload-default {
  .welcome-widget {
    overflow-wrap: anywhere;
  }

  .welcome-widget__heading {
    color: var(--color-text);
    font-size: var(--text-heading-xl-font-size);
    font-weight: var(--text-heading-xl-font-weight);
    line-height: var(--text-heading-xl-line-height);
    letter-spacing: var(--text-heading-xl-letter-spacing);
    height: var(--spacer-5);
  }

  .widget:first-of-type:has(.welcome-widget) .welcome-widget {
    padding-block-start: var(--spacer-2);
  }
}
