@import '../../../scss/styles.scss';

@layer payload-default {
  .folder-and-documents {
    margin-top: 1rem;
    display: grid;
    grid-template-areas:
      'header'
      'data';
    grid-template-rows: auto 1fr;
    height: 100%;
    gap: 1.5rem;

    &__wrap {
      border-radius: var(--style-radius-l);
      padding-bottom: var(--spacing-view-bottom);
      margin-bottom: 2rem;
      margin-inline: var(--gutter-h);
      display: flex;
      flex-direction: column;
      gap: var(--base);
    }

    &__header {
      grid-area: header;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      justify-content: space-between;
      gap: var(--base);
    }

    &__header-actions {
      display: flex;
      gap: calc(var(--base) * 0.25);
    }

    &__search-container {
      --search-padding: calc(var(--base) / 2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--theme-elevation-50);
      padding-left: var(--search-padding);
      padding-right: var(--search-padding);
      border-radius: var(--style-radius-s);
      grid-column: 1 / 3;

      p {
        color: var(--theme-elevation-500);
      }

      button {
        margin: 0;
      }
    }

    &__search-and-icon {
      display: flex;
      align-items: center;
      gap: calc(var(--base) / 2);
      flex-grow: 1;
      justify-content: flex-start;

      .search-filter {
        width: 100%;
        padding: var(--search-padding);
        padding-left: 0;
      }
    }

    &__search-actions {
      display: flex;
      gap: calc(var(--base) * 0.25);
    }

    &__data {
      grid-area: data;
    }

    &__list-toggle,
    &__grid-toggle {
      padding: 0 2px;

      &:not(.active) {
        background-color: transparent;
        color: var(--theme-elevation-400);

        &:hover {
          background-color: var(--theme-elevation-150);
        }
      }
    }

    &__popup-button {
      margin: 0;
    }

    &__action-popup {
      .btn {
        display: flex;
        height: 100%;
      }
    }
  }
}
