@layer payload-default {
  .bulk-upload--drawer-header {
    display: flex;
    align-items: center;
    gap: var(--spacer-2);
    padding: var(--spacer-2-5);
    border-bottom: 1px solid var(--color-border);

    .btn {
      padding: 0;
      border: 0;
    }

    h2 {
      margin: 0;
      flex: 1;
    }
  }
}
