@import '../../../scss/styles.scss';

@layer payload-default {
  .lexical-diff__diff-container {
    font-family: var(--font-serif);
    font-size: base(0.8);
    letter-spacing: 0.02em;

    // Apply background color to parents that have children with diffs
    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    blockquote,
    h6 {
      &:has([data-match-type='create']) {
        background-color: var(--theme-success-100);
        color: var(--theme-success-800);
      }

      &:has([data-match-type='delete']) {
        background-color: var(--theme-error-100);
        color: var(--theme-error-800);
      }
    }

    li::marker {
      color: var(--theme-text);
    }

    [data-match-type='delete'] {
      color: var(--theme-error-600);
      text-decoration-color: var(--theme-error-600);
      text-decoration-line: line-through;
      background-color: var(--theme-error-200);
      border-radius: 4px;
    }

    a[data-match-type='delete'] {
      text-decoration-line: line-through underline;
    }

    [data-match-type='create']:not(img) {
      background-color: var(--theme-success-200);
      color: var(--theme-success-600);
      border-radius: 4px;
    }

    .html-diff {
      &-create-inline-wrapper,
      &-delete-inline-wrapper {
        display: inline-flex;
      }

      &-create-block-wrapper,
      &-delete-block-wrapper {
        display: flex;
      }

      &-create-inline-wrapper,
      &-delete-inline-wrapper,
      &-create-block-wrapper,
      &-delete-block-wrapper {
        position: relative;
        align-items: center;
        flex-direction: row;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          content: '';
        }
      }

      &-create-inline-wrapper::after,
      &-create-block-wrapper::after {
        background-color: var(--theme-success-200);
      }

      &-delete-inline-wrapper::after,
      &-delete-block-wrapper::after {
        background-color: var(--theme-error-100);
      }
    }
  }
}
