@import '../../../scss/styles.scss';

@layer payload-default {
  .lexical-diff__diff-container {
    // Apply background color to parents that have children with diffs
    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    blockquote,
    .lexical-unknown-diff,
    .lexical-upload-diff,
    .lexical-relationship-diff,
    h6 {
      &:has(.html-diff-create-text-wrapper),
      &:has([data-match-type='create']) {
        background: var(--theme-success-100);
      }

      &:has(.html-diff-delete-text-wrapper),
      &:has([data-match-type='delete']) {
        background: var(--theme-error-100);
      }
    }

    .html-diff-delete-text-wrapper,
    [data-match-type='delete'] {
      color: var(--theme-error-500);
      text-decoration-color: var(--theme-error-500);
      text-decoration-line: line-through;
    }

    .html-diff-create-text-wrapper,
    [data-match-type='create']:not(img) {
      background: var(--theme-success-300);
    }

    .html-diff {
      &-create-inline-wrapper,
      &-delete-inline-wrapper {
        display: inline-flex;
      }

      &-create-block-wrapper,
      &-delete-block-wrapper {
        display: flex;
      }

      &-create-inline-wrapper,
      &-delete-inline-wrapper,
      &-create-block-wrapper,
      &-delete-block-wrapper {
        position: relative;
        align-items: center;
        flex-direction: row;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          content: '';
        }
      }

      &-create-inline-wrapper::after,
      &-create-block-wrapper::after {
        background: var(--theme-success-200);
      }

      &-delete-inline-wrapper::after,
      &-delete-block-wrapper::after {
        background: var(--theme-error-100);
      }
    }
  }
}
