@import '../../../scss/styles.scss';

@layer payload-default {
  .icon--relationship {
    height: $baseline;
    width: $baseline;

    .stroke {
      fill: none;
      stroke: var(--theme-elevation-800);
      stroke-width: $style-stroke-width-m;
    }
  }
}
