@import '../../../scss/styles.scss';

.paginator {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: base(1);

  &__page {
    &--is-current {
      box-shadow: $shadow-sm;
      color: $gray;
      cursor: default;
      cursor: pointer;
    }

    &--is-last-page {
      margin-right: 0;
    }
  }

  .clickable-arrow,
  &__page {
    @extend %btn-reset;
    @extend %small;
    outline: 0;
    padding: base(.35) base(.45);
    color: $black;
    line-height: 1;
  }

  &__page,
  &__separator {
    margin-right: base(.25);
  }

  &__separator {
    align-self: center;
    color: $gray;
  }
}
