@import '../../../../scss/styles.scss';

.nav-toggler {
  position: relative;
  z-index: var(--z-modal);
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  height: var(--app-header-height);
  width: var(--gutter-h);
  cursor: pointer;

  @include mid-break {
    width: var(--gutter-h);
    height: var(--gutter-h);
  }

  @include small-break {
    width: calc(var(--base) * 2);
    height: calc(var(--base) * 2);
  }
}
