@import '../../../../scss/styles.scss';

.nav-toggler {
  position: relative;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  height: var(--app-header-height);
  width: var(--gutter-h);
  cursor: pointer;

  @include small-break {
    width: calc(var(--gutter-h) * 2);
  }
}
