@layer payload-default {
  .multi-value {
    &.rs__multi-value {
      display: flex;
      padding: 0;
      border: 1px solid var(--border-default);
      border-radius: 0.1875rem;
      background: var(--bg-default);
      height: 1.25rem;
      margin: 0;
      transition: border 0.2s cubic-bezier(0.2, 0, 0, 1);

      &:focus,
      &:focus-visible {
        outline: none;
        border-color: var(--border-selected);
      }
    }
  }

  .multi-value--is-dragging {
    z-index: 2;
  }
}
