@layer payload-default {
  .multi-value {
    &.rs__multi-value {
      display: flex;
      padding: 0;
      border: var(--stroke-width-small) solid var(--color-border);
      border-radius: var(--radius-chip);
      background: var(--color-bg);
      height: 1.25rem;
      margin: 0;

      &:focus,
      &:focus-visible {
        outline: none;
        border: var(--accessibility-outline);
      }
    }
  }

  .multi-value--is-dragging {
    z-index: 2;
  }

  .multi-value.rs__multi-value:has(.multi-value-label__drag-button:focus-visible) {
    outline: var(--accessibility-outline);
    outline-offset: calc(var(--stroke-width-small) * -1);
  }
}
