@import '../../../scss/styles.scss';

.localizer {
  position: relative;

  button {
    color: currentColor;
    padding: base(.25) 0;
    font-size: 1rem;
    line-height: base(1);
    background: transparent;
    border: 0;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  span {
    color: var(--theme-elevation-400);
  }

  ul {
    list-style: none;
    padding: 0;
    max-height: base(8);
    margin: 0;

    li a {
      all: unset;
      cursor: pointer;
      padding-right: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include mid-break {
    .popup__content {
      width: calc(100vw - calc(var(--gutter-h) * 2));
    }
  }
}
