@import '../../../scss/styles.scss';

.localizer {
  position: relative;

  button {
    color: currentColor;
    padding: base(.25) 0;
    font-size: 1rem;
    line-height: base(1);
    background: transparent;
    border: 0;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  .wrap {
    position: relative;
  }

  span {
    position: absolute;
    color: var(--theme-elevation-400);
  }

  ul {
    list-style: none;
    padding: base(1) 0 0 0;
    text-align: left;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: base(8);

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include mid-break {
    .popup__content {
      margin-left: base(0.5);
    }
  }

  @include small-break {
    .popup__content {
      width: calc(100vw - base(2.25));
    }
  }
}
