@import '../../scss/styles';

@layer payload-default {
  .icon--copy {
    height: $baseline;
    width: $baseline;

    .stroke {
      fill: none;
      stroke: currentColor;
      stroke-width: $style-stroke-width-s;
    }
  }
}
