@import '../../scss/styles.scss';

.copy-locale-data {
  position: relative;

  &__pill {
    padding: 4px 12px;
  }

  &__icon {
    transition: all 200ms ease-in-out;
  }

  &__overlay {
    @include btn-reset;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
  }

  &__modal {
    @include blur-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: base(0.8);
    padding: base(2);
    max-width: base(36);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: base(0.4);

    > * {
      margin: 0;
    }
  }

  &__controls {
    display: flex;
    gap: base(0.4);

    .btn {
      margin: 0;
    }
  }
}
