@import '../../scss/styles.scss';

@layer payload-default {
  .delete-documents {
    @include blur-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
