@layer payload-default {
  .iterable-diff {
    &__locale-label {
      background: var(--theme-elevation-100);
      padding: calc(var(--base) * 0.25);
      // border-radius: $style-radius-m;
      [dir='ltr'] & {
        margin-right: calc(var(--base) * 0.25);
      }
      [dir='rtl'] & {
        margin-left: calc(var(--base) * 0.25);
      }
    }

    // Space between each row
    &__row:not(:first-of-type) {
      margin-top: calc(var(--base) * 0.5);
    }

    &__no-rows {
      font-family: monospace;
      background-color: var(--theme-elevation-50);
      // padding: base(0.125) calc(var(--base) * 0.5);
      // margin: base(0.125) 0;
    }
  }
}
