@layer payload-default {
  .iterable-diff {
    // Space between each row
    &__row:not(:first-of-type) {
      margin-top: calc(var(--base) * 0.5);
    }

    &__no-rows {
      font-family: monospace;
      background-color: var(--theme-elevation-50);
      // padding: base(0.125) calc(var(--base) * 0.5);
      // margin: base(0.125) 0;
    }
  }
}
