@layer payload-default {
  .collections {
    width: 100%;
  }

  .collections__wrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-5);
    width: 100%;
    background: var(--color-bg);
  }

  .collections__group {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2-5);
  }

  .collections__label {
    margin: 0;
    color: var(--color-text);
    font-family: var(--text-heading-medium-font-family);
    font-size: var(--text-heading-medium-font-size);
    font-weight: var(--text-heading-medium-font-weight);
    line-height: var(--text-heading-medium-line-height);
    letter-spacing: var(--text-heading-medium-letter-spacing);
  }

  .collections__card-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--spacer-2-5);
    padding: 0;
    margin: 0;
    list-style: none;

    .card {
      align-items: flex-start;
      height: 100%;
      padding: var(--spacer-2-5);
      border-radius: var(--radius-large);
      background: var(--color-bg);
    }

    .card--has-onclick:hover {
      background: var(--color-bg-secondary);
    }

    .card:has(.card__actions) .card__title {
      max-width: calc(100% - var(--spacer-4));
    }

    .card__actions {
      right: auto;
      inset-inline-end: var(--spacer-2);
    }
  }

  .collections__locked.locked {
    align-items: unset;
    justify-content: unset;
  }

  @media (hover: hover) and (pointer: fine) {
    .collections__card-list .card__actions:has(.btn) {
      opacity: 0;
    }

    .collections__card-list .card:hover .card__actions,
    .collections__card-list .card:focus-within .card__actions {
      opacity: 1;
    }
  }

  @media (min-width: 400px) {
    .collections__card-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 768px) {
    .collections__card-list {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @media (min-width: 1024px) {
    .collections__card-list {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }
}
