@layer payload-default {
  .collections {
    display: flex;
    inline-size: 100%;
    min-inline-size: 0;
    container-type: inline-size;
    container-name: collection-cards;
    --gap: var(--spacer-2-5);
    --cols: 2;
  }

  .collections__wrap {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-3);
  }

  .collections__group {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-block-start: var(--spacer-2);
  }

  .collections__label {
    margin: 0;
    font-family: var(--text-heading-medium-font-family);
    font-size: var(--text-heading-medium-font-size);
    font-weight: var(--text-heading-medium-font-weight);
    line-height: var(--text-heading-medium-line-height);
    letter-spacing: var(--text-heading-medium-letter-spacing);
    color: var(--color-text);
  }

  .collections__card-list {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: var(--spacer-2-5);
    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));

    .card {
      block-size: 100%;
      min-block-size: calc(var(--spacer-5) * 2);
      padding: var(--spacer-2-5);
      border-radius: var(--radius-large);
      background: var(--color-bg);
      &:hover,
      &:focus-within {
        background: var(--color-bg-secondary);
      }
      .card__title {
        margin: 0;
        padding-inline-end: var(--spacer-4);
      }
      .card__actions {
        inset-block-start: var(--spacer-2);
        inset-inline-end: var(--spacer-2);
      }
      @media (hover: hover) {
        .card__actions:not(:has(.locked)) {
          opacity: 0;
        }
        &:hover .card__actions,
        &:focus-within .card__actions {
          opacity: 1;
        }
      }
    }
  }

  .collections__locked.locked {
    align-items: unset;
    justify-content: unset;
  }

  @container collection-cards (min-width: 768px) {
    .collections__card-list {
      --cols: 4;
    }
  }
  @container collection-cards (min-width: 1024px) {
    .collections__card-list {
      --cols: 6;
    }
  }
  @container collection-cards (min-width: 1440px) {
    .collections__card-list {
      --cols: 8;
    }
  }
}
