@import '../../../../../../scss/styles.scss';

.command-button {
  background-color: transparent;
  color: $color-dark-gray;
  margin: 0;
  margin-right: base(.25);
  padding: base(.25) base(.35);
  line-height: 1;

  span {
    line-height: 1;
  }

  &:hover,
  &:focus,
  &--is-active {
    background-color: $color-dark-gray;
    color: white;
  }
}
