@import '../../../../scss/styles';

.action-handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: base(.5) base(.5) base(.5) base(.5);
  margin-bottom: base(1);
  position: absolute;
  top: 0; bottom: 0; left: 100%;

  &__remove-row {
    margin: 0 0 base(.3);
    opacity: 0;
  }

  &__add-row {
    margin: base(.3) 0 0;
    opacity: 0;
  }
}
