@import '../../../../scss/styles';

.action-handle {
  padding: base(.5);
  padding-left: base(.75);
  margin-bottom: base(.75);

  &__controls-container {
    position: relative;
    height: 100%;
    z-index: $z-nav;
  }

  &__controls {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    color: $color-gray;
  }

  &--vertical-alignment-top {
    .action-handle__controls {
      justify-content: flex-start;
    }
  }

  &--vertical-alignment-sticky {
    .action-handle__controls {
      position: sticky;
      top: 120px;
      height: unset;
    }
  }

  &__remove-row {
    margin: 0 0 base(.3);
    opacity: 0;
  }

  &__add-row {
    margin: base(.3) 0 0;
    opacity: 0;
  }
}
