@import '../../../scss/styles';

.logout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;

  &__wrap {
    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    .btn {
      margin: 0;
    }
  }
}
