@layer payload-default {
  .sidebar-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacer-1);
    border: 0;
    border-radius: var(--button-radius);
    background: var(--color-bg);
    color: var(--color-icon);
    cursor: pointer;
    outline: none;
    transition: background-color 100ms ease;

    &:hover {
      background: var(--color-bg-hover);
    }

    &:active {
      background: var(--color-bg-pressed);
    }

    &:focus-visible {
      outline: var(--accessibility-outline);
      outline-offset: -1px;
    }
  }

  .sidebar-toggle .tooltip {
    left: 0;
    top: 100%;
    bottom: auto;
    transform: translate3d(0, var(--spacer-1), 0);
  }

  .sidebar-toggle .tooltip::after {
    top: 0;
    left: var(--spacer-3);
    bottom: auto;
    transform: translate3d(-50%, -100%, 0);
    border-bottom: var(--caret-size) solid var(--color-bg-inverse);
    border-top: none;
  }
}
