@import '../variables';

.loading {
  display: grid;
  gap: $spacing-4;

  &__item {
    @include card-base;
    height: 8rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}