{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": "commonjs"
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"add-module-exports",
		[
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			}
		]
	]
}
