symlink=true
node-linker=hoisted ## This is required due to a typescript bug: https://github.com/microsoft/TypeScript/issues/47663#issuecomment-1519138189. We should switch to hoisted once this has been fixed.