@import '../../../scss/styles';

.login {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;

  .logo-wrap {
    margin: 0 auto base(1);
    max-width: 200px;

    svg {
      width: 100%;
    }
  }
}
