@import '../shared';

.field-type.password {
	margin-bottom: base(.5);
	position: relative;

	input {
		@include formInput;
	}

	&.error {
		input {
      background-color: lighten($color-red, 20%);
		}
	}
}
