@layer payload-default {
  @keyframes dropdown-press {
    0% {
      background-color: var(--color-bg-transparent-pressed);
    }

    100% {
      background-color: var(--color-bg-selected);
    }
  }

  .toolbar-popup__dropdown {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: flex-start;
    border: 0;
    background: none;
    border-radius: var(--radius-medium);
    cursor: pointer;
    position: relative;
    transition: background-color 0.15s cubic-bezier(0, 0.2, 0.2, 1);
    min-width: calc(var(--spacer-4) + var(--spacer-2-5));

    &:disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }

    &:hover:not([disabled]):not(.active) {
      background-color: var(--color-bg-transparent-hover);
    }

    &:active:not(.active) {
      background-color: var(--color-bg-transparent-pressed);
    }

    &.active {
      color: var(--color-icon-selected);
      background-color: var(--color-bg-selected);
      animation: dropdown-press 0.15s cubic-bezier(0, 0.2, 0.2, 1);

      .toolbar-popup__dropdown-caret {
        background-color: var(--color-icon-selected);

        &:after {
          transform: rotate(0deg);
        }
      }
    }
  }

  .toolbar-popup__dropdown-label {
    padding-block: 0;
    padding-inline: var(--spacer-1) var(--spacer-2);
  }

  .toolbar-popup__dropdown-caret {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6px;
    margin: 0 4px 0 2px;
    height: 4px;
    background-color: var(--color-icon);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='4' viewBox='0 0 6 4' fill='none'%3E%3Cpath d='M4.38921 0.146406C4.58445 -0.0488286 4.90098 -0.0487744 5.09624 0.146406C5.29151 0.341668 5.29151 0.658175 5.09624 0.853437L2.97515 2.97453C2.77987 3.16959 2.46332 3.16972 2.26812 2.97453L0.146049 0.853437C-0.0487219 0.6583 -0.0486443 0.341591 0.146049 0.146406C0.341285 -0.0488288 0.658788 -0.0487749 0.854057 0.146406L2.62164 1.91398L4.38921 0.146406Z' fill='black'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  .toolbar-popup__dropdown-items {
    --dropdown-min-width: 5rem;
    position: absolute;
    background: var(--color-bg-elevated);
    color: var(--color-text);
    border-radius: var(--radius-large);
    padding: var(--spacer-2);
    min-width: var(--dropdown-min-width);
    z-index: 100;
    box-shadow:
      0 2px 6px 0 rgba(0, 0, 0, 0.12),
      0 10px 16px 0 rgba(0, 0, 0, 0.08),
      0 0 0.5px 0 rgba(0, 0, 0, 0.12),
      0 0 0 1px rgba(0, 0, 0, 0.04);

    .toolbar-popup__dropdown-item {
      all: unset;
      cursor: pointer;
      color: var(--color-text);
      transition: background-color 0.15s cubic-bezier(0, 0.2, 0.2, 1);
      position: relative;
      font-family: var(--text-body-medium-font-family);
      font-size: var(--text-body-medium-font-size);
      font-weight: var(--text-body-medium-font-weight);
      line-height: var(--text-body-medium-line-height);
      padding: 0 var(--spacer-1);
      width: 100%;
      height: var(--spacer-4);
      border-radius: var(--radius-medium);
      box-sizing: border-box;
      display: flex;
      align-items: center;
      gap: var(--spacer-1);
      margin-right: -var(--spacer-3);

      .text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:hover:not([disabled]) {
        background-color: var(--color-bg-transparent-pressed);
      }

      &:active:not([disabled]) {
        background-color: var(--color-bg-transparent-pressed);
      }

      &.active {
        background-color: var(--color-bg-selected-strong);
        color: var(--color-text-onselected-strong);

        .icon {
          color: var(--color-text-onselected-strong);
        }

        &:hover:not([disabled]) {
          background-color: var(--color-bg-selected-strong-hover);
        }

        &:active:not([disabled]) {
          background-color: var(--color-bg-selected-strong-pressed);
        }
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.2;
      }

      .btn__icon {
        --btn-icon-size: var(--spacer-4);
        background: none !important;
        background-color: none !important;
      }
    }
  }

  [data-dropdown-key='align'] {
    display: flex;
    min-width: unset;
    gap: var(--spacer-2);

    & .toolbar-popup__dropdown-item {
      padding: 0;

      .text {
        display: none;
      }

      .btn__content {
        gap: 0;
      }

      .btn__icon {
        border: none;
      }

      .btn__tooltip {
        background-color: var(--ramp-grey-900);
        color: var(--ramp-grey-100);

        &.tooltip--position-top::after {
          border-top-color: var(--ramp-grey-900);
        }

        &.tooltip--position-bottom::after {
          border-bottom-color: var(--ramp-grey-900);
        }
      }
    }

    & .toolbar-popup__dropdown-label {
      display: none;
    }
  }

  .toolbar-popup__dropdown-align {
    gap: 0;
  }

  [data-dropdown-key='text'] {
    & .toolbar-popup__dropdown-item {
      padding: 0 var(--spacer-4);
    }

    & .toolbar-popup__dropdown-item.active::before {
      content: '';
      position: absolute;
      left: var(--spacer-2-5);
      top: 50%;
      width: var(--spacer-1);
      height: var(--spacer-2);
      border: solid var(--color-text-onselected-strong);
      border-width: 0 1px 1px 0;
      transform: translateY(-60%) rotate(45deg);
    }

    .btn__icon {
      margin: 0;
    }
  }
}
