@layer payload-default {
  .toolbar-input {
    width: calc(var(--spacer-4) * 3);
    height: var(--spacer-4);
    display: flex;
    align-items: center;
    border: var(--stroke-width-small) solid var(--color-border);
    background: var(--color-bg-secondary);
    border-radius: var(--radius-medium);
    font-size: var(--text-body-medium-font-size, 0.6875rem);
    padding: 0 var(--spacer-2);
    color: var(--color-text);

    &:focus {
      outline: var(--stroke-width-small) solid var(--accessibility-focus-color);
      outline-offset: calc(var(--stroke-width-small) * -1);
    }
  }
}
