@layer payload-default {
  .toolbar-input {
    width: 4.5rem;
    height: var(--spacer-4);
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border);
    background: var(--color-bg-secondary);
    border-radius: var(--radius-medium);
    font-size: var(--text-body-medium-font-size, 0.6875rem);
    padding: 0 var(--spacer-2);
    color: var(--color-text);

    &:focus {
      outline: 1px solid var(--accessibility-focus-color);
      outline-offset: -1px;
    }
  }
}
