@layer payload-default {
  .load-more-row {
    display: flex;
    align-items: center;
    gap: var(--stroke-width-medium);
  }

  .load-more-row__text {
    margin: 0;
    color: var(--color-text-secondary);
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: var(--spacer-1);
  }

  .load-more-row__button.btn {
    background-color: transparent;
    padding: 0;
    color: var(--color-text);
    font-size: inherit;
    text-decoration: underline;
  }

  .load-more-row__button.btn:hover:not(.btn--disabled) {
    color: var(--color-text-secondary);
    background-color: transparent;
  }

  .load-more-row__button.btn:active:not(.btn--disabled) {
    color: var(--color-text);
    background-color: transparent;
  }
}
