@import 'payload/scss';

.rich-text-lexical {
  .editor {
    position: relative;
  }

  .editor-shell {
    position: relative;

    font-family: var(--font-serif);
    font-size: base(0.625);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-body);
      line-height: 1.125;
    }
  }

  .editor-placeholder {
    position: absolute;
    top: 8px;
    left: 0px;
    font-size: 15px;
    color: var(--theme-elevation-500);
    /* Prevent text selection */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* Make it behave more like a background element (no interaction) */
    pointer-events: none;
  }
}

.floating-select-toolbar-popup__section-dropdown-align {
  display: flex;
  gap: 2px;
}
.floating-select-toolbar-popup__section-features {
  display: flex;
  gap: 2px;
}
.floating-select-toolbar-popup__section-dropdown-text {
  display: flex;
  gap: 2px;
}

.floating-select-toolbar-popup__section-format {
  display: flex;
  gap: 2px;
}
