@import 'payload/scss';

.editor-shell {
  position: relative;

  font-family: var(--font-serif);
  font-size: base(0.625);

  .ContentEditable__root > * {
    transition: transform 0.2s ease-in-out;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-body);
    line-height: 1.125;
  }
}

.editor-placeholder {
  position: absolute;
  top: 8px;
  left: 0px;
  font-size: 15px;
  color: var(--theme-elevation-500);
  /* Prevent text selection */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  /* Make it behave more like a background element (no interaction) */
  pointer-events: none;
}
