@import '../../../../scss/styles.scss';

.collection-edit {
  width: 100%;

  &__form {
    display: flex;
  }

  &__main {
    flex-grow: 1;
  }

  &__eyebrow {
    padding: base(1.5) 0;
    display: flex;
  }

  &__edit {
    background: white;
    padding: base(4);
  }

  &__sidebar {
    padding-left: base(2);
    width: base(13);
  }
}
