@layer payload-default {
  .display-items {
    display: flex;
    flex-direction: column;
    gap: var(--base);

    &__cell-with-icon {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: calc(var(--base) / 2);
    }
  }
}
