@layer payload-default {
  .select-locales-drawer__sub-header {
    padding: var(--spacer-2-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--stroke-width-small) solid var(--color-border);
  }

  .select-locales-drawer__content {
    padding: var(--spacer-2-5);
    display: flex;
    flex-direction: column;
    gap: var(--spacer-3);
  }

  .select-locales-drawer__item {
    display: flex;
    flex-direction: row;
    gap: var(--spacer-2);
  }
}
