@layer payload-default {
  .pill-selector {
    display: flex;
    flex-wrap: wrap;
    background: var(--color-bg-secondary);
    padding: var(--spacer-2-5);
    gap: var(--spacer-2-5);
  }

  .pill-selector__draggable-item {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .pill-selector__draggable-item--is-dragging {
    cursor: grabbing;
    z-index: 1;
  }

  /* TODO: delete this once all icons have been migrated to viewbox edge-to-edge */
  .pill-selector .pill__icon {
    padding: 0;
  }

  @media (min-width: 768px) {
    .pill-selector {
      padding: var(--spacer-4);
    }
  }
}
