@layer payload-default {
  .dropdown-indicator {
    cursor: pointer;
    display: flex;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    border-radius: var(--radius-medium);
  }

  .dropdown-indicator__icon {
    .stroke {
      stroke-width: 1px;
    }
  }
}
