@layer payload-default {
  .dropdown-indicator {
    cursor: pointer;
    display: flex;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    border-radius: var(--radius-medium);

    &:focus-visible {
      outline: var(--accessibility-outline);
      outline-offset: -3px; /* inset offset for larger icon sizing */
    }
  }

  .dropdown-indicator__icon {
    .stroke {
      stroke-width: 1px;
    }
  }
}
