@import '../../../scss/styles.scss';

@layer payload-default {
  .dropdown-indicator {
    cursor: pointer;
    @include btn-reset;

    &:focus-visible {
      outline: var(--accessibility-outline);
    }

    &__icon {
      .stroke {
        stroke-width: 1px;
      }
    }
  }
}
