@import '../../../../scss/styles.scss';

.group-field {
  margin: base(2) calc(var(--gutter-h) * -1);
  padding: base(2) var(--gutter-h);
  border-top: 1px solid var(--theme-elevation-100);
  border-bottom: 1px solid var(--theme-elevation-100);

  &--within-collapsible {
    margin: $baseline calc(#{$baseline} * -1);
    padding: $baseline;

    &:first-child {
      border-top: 0;
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &__header {
    margin-bottom: base(.75);
  }

  &__title {
    margin-bottom: 0;
  }

  @include small-break {
    &--within-collapsible {
      margin-left: calc(var(--gutter-h) * -1);
      margin-right: calc(var(--gutter-h) * -1);
    }
  }
}
