@import '../../../_css/common';

.row {
  display: flex;
  align-items: center;

  @include small-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.rowContent {
  margin-left: var(--base);

  @include small-break {
    margin-left: 0;
  }
}

.placeholder {
  background-color: var(--color-base-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  aspect-ratio: 5 / 4;
  width: 100%;
  max-width: 200px;

  @include small-break {
    max-width: unset;
    margin-bottom: calc(var(--base) / 2);
  }
}

.image {
  object-fit: cover;
}

.title {
  margin: 0;
}

.titleLink {
  text-decoration: none;
}

.itemsTotal {
  margin-bottom: var(--base);
  font-weight: 600;
}

.quantity {
  background-color: var(--background-light);
  color: var(--foreground);
  border: none;
  outline: none;
  padding: calc(var(--base) * 0.25) calc(var(--base) * 0.25);
}

.cartTotal {
  margin-top: var(--base);
  font-weight: 600;
}

.checkoutButton {
  margin-top: var(--base);
}
