@import '../../scss/styles.scss';

@layer payload-default {
  .collection-edit {
    width: 100%;
    display: flex;
    --gradient: linear-gradient(to left, rgba(0, 0, 0, 0.04) 0%, transparent 100%);

    &--live-preview-enabled {
      .collection-edit__main {
        width: 40%;

        &::after {
          content: ' ';
          position: absolute;
          top: 0;
          right: 0;
          width: calc(var(--base) * 2);
          height: 100%;
          background: var(--gradient);
          pointer-events: none;
          z-index: -1;
        }
      }
    }

    &__main {
      container-type: inline-size;

      &--popup-open {
        width: 100%;
      }
    }

    &__form {
      height: 100%;
      width: 100%;
    }

    &__auth {
      margin-bottom: base(1.6);
      border-radius: var(--style-radius-s);
    }

    @include small-break {
      &__auth {
        margin-top: 0;
        margin-bottom: var(--base);
      }
    }
  }
}
