@import '../../scss/styles.scss';

.collection-edit {
  width: 100%;

  &__form {
    height: 100%;
  }

  &__auth {
    margin-bottom: calc(var(--base) * 2);
    margin-top: calc(var(--base) * 0.5);
  }

  @include small-break {
    &__auth {
      margin-top: 0;
      margin-bottom: var(--base);
    }
  }
}
