@layer payload-default {
  .list-drawer__header {
    margin-top: var(--spacer-5);
    width: 100%;
  }

  .list-drawer__select-collection-wrap {
    margin-top: var(--spacer-2);

    .field-label {
      margin-bottom: var(--spacer-2);
      display: block;
    }
  }

  .list-drawer .collection-list__header {
    margin-bottom: var(--spacer-2);
  }

  @media (min-width: 768px) {
    .list-drawer__header {
      margin-top: var(--spacer-6);
    }

    .list-drawer .collection-list__header {
      margin-bottom: unset;
    }

    .list-drawer__select-collection-wrap {
      margin-top: var(--spacer-3);
    }
  }

  .drawer .list-drawer__header {
    margin-top: 0;
    align-items: center;
    padding: var(--spacer-2-5) var(--spacer-3) var(--spacer-2-5) var(--spacer-2);
    border-bottom: var(--stroke-width-small) solid var(--color-border);
    background: var(--color-bg);

    .list-header__title-and-actions {
      align-items: center;
      gap: var(--spacer-1);
      width: 100%;
    }

    .list-header__title {
      flex: 1 0 0;
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--color-text);
      font-family: var(--text-body-medium-strong-font-family);
      font-size: var(--text-body-medium-strong-font-size);
      font-weight: var(--text-body-medium-strong-font-weight);
      line-height: var(--text-body-medium-strong-line-height);
      letter-spacing: var(--text-body-medium-strong-letter-spacing);
    }
  }
}
