@import '../../../scss/styles.scss';

@layer payload-default {
  .list-drawer {
    &__header {
      margin-top: base(2.5);
      width: 100%;

      @include mid-break {
        margin-top: base(1.5);
      }
    }

    &__select-collection-wrap {
      margin-top: base(1);
    }

    @include mid-break {
      .collection-list__header {
        margin-bottom: base(0.5);
      }

      &__select-collection-wrap {
        margin-top: calc(var(--base) / 2);
      }
    }
  }
}
