@import '../../../scss/styles.scss';

@layer payload-default {
  .list-drawer {
    .list-header__title {
      @extend %h2;
    }

    .doc-drawer__toggler.list-header__create-new-button {
      background: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;
      color: inherit;
      border-radius: var(--style-radius-s);

      &:hover .pill {
        background: var(--theme-elevation-250);
      }

      &:focus:not(:focus-visible),
      &:focus-within:not(:focus-visible) {
        outline: none;
      }

      &:focus-visible {
        outline: var(--accessibility-outline);
        outline-offset: var(--accessibility-outline-offset);
      }

      &:disabled {
        pointer-events: none;
      }

      .pill {
        cursor: inherit;
      }
    }

    &__close-drawer-button {
      flex-shrink: 0;
      border: 0;
      background-color: transparent;
      padding: 0;
      margin: 0;
      cursor: pointer;
      overflow: hidden;
      width: base(1);
      height: base(1);

      svg {
        width: base(2);
        height: base(2);
        position: relative;
        inset-inline-start: base(-0.5);
        top: base(-0.5);

        .stroke {
          stroke-width: 2px;
          vector-effect: non-scaling-stroke;
        }
      }
    }

    &__select-collection-wrap {
      margin-top: base(1);
    }

    @include mid-break {
      .collection-list__header {
        margin-bottom: base(0.5);
      }

      &__select-collection-wrap {
        margin-top: calc(var(--base) / 2);
      }
    }
  }
}
