@import '../../../../scss/styles.scss';

.blocks-field {
  margin: 0 0 base(2);

  &__header {
    h3 {
      margin-bottom: 0;
    }

    margin-bottom: base(1);
  }

  &__header-wrap {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  &__header-actions {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
  }

  &__header-action {
    @extend %btn-reset;
    cursor: pointer;
    margin-left: base(.5);

    &:hover {
      text-decoration: underline;
    }
  }

  &__block-header {
    display: inline-flex;
    max-width: 100%;
    overflow: hidden;
  }

  &__block-number {
    margin-right: base(.375);
    flex-shrink: 0;
  }

  &__block-pill {
    flex-shrink: 0;
    display: block;
  }

  .section-title {
    min-width: 0;
  }

  &__row {
    margin-bottom: base(.5);
  }

  &__error-wrap {
    position: relative;
  }

  &__drawer-toggler {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;

    .btn {
      color: var(--theme-elevation-400);
      margin: 0;

      &:hover {
        color: var(--theme-elevation-800);
      }
    }
  }
}
