@import '../../scss/styles.scss';

@layer payload-default {
  .document-fields {
    width: 100%;
    display: flex;
    --doc-sidebar-width: 325px;
    --sidebar-gutter-h-right: var(--gutter-h);
    --sidebar-gutter-h-left: calc(var(--base) * 2);
    --main-gutter-h-left: var(--gutter-h);
    --main-gutter-h-right: calc(var(--base) * 2);

    [dir='rtl'] &:not(&--force-sidebar-wrap) {
      --sidebar-gutter-h-left: var(--gutter-h);
      --sidebar-gutter-h-right: calc(var(--base) * 2);
      --main-gutter-h-left: calc(var(--base) * 2);
      --main-gutter-h-right: var(--gutter-h);
    }

    &--force-sidebar-wrap,
    &:has(.document-fields__sidebar-wrap .document-fields__sidebar-fields > .render-fields:empty) {
      --sidebar-gutter-h-left: var(--gutter-h);
      --sidebar-gutter-h-right: var(--gutter-h);
      --main-gutter-h-left: var(--gutter-h);
      --main-gutter-h-right: var(--gutter-h);
    }

    &--has-sidebar {
      --main-width: 66.66%;
      --main-border: 1px solid var(--theme-elevation-100);
      --main-field-margin: calc(var(--base) * -2);

      &:has(
          .document-fields__sidebar-wrap .document-fields__sidebar-fields > .render-fields:empty
        ) {
        --main-width: 100%;
        --main-border: none;
        --main-field-margin: initial;
      }

      .document-fields {
        &__main {
          width: var(--main-width);
        }

        &__edit {
          padding-left: var(--main-gutter-h-left);
          padding-right: var(--main-gutter-h-right);
          [dir='ltr'] & {
            top: 0;
            right: 0;
            border-right: var(--main-border);
          }

          [dir='rtl'] & {
            top: 0;
            left: 0;
            border-left: var(--main-border);
          }
        }

        &__fields {
          & > .tabs-field,
          & > .group-field {
            margin-right: var(--main-field-margin);
          }
        }
      }
    }

    &__main {
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 100%;
      flex-grow: 1;
    }

    &__edit {
      padding-top: calc(var(--base) * 1.5);
      padding-bottom: var(--spacing-view-bottom);
      flex-grow: 1;
    }

    &__sidebar-wrap {
      &:has(.document-fields__sidebar-fields > .render-fields:empty) {
        --sidebar-wrap-width: 0;
        --sidebar-wrap-min-width: 0;
        --sidebar-wrap-position: initial;
        --sidebar-wrap-top: initial;
        --sidebar-wrap-height: initial;
        --sidebar-wrap-flex-shrink: initial;
      }

      position: var(--sidebar-wrap-position, sticky);
      top: var(--sidebar-wrap-top, var(--doc-controls-height));
      width: var(--sidebar-wrap-width, 33.33%);
      height: var(--sidebar-wrap-height, calc(100vh - var(--doc-controls-height)));
      min-width: var(--sidebar-wrap-min-width, var(--doc-sidebar-width));
      flex-shrink: var(--sidebar-wrap-flex-shrink, 0);
    }

    &__sidebar {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }

    &__sidebar-fields {
      display: flex;
      flex-direction: column;
      gap: var(--base);
      padding-top: calc(var(--base) * 1.5);
      padding-left: var(--sidebar-gutter-h-left);
      padding-right: var(--sidebar-gutter-h-right);
      padding-bottom: var(--spacing-view-bottom);
    }

    &__label {
      color: var(--theme-elevation-400);
    }

    &--force-sidebar-wrap {
      display: block;
      isolation: isolate;

      .document-fields {
        &__main {
          width: 100%;
          min-height: initial;
        }

        &__sidebar-wrap {
          position: static;
          width: 100%;
          height: initial;
          border-left: 0;
        }

        &__sidebar {
          padding-bottom: base(3.5);
          overflow: visible;
        }

        &__sidebar-fields {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    @include mid-break {
      display: block;
      [dir='rtl'] &:not(&--force-sidebar-wrap) {
        --sidebar-gutter-h-left: var(--gutter-h);
        --sidebar-gutter-h-right: var(--gutter-h);
        --main-gutter-h-left: var(--gutter-h);
        --main-gutter-h-right: var(--gutter-h);
      }
      --main-gutter-h-left: var(--gutter-h);
      --main-gutter-h-right: var(--gutter-h);
      --sidebar-gutter-h-left: var(--gutter-h);
      --sidebar-gutter-h-right: var(--gutter-h);

      &--has-sidebar {
        .document-fields {
          &__main {
            width: 100%;
          }

          &__edit {
            [dir='ltr'] & {
              border-right: 0;
            }

            [dir='rtl'] & {
              border-left: 0;
            }
          }

          &__fields {
            & > .tabs-field,
            & > .group-field {
              margin-right: calc(var(--gutter-h) * -1);
            }
          }
        }
      }

      &__main {
        width: 100%;
        min-height: initial;
      }

      &__sidebar-wrap {
        position: static;
        width: 100%;
        height: initial;
        border-left: 0;
      }

      &__form {
        display: block;
      }

      &__sidebar-fields {
        padding-top: 0;
        padding-bottom: 0;
        gap: base(0.5);
      }

      &__sidebar {
        padding-bottom: base(3.5);
        overflow: visible;
      }
    }

    @include small-break {
      &__sidebar-wrap {
        min-width: initial;
        width: 100%;
      }

      &__edit {
        padding-top: calc(var(--base) / 2);
      }
    }
  }
}
