@layer payload-default {
  .locked {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    color: var(--color-icon);
    border: 0;
    background: transparent;
    border-radius: var(--radius-medium);
    cursor: default;
    outline: var(--stroke-width-medium) solid transparent;
    outline-offset: calc(var(--stroke-width-medium) * -1);

    &:hover {
      background: var(--color-bg-secondary);
    }

    &:active {
      background: var(--color-bg-secondary-pressed);
    }

    &:focus-visible {
      outline-color: var(--color-border-selected);
    }
  }
}
