@import '../../scss/styles.scss';

@layer payload-default {
  .create-first-user {
    display: flex;
    flex-direction: column;
    gap: base(0.4);

    > form > .field-type {
      margin-bottom: var(--base);

      & .form-submit {
        margin: 0;
      }
    }
  }

  .emailAndUsername {
    margin-bottom: var(--base);
  }
}
