@import '../../scss/styles.scss';

@layer payload-default {
  .document-locked {
    @include blur-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__wrapper {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: var(--base);
      padding: base(2);
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--base);
      max-width: base(36);

      > * {
        margin: 0;
      }
    }

    &__controls {
      display: flex;
      gap: var(--base);

      .btn {
        margin: 0;
      }
    }
  }
}
