.richText {
  text-align: center; // hack but whatever
  max-width: 1000px;

  a {
    text-decoration: underline;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  span {
    white-space: pre-wrap;
  }
}
