@import '../../../scss/styles.scss';

@layer payload-default {
  .popup-divider {
    width: calc(100% + var(--spacer-2) * 2);
    height: 1px;
    background-color: var(--color-border);
    border: none;
    margin: var(--spacer-2) calc(var(--spacer-2) * -1);
  }
}
