@layer payload-default {
  .version-pill-label {
    display: flex;
    align-items: center;
    gap: var(--spacer-2);
    flex-direction: row;
  }

  .version-pill-label-text {
    font-weight: var(--text-body-medium-strong-font-weight);
  }

  .version-pill-label-date {
    overflow: hidden;
    color: var(--color-text-secondary);
    text-overflow: ellipsis;
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-style: normal;
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    letter-spacing: var(--text-body-medium-letter-spacing);
  }
}
