@layer payload-default {
  .lexical-diff {
    ul.list-check {
      padding-left: 0;
    }

    .checkboxItem {
      list-style-type: none;
    }

    .checkboxItem__wrapper {
      display: flex;
      align-items: center;
    }

    .checkboxItem__icon {
      width: var(--spacer-3);
      height: var(--spacer-3);
      margin-right: var(--spacer-2);
      border: var(--stroke-width-small) solid var(--color-text);
      border-radius: var(--radius-medium);
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      .icon--check {
        height: var(--spacer-2-5);
      }

      &[data-match-type='create'] {
        border-color: var(--diff-create-pill-color);
      }

      &[data-match-type='delete'] {
        border-color: var(--diff-delete-pill-color);
      }
    }

    .checkboxItem--nested {
      margin-left: var(--spacer-4);
    }
  }
}
