@import '../../../scss/styles.scss';

.status-list {
  position: relative;
  z-index: $z-status;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    background: $color-green;
    color: $color-dark-gray;
    padding: base(.5) $baseline;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
  }

  button {
    @extend %btn-reset;
    cursor: pointer;

    svg {
      width: base(1);
      height: base(1);
    }

    &:hover {
      opacity: .5;
    }

    &:active,
    &:focus {
      outline: none;
      border: 0;
    }
  }

  li.status-list__status--error {
    background: $color-red;
    color: white;

    button svg {
      @include color-svg(white);
    }
  }
}
