@layer payload-default {
  .field-type.select {
    position: relative;
  }

  .field-type.select.error .rs__control {
    border-color: var(--color-border-danger-strong);

    &:hover {
      border-color: var(--color-border-danger-strong);
    }
  }
}
