@import '@payloadcms/ui/src/scss/styles';

@layer payload-default {
  .rich-text__button {
    position: relative;
    cursor: pointer;

    svg {
      width: base(0.75);
      height: base(0.75);
    }

    &--disabled {
      opacity: 0.4;
    }
  }
}
