.after-dashboard {
  border-top: 1px solid var(--color-border);
  padding-top: var(--spacer-3);

  & > * {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: var(--spacer-2);
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
