.after-dashboard {
  border-top: 1px solid var(--theme-elevation-100);
  padding-top: var(--base);

  & > * {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: calc(var(--base) / 2);
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
