@import '../../scss/styles.scss';

.LexicalEditorTheme {
  &__ltr {
    text-align: left;
  }
  &__ltr {
    text-align: left;
  }

  &__rtl {
    text-align: right;
  }

  &__paragraph {
    margin: 0 0 1.5em;
    position: relative;
  }

  // No bottom margin for last paragraph in editor. This also created nice animations when adding a new line at the end
  .ContentEditable__root > &__paragraph:last-child {
    margin-bottom: 0;
  }

  &__quote {
    margin: 0 0 10px 20px;
    font-size: 15px;
    color: rgb(101, 103, 107);
    border-left-color: rgb(206, 208, 212);
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 16px;
  }

  &__h1 {
    font-size: 2.8rem;
    line-height: 1.125;
    color: rgb(5, 5, 5);
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__h2 {
    font-size: 2rem;
    color: rgb(5, 5, 5);
    font-weight: 700;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
  }

  &__h3 {
    font-size: 1.4rem;
    color: rgb(101, 103, 107);
    font-weight: 700;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
  }

  &__indent {
    --lexical-indent-base-value: 40px;
  }

  &__textBold {
    font-weight: bold;
  }

  &__textItalic {
    font-style: italic;
  }

  &__textUnderline {
    text-decoration: underline;
  }

  &__textStrikethrough {
    text-decoration: line-through;
  }

  &__textUnderlineStrikethrough {
    text-decoration: underline line-through;
  }

  &__textSubscript {
    font-size: 0.8em;
    vertical-align: sub !important;
  }

  &__textSuperscript {
    font-size: 0.8em;
    vertical-align: super;
  }

  &__textCode {
    background-color: rgb(240, 242, 245);
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
  }

  &__hashtag {
    background-color: rgba(88, 144, 255, 0.15);
    border-bottom: 1px solid rgba(88, 144, 255, 0.3);
  }

  .ContentEditable__root &__link {
    pointer-events: none;
  }

  &__link {
    color: var(--color-blue-600);
    text-decoration: none;
    border-bottom: 1px dotted;
  }

  &__code {
    /*background-color: rgb(240, 242, 245);*/
    font-family: Menlo, Consolas, Monaco, monospace;
    display: block;
    padding: 8px 8px 8px 52px;
    line-height: 1.53;
    font-size: 13px;
    margin: 8px 0;
    tab-size: 2;
    /* white-space: pre; */
    overflow-x: auto;
    position: relative;
  }

  &__code:before {
    content: attr(data-gutter);
    position: absolute;
    /*background-color: #eee;*/
    left: 0;
    top: 0;
    border-right: 1px solid #ccc;
    padding: 8px;
    color: #777;
    white-space: pre-wrap;
    text-align: right;
    min-width: 25px;
  }

  &__characterLimit {
    display: inline;
    background-color: #ffbbbb !important;
  }

  &__ol1 {
    padding: 0;
    list-style-position: outside;
    margin: 0 0 1.5em;
  }

  &__ol2 {
    padding: 0;
    margin: 0;
    list-style-type: upper-alpha;
    list-style-position: outside;
  }

  &__ol3 {
    padding: 0;
    margin: 0;
    list-style-type: lower-alpha;
    list-style-position: outside;
  }

  &__ol4 {
    padding: 0;
    margin: 0;
    list-style-type: upper-roman;
    list-style-position: outside;
  }

  &__ol5 {
    padding: 0;
    margin: 0;
    list-style-type: lower-roman;
    list-style-position: outside;
  }

  &__ul {
    padding: 0;
    margin: 0 0 1.5em;
    list-style-position: outside;
  }

  &__ul ul {
    margin: 0;
  }

  &__listItem {
    margin: 0 0 0.4em 16px;
  }

  &__listItemChecked,
  &__listItemUnchecked {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 24px;
    padding-right: 24px;
    list-style-type: none;
    outline: none;
  }

  &__listItemChecked {
    text-decoration: line-through;
  }

  &__listItemUnchecked:before,
  &__listItemChecked:before {
    content: '';
    width: 16px;
    height: 16px;
    top: 2px;
    left: 0;
    cursor: pointer;
    display: block;
    background-size: cover;
    position: absolute;
  }

  &__listItemUnchecked[dir='rtl']:before,
  &__listItemChecked[dir='rtl']:before {
    left: auto;
    right: 0;
  }

  &__listItemUnchecked:focus:before,
  &__listItemChecked:focus:before {
    box-shadow: 0 0 0 2px #a6cdfe;
    border-radius: $style-radius-m;
  }

  &__listItemUnchecked:before {
    border: 1px solid #999;
    border-radius: $style-radius-m;
  }

  &__listItemChecked:before {
    border: 1px solid rgb(61, 135, 245);
    border-radius: $style-radius-m;
    background-color: #3d87f5;
    background-repeat: no-repeat;
  }

  &__listItemChecked:after {
    content: '';
    cursor: pointer;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    display: block;
    top: 6px;
    width: 3px;
    left: 7px;
    right: 7px;
    height: 6px;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0;
  }

  &__nestedListItem {
    list-style-type: none;
  }

  &__nestedListItem:before,
  &__nestedListItem:after {
    display: none;
  }

  &__tokenComment {
    color: slategray;
  }

  &__tokenPunctuation {
    color: #999;
  }

  &__tokenProperty {
    color: #905;
  }

  &__tokenSelector {
    color: #690;
  }

  &__tokenOperator {
    color: #9a6e3a;
  }

  &__tokenAttr {
    color: #07a;
  }

  &__tokenVariable {
    color: #e90;
  }

  &__tokenFunction {
    color: #dd4a68;
  }

  &__mark {
    background: rgba(255, 212, 0, 0.14);
    border-bottom: 2px solid rgba(255, 212, 0, 0.3);
    padding-bottom: 2px;
  }

  &__markOverlap {
    background: rgba(255, 212, 0, 0.3);
    border-bottom: 2px solid rgba(255, 212, 0, 0.7);
  }

  &__mark.selected {
    background: rgba(255, 212, 0, 0.5);
    border-bottom: 2px solid rgba(255, 212, 0, 1);
  }

  &__markOverlap.selected {
    background: rgba(255, 212, 0, 0.7);
    border-bottom: 2px solid rgba(255, 212, 0, 0.7);
  }

  &__embedBlock {
    user-select: none;
  }

  &__embedBlockFocus {
    outline: 2px solid rgb(60, 132, 244);
  }
}

html[data-theme='dark'] {
  .LexicalEditorTheme {
    &__h1,
    &__h2 {
      color: rgb(255, 255, 255);
    }

    &__h3 {
      color: rgb(148, 151, 157);
    }

    &__link {
      color: var(--color-blue-600);
    }

    &__quote {
      color: rgb(193, 198, 206);
      border-left-color: var(--theme-elevation-150);
    }

    &__textCode {
      background-color: rgb(0, 0, 0);
    }
  }
}
