@import '~@payloadcms/ui/scss';

@layer payload-default {
  .LexicalEditorTheme {
    &__ltr {
      text-align: left;
    }

    &__rtl {
      text-align: right;
    }

    &__paragraph {
      font-size: base(0.8);
      margin-bottom: 0.55em;
      position: relative;
      line-height: 1.5;
      letter-spacing: normal;
      color: var(--theme-text);
    }

    &__quote {
      color: var(--theme-text);
      font-size: base(0.8);
      margin-block: base(0.8);
      margin-inline: base(0.2);
      border-inline-start-color: var(--theme-elevation-150);
      border-inline-start-width: base(0.2);
      border-inline-start-style: solid;
      padding-inline-start: base(0.6);
      padding-block: base(0.2);
    }

    &__h1,
    &__h2,
    &__h3,
    &__h4,
    &__h5,
    &__h6 {
      font-family: var(--font-body);
      line-height: 1.125;
      letter-spacing: 0;
      color: var(--theme-text);
    }

    &__h1 {
      font-size: base(1.4);
      font-weight: 700;
      margin-block: 0.5em 0.4em;
    }

    &__h2 {
      font-size: base(1.25);
      font-weight: 700;
      margin-block: 0.55em 0.4em;
    }

    &__h3 {
      font-size: base(1.1);
      font-weight: 700;
      margin-block: 0.6em 0.4em;
    }

    &__h4 {
      font-size: base(1);
      font-weight: 700;
      margin-block: 0.65em 0.4em;
    }

    &__h5 {
      font-size: base(0.9);
      font-weight: 700;
      margin-block: 0.7em 0.4em;
    }

    &__h6 {
      font-size: base(0.8);
      font-weight: 700;
      margin-block: 0.75em 0.4em;
    }

    &__indent {
      --lexical-indent-base-value: 40px;
    }

    &__textBold {
      font-weight: bold;
    }

    &__textItalic {
      font-style: italic;
    }

    &__textUnderline {
      text-decoration: underline;
    }

    &__textStrikethrough {
      text-decoration: line-through;
    }

    &__textUnderlineStrikethrough {
      text-decoration: underline line-through;
    }

    &__tabNode {
      position: relative;
      text-decoration: none;
    }

    &__tabNode.LexicalEditorTheme__textUnderline::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.15em;
      border-bottom: 0.1em solid currentColor;
    }

    &__tabNode.LexicalEditorTheme__textStrikethrough::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0.69em;
      border-top: 0.1em solid currentColor;
    }

    &__tabNode.LexicalEditorTheme__textUnderlineStrikethrough::before,
    &__tabNode.LexicalEditorTheme__textUnderlineStrikethrough::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
    }

    &__tabNode.LexicalEditorTheme__textUnderlineStrikethrough::before {
      top: 0.69em;
      border-top: 0.1em solid currentColor;
    }

    &__tabNode.LexicalEditorTheme__textUnderlineStrikethrough::after {
      bottom: 0.05em;
      border-bottom: 0.1em solid currentColor;
    }

    &__textSubscript {
      font-size: 0.8em;
      vertical-align: sub !important;
    }

    &__textSuperscript {
      font-size: 0.8em;
      vertical-align: super;
    }

    &__textCode {
      background-color: var(--theme-elevation-50);
      border: 1px solid var(--theme-elevation-150);
      color: var(--theme-error-600);
      padding: base(0.1) base(0.2);
      font-family: 'SF Mono', Menlo, Consolas, Monaco, monospace;
      font-size: 0.875em;
      border-radius: var(--style-radius-s);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }

    &__link {
      color: var(--theme-success-750);
      text-decoration: none;
      border-bottom: 1px dotted;
      pointer-events: none;
    }

    // Renders cursor when native browser does not. See https://github.com/facebook/lexical/issues/3417
    &__blockCursor {
      display: block;
      pointer-events: none;
      position: absolute;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        width: 20px;
        border-top: 1px solid var(--theme-text);
        animation: CursorBlink 1.1s steps(2, start) infinite;
      }
    }

    @keyframes CursorBlink {
      to {
        visibility: hidden;
      }
    }

    &__ol1 {
      padding: 0;
      list-style-position: outside;
      margin: base(0.4) 0 base(0.8);
    }

    &__ol2 {
      padding: 0;
      margin: 0;
      list-style-type: upper-alpha;
      list-style-position: outside;
    }

    &__ol3 {
      padding: 0;
      margin: 0;
      list-style-type: lower-alpha;
      list-style-position: outside;
    }

    &__ol4 {
      padding: 0;
      margin: 0;
      list-style-type: upper-roman;
      list-style-position: outside;
    }

    &__ol5 {
      padding: 0;
      margin: 0;
      list-style-type: lower-roman;
      list-style-position: outside;
    }

    &__ul {
      padding: 0;
      margin: base(0.4) 0 base(0.8);
      list-style-position: outside;
    }

    &__ul ul {
      margin: 0;
    }

    &__listItem {
      font-size: base(0.8);
      margin: 0 0 0.4em 40px;
      color: var(--theme-text);
    }

    &__listItem::marker {
      // See https://github.com/facebook/lexical/pull/7325/files#diff-915a0be0588ee3ceb38aca4ae182f51291c8885e7af5f8dca2a91f8d92a95e0c
      // These are applied by the ListItemNode
      color: var(--listitem-marker-color);
      background-color: var(--listitem-marker-background-color);
      font-family: var(--listitem-marker-font-family);
      font-size: var(--listitem-marker-font-size);
    }

    &__listItem[dir='rtl'] {
      margin: 0 40px 0.4em 0;
    }

    &__listItemChecked,
    &__listItemUnchecked {
      position: relative;
      // Instead of having margin-left: 40px like other list-items or indented paragraphs,
      // we use padding-left: 25px + margin-left: 15px = 40px, so that the click position
      // calculation in `CheckListPlugin` matches the checkbox
      margin-left: 15px;
      padding-left: 25px;
      list-style-type: none;
      outline: none;
    }

    // See comment above for why we need this
    &__listItemUnchecked[dir='rtl'],
    &__listItemChecked[dir='rtl'] {
      margin-left: 0;
      padding-left: 0;
      padding-right: 25px;
      margin-right: 15px;
    }

    &__listItemChecked {
      text-decoration: line-through;
    }

    &__listItemUnchecked:before,
    &__listItemChecked:before {
      content: '';
      width: base(0.8);
      height: base(0.8);
      top: base(0.1);
      left: 0;
      cursor: pointer;
      display: block;
      background-size: cover;
      position: absolute;
    }

    &__listItemUnchecked[dir='rtl']:before,
    &__listItemChecked[dir='rtl']:before {
      left: auto;
      right: 0;
    }

    &__listItemUnchecked:focus:before,
    &__listItemChecked:focus:before {
      outline: 0;
      box-shadow: 0 0 3px 3px var(--theme-success-400);
      border: 1px solid var(--theme-elevation-250);
      border-radius: var(--style-radius-s);
    }

    &__listItemUnchecked:before {
      border: 1px solid var(--theme-elevation-250);
      border-radius: $style-radius-s;
    }

    &__listItemChecked:before {
      border: 1px solid var(--theme-elevation-500);
      border-radius: $style-radius-s;
      background-color: var(--theme-elevation-100);
      background-repeat: no-repeat;
    }

    &__listItemChecked:after {
      content: '';
      cursor: pointer;
      border-color: var(--theme-text);
      border-style: solid;
      position: absolute;
      display: block;
      top: 6px;
      width: 3px;
      left: 7px;
      right: 7px;
      height: 6px;
      transform: rotate(45deg);
      border-width: 0 2px 2px 0;
    }

    &__nestedListItem {
      list-style-type: none;
    }

    &__nestedListItem:before,
    &__nestedListItem:after {
      display: none;
    }
  }

  html[data-theme='dark'] {
    .LexicalEditorTheme__textCode {
      color: var(--theme-warning-600);
    }
  }
}
