@import '../../../../scss/styles';

.date-time-field {
  margin-bottom: $baseline;

  &__error-wrap {
    position: relative;
  }

  &--has-error {
    .react-datepicker__input-container input {
      background-color: lighten($color-red, 20%);
    }
  }
}
