@import '../../scss/styles';

@layer payload-default {
  .icon--filter {
    height: $baseline;
    width: $baseline;

    .stroke {
      stroke: currentColor;
      stroke-width: $style-stroke-width-s;
    }
  }
}
