@import '../../../scss/styles.scss';

.upload-gallery {
  list-style: none;
  padding: 0;
  margin: base(2) -#{base(.5)};
  width: calc(100% + #{$baseline});
  display: flex;
  flex-wrap: wrap;

  li {
    min-width: 0;
    width: 16.66%;
  }

  .upload-card {
    margin: base(.5);
    max-width: initial;
  }

  @include mid-break {
    li {
      width: 33.33%;
    }
  }

  @include small-break {
    li {
      width: 50%;
    }
  }
}
