@import '../../../scss/styles.scss';

@layer payload-default {
  .popup-list-group-label {
    color: var(--theme-elevation-500);
    padding: 0 var(--list-button-padding);
    font-weight: 600;
    line-height: 1;
    margin-bottom: calc(var(--base) * 0.5);
  }
}
