@layer payload-default {
  .popup-list-group-label {
    display: flex;
    align-items: center;
    height: var(--spacer-5);
    padding-inline: var(--spacer-3);
    color: var(--color-text-secondary);
    font-family: var(--text-body-medium-strong-font-family);
    font-size: var(--text-body-medium-strong-font-size);
    font-weight: var(--text-body-medium-strong-font-weight);
    line-height: var(--text-body-medium-strong-line-height);
  }
}
