.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 2rem 0;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
