@import "../../../../scss/styles.scss";

//  WHEN EXPANDED

.collection-edit {
  width: 100%;

  &__form {
    height: 100%;
  }

  &__main {
    width: calc(100% - #{base(2.6)}); // width: calc(100% - #{base(15)});
    display: flex;
    flex-direction: column;
    min-height: 100%;
    //added
    //margin-top: 10px;
  }

  &__header {
    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.25;
    }
  }

  // right sidebar header
  &__collection-actions {
    //background-color: red;
    list-style: none;
    margin: 0;
    padding: base(0.5) base(0.5);
    //padding: base(1.5) base(0.5);
    display: flex;

    li {
      margin-right: base(0.75);
    }
  }

  &__edit {
    padding-top: base(1);
    padding-bottom: base(2);
    flex-grow: 1;
  }

  // right sidebar body
  &__sidebar-wrap {
    background-color: blue;
    position: fixed;
    width: base(
      2.6
    ); // width base(15); // this should be the same of the base in the main
    height: 100%;
    top: 0;
    right: 0;
    overflow: visible;
    border-left: 1px solid var(--theme-elevation-100);
    // added line
    padding-top: 10px;
  }

  &__sidebar {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    // added
    background-color: purple;
    margin-top: 75px;
    //margin-left: 10px;
  }

  &__sidebar-sticky-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__collection-actions,
  &__document-actions,
  &__meta,
  &__sidebar-fields {
    padding-left: base(1.5);
  }

  // where buttons are
  &__document-actions {
    padding-right: $baseline;
    position: absolute; // position: sticky;
    top: 0;
    // z-index: var(--z-nav);
    // added lines
    //background-color: red;
    //@include blur-bg;
    //background-color: pink;
    background-color: var(--theme-elevation-0);
    // backdrop-filter: blur(5px) contrast(50%) brightness(28%);
    width: base(15);
    //backdrop-filter: ;
    // margin-left: -326px;
    transform: translateX(-295px);
    height: 6.58rem;
    border-bottom: 1px solid var(--theme-elevation-100);

    > * {
      position: relative;
      z-index: 1;
      //
      margin-top: -6px;
    }

    @include mid-break {
      @include blur-bg;
    }
  }

  &__document-actions--has-2 {
    display: flex;

    > * {
      width: calc(50% - #{base(0.5)});
    }

    > *:first-child {
      margin-right: base(0.5); //margin-right: base(0.5);
      // added line
      margin-left: -15px;
    }

    > *:last-child {
      margin-left: base(0.5); // margin-left: base(0.5);
    }

    .form-submit {
      .btn {
        width: 100%;
        padding-left: base(0.5);
        padding-right: base(0.5);
      }
    }
  }

  &__api-url {
    margin-bottom: base(1.5);

    a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__sidebar-fields {
    padding-right: $baseline;
    display: flex;
    flex-direction: column;
    gap: $baseline;

    .preview-btn {
      display: inline-block;
      margin: 0;
      width: calc(50% - #{base(0.5)});
    }

    .render-fields {
      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__meta {
    margin: auto 0 $baseline 0;
    padding-top: $baseline;
    padding-right: $baseline;
    list-style: none;

    li {
      margin-bottom: base(0.5);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    color: var(--theme-elevation-400);
  }

  &__collection-actions,
  &__api-url {
    a,
    button {
      cursor: pointer;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--is-editing {
    .collection-edit__sidebar {
      padding-top: 0;
    }
  }

  @include mid-break {
    &__main {
      width: 100%;
      min-height: initial;
    }

    &__sidebar-wrap {
      position: static;
      width: 100%;
      height: initial;
    }

    &__meta {
      border-top: 1px solid var(--theme-elevation-100);
      padding-right: var(--gutter-h);
    }

    &__form {
      display: block;
    }

    &__edit {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__document-actions {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: auto;
      z-index: var(--z-nav);
    }

    &__document-actions,
    &__meta,
    &__sidebar-fields {
      padding-left: var(--gutter-h);
      padding-right: var(--gutter-h);
    }

    &__sidebar-wrap {
      border-left: 0;
    }

    &__sidebar-fields {
      padding-top: 0;
      padding-right: var(--gutter-h);
      gap: base(0.5);

      .preview-btn {
        width: 100%;
      }
    }

    &__collection-actions {
      border-top: 1px solid var(--theme-elevation-100);
      padding: base(1) 0 0 var(--gutter-h);
      order: 1;

      li {
        margin: 0 base(0.5) 0 0;
      }
    }

    &__sidebar {
      padding-bottom: base(3.5);
      overflow: visible;
    }
  }
}
