
// As this is the demo folder, we import Payload SCSS functions relatively.
@import '../../../../scss';

// In your own projects, you'd import as follows:
// @import '~payload/scss';

.after-dashboard {
  &__cards {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
