@import '_styles';

.current-view-nav {
  @include m;
  display: flex;

  * {
    display: block;
  }

  a {
    margin-right: rem(.25);
    border: 0;

    label {
      cursor: pointer;
    }
  }

  > label {
    color: $gray;
  }
}
