@layer payload-default {
  .radio-input {
    display: flex;
    align-items: center;
    gap: var(--spacer-2);
    cursor: pointer;
    position: relative;
    padding-block: var(--spacer-1);

    input[type='radio'] {
      opacity: 0;
      margin: 0;
      position: absolute;
      width: var(--spacer-3);
      height: var(--spacer-3);
    }

    input[type='radio']:focus-visible + .radio-input__styled-radio {
      outline: var(--stroke-width-small) solid var(--color-border-selected);
      outline-offset: var(--stroke-width-small);
    }
  }

  .radio-input__styled-radio {
    border: var(--stroke-width-small) solid var(--special-border-translucent);
    background-color: var(--color-bg-secondary);
    width: var(--spacer-3);
    height: var(--spacer-3);
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    flex-shrink: 0;
    box-sizing: border-box;

    &::before {
      content: '';
      display: block;
      border-radius: var(--radius-full);
      background-color: var(--color-icon-onbrand);
      border: var(--stroke-width-small) solid var(--special-border-translucent);
      box-sizing: border-box;
      width: var(--spacer-2);
      height: var(--spacer-2);
      opacity: 0;
    }
  }

  .radio-input__styled-radio--disabled {
    background-color: var(--color-bg);
    border-color: var(--color-border-disabled);
  }

  .radio-input__label {
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    letter-spacing: var(--text-letter-spacing);
    color: var(--color-text);
  }

  .radio-input--is-selected {
    .radio-input__styled-radio {
      background-color: var(--color-bg-brand);

      &::before {
        opacity: 1;
      }
    }
  }

  .radio-input:not(:has(input:disabled)) {
    &:hover {
      .radio-input__styled-radio {
        border-color: var(--special-border-translucent-strong);
      }
    }

    &:active:not(.radio-input--is-selected) .radio-input__styled-radio {
      background-color: var(--color-bg-secondary-hover);
    }

    &.radio-input--is-selected {
      &:hover .radio-input__styled-radio {
        background-color: var(--color-bg-brand);
      }

      &:active .radio-input__styled-radio {
        background-color: var(--color-bg-brand-hover);
      }
    }
  }

  .radio-input--is-selected .radio-input__styled-radio--disabled {
    background-color: var(--color-bg-disabled);
  }

  .radio-input:has(input:disabled) .radio-input__label {
    color: var(--color-text-disabled);
  }
}
