@import '../../../scss/styles';

.reset-password {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;

  &__wrap {
    margin: 0 auto base(1);
    width: 100%;

    svg {
      width: 100%;
    }
  }
}
