.customButton {
  :global(.btn) {
    background-color: var(--theme-success-150);
    color: var(--theme-success-750);

    &:hover {
      background-color: var(--theme-success-100) !important;
    }

    &:disabled {
      background-color: var(--theme-success-100);
      color: var(--theme-success-750);
    }
  }

  :global(.popup-button) {
    background-color: var(--theme-success-150);
    color: var(--theme-success-750);

    &:hover {
      background-color: var(--theme-success-100) !important;
    }

    &:disabled {
      background-color: var(--theme-success-100);
      color: var(--theme-success-750);
    }
  }
}
