.customButton {
  :global(.btn) {
    background-color: var(--theme-success-500);
    color: var(--theme-success-900);

    &:hover {
      background-color: var(--theme-success-550) !important;
    }

    &:disabled {
      background-color: var(--theme-success-750);
      color: var(--theme-success-500);
    }
  }
}

[data-theme='dark'] {
  .customButton {
    :global(.btn) {
      background-color: var(--theme-success-500) !important;
      color: var(--theme-success-100) !important;

      &:hover {
        background-color: var(--theme-success-400) !important;
      }

      &:disabled {
        background-color: var(--theme-success-750) !important;
        color: var(--theme-success-250) !important;
      }
    }
  }
}
