@import '../../../../scss/styles.scss';

.field-type.confirm-password {
	position: relative;
  margin-bottom: $baseline;

	input {
		@include formInput;
	}

	&.error {
		input {
      background-color: lighten($color-red, 20%);
		}
	}
}
