@import '../../../../../scss/styles';

html[data-theme='light'] {
  .fixed-toolbar {
    @include shadow-m;
  }
}

.fixed-toolbar {
  display: inline-flex;
  align-items: center;
  background: var(--color-base-0);
  padding: 0 3.72px 0 6.25px;
  vertical-align: middle;
  border-radius: 6.25px;
  height: 37.5px;
  position: sticky;
  z-index: 1;
  top: var(--doc-controls-height);


  &__group {
    display: flex;
    align-items: center;
    gap: 2px;

    .icon {
      min-width: 20px;
      height: 20px;
      color: var(--color-base-600);
    }

    .divider {
      width: 1px;
      height: 15px;
      background-color: var(--color-base-100);
      margin: 0 6.25px;
    }
  }

}
