@layer payload-default {
  .version-pill-label {
    display: flex;
    align-items: center;
    gap: var(--spacer-2);
  }

  .version-pill-label-text {
    font-weight: var(--text-body-large-strong-font-weight);
  }

  .version-pill-label-date {
    color: var(--color-text-secondary);
  }

  @media (max-width: 768px) {
    .version-pill-label {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
  }
}
