@import '../../../../scss/styles';
@import '../../../forms/field-types/shared.scss';

.collection-list {
  padding: base(3);
  background: white;
  width: 100%;

  &__search {
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: base(.5);
    }
  }

  &__search-input {
    @include formInput;
  }

  &__controls {
    margin-bottom: $baseline;
  }

  @include mid-break {
    padding: $baseline;

    &__search-input {
      margin: 0;
    }
  }
}
