@import '../../../../scss/styles';
@import '../../../forms/field-types/shared.scss';

.collection-list {
  padding: base(3);
  background: white;
  height: 300px;

  &__search {
    @include formInput;
  }

  @include mid-break {
    padding: base(1);
  }
}
