@import '../../../scss/styles.scss';

.icon-button {
  line-height: 0;
  background-color: transparent;
  margin-top: 0;
  @include color-svg($color-gray );

  &:hover,
  &:focus {
    background-color: transparent;
    @include color-svg($color-dark-gray);
  }

  &.btn {
    padding: 5px;
  }

  &--crossOut {
    svg {
      transform: rotate(45deg);
    }
  }
}
