@import "../../../_css/common";

.items {
  margin-bottom: var(--base);
}

.row {
  display: flex;
  align-items: center;
  gap: var(--base);

  @include small-break {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}

.rowContent {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
}

.warning {
  margin: 0;
  color: var(--theme-warning-500);
}

:global([data-theme="light"]) {
  .warning {
    color: var(--theme-error-500);
  }
}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  aspect-ratio: 5 / 4;
  width: 100%;
  max-width: 300px;

  @include small-break {
    max-width: unset;
    margin-bottom: calc(var(--base) / 2);
  }
}

.media {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}

.title {
  margin: 0;
}

.orderTotal {
  margin-top: var(--base);
  font-weight: 600;
}

.loading,
.error {
  margin-top: calc(var(--block-padding) - var(--base));
}
