@import '../../../../../scss/styles.scss';

.editable-block-title {
  position: relative;
  z-index: 1;
  display: flex;
  max-width: 100%;
  overflow-x: auto;

  &__input-clone {
    position: absolute;
    top: 0; left: 0;
    visibility: hidden;
    white-space: pre;
  }

  &__input-clone,
  input {
    padding: base(.1) base(.2);
    font-family: $font-body;
    font-weight: 600;
    margin-right: base(.5);
    font-size: base(.75);
    color: $color-dark-gray
  }

  input {
    background: transparent;
    border: none;
    border-radius: $style-radius-s;
    width: 100%;
    margin-left: base(.5);

    &:hover {
      box-shadow: inset 0px -2px 0px -1px $color-light-gray;
    }

    &:hover,
    &:focus {
      outline: 0;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
