@import '../../../scss/styles.scss';

.app-header {
  position: relative;
  width: 100%;
  height: var(--app-header-height);

  &__mobile-nav-toggler {
    display: none;
  }

  &__bg {
    @include blur-bg;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &--show-bg {
    opacity: 1;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 var(--gutter-h);
    position: relative;
    flex-grow: 1;
  }

  &__wrapper {
    display: flex;
    gap: calc(var(--base) / 2);
    align-items: center;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__account {
    &:focus:not(:focus-visible) {
      opacity: 1;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: calc(var(--base) / 2);
    flex-grow: 1;
    justify-content: flex-end;
  }

  @include small-break {
    &__mobile-nav-toggler {
      display: block;
    }

    &__step-header {
      // TODO: overflow the step header instead of hide it
      display: none;
    }
  }
}
