@import '../../../scss/styles.scss';

.content-block {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;

  &.narrow {
    max-width: $mobile-width;
  }

  &.wide {
    max-width: $frame-width;
  }

  &.align-left {
    margin-left: 0;
  }

  &.align-right {
    margin-right: 0;
  }
}
