@import '../../../scss/styles.scss';

.content-block {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;

  &--width-narrow {
    max-width: $mobile-width;
  }

  &--width-wide {
    max-width: $frame-width;
  }

  &--align-left {
    margin-left: 0;
  }

  &--align-right {
    margin-right: 0;
  }
}
