@import '../../../scss/styles.scss';

.duplicate {
  &__modal {
    @include blur-bg;
    display: flex;
    align-items: center;
    height: 100%;

    .btn {
      margin-right: $baseline;
    }
  }

  &__modal-template {
    z-index: 1;
    position: relative;
  }
}
