@import '../../../../../scss/styles.scss';

.file-field {
  position: relative;
  margin-bottom: var(--base);
  background: var(--theme-elevation-50);

  &__upload {
    display: flex;
    height: 150px;
  }

  .tooltip.error-message {
    z-index: 3;
    bottom: calc(100% - #{base(0.5)});
  }

  &__file-selected {
    display: flex;
  }

  &__file-preview {
    width: 150px;
    flex-shrink: 0;

    img,
    svg {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__file-adjustments {
    padding: calc(var(--base) * 1.25);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--base) / 2);
  }

  &__filename {
    display: flex;
    gap: calc(var(--base) / 2);
    align-items: center;

    input {
      @include formInput;
      background-color: var(--theme-bg);
    }

    button {
      margin: 0;
    }
  }

  &__file-mutation {
    display: flex;
    gap: calc(var(--base) / 2);
    flex-wrap: wrap;
  }

  &__edit {
    cursor: pointer;
    background-color: var(--theme-elevation-150);
    border: none;
    border-radius: $style-radius-s;
    padding: base(0.25) base(0.5);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: var(--theme-elevation-100);
    }
  }
}
