@import '../../../../../../../../scss/styles.scss';

.edit-upload-modal {
  @include blur-bg;
  display: flex;
  align-items: center;

  .template-minimal {
    padding-top: base(4);
    align-items: flex-start;
  }

  &__header {
    margin-bottom: $baseline;
    display: flex;

    h1 {
      margin: 0 auto 0 0;
    }

    .btn {
      margin: 0 0 0 $baseline;
    }
  }

  .rich-text__wrap {
    .field-type-gutter {
      display: none;
    }
  }
  .rich-text__toolbar {
    margin-bottom: 0;
  }
  .rich-text__editor {
    background-color: white;
    border: 1px solid $color-light-gray;
    border-top: none;
    min-height: base(5);
    padding: base(.35) base(.5);
  }
}
