@import '../../css/type.scss';

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: calc(var(--base) / 2);
    width: var(--base);
    height: var(--base);
  }
}

.label {
  @extend %label;
  display: flex;
  align-items: center;
}

.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  text-decoration: none;
  padding: 12px 18px;
  margin-bottom: var(--base);
  align-items: center;
  justify-content: center;
}

.appearance--primary {
  background-color: var(--color-black);
  color: var(--color-white);

  &:hover, &:focus {
    background-color: var(--color-white);
    color: var(--color-black);
    box-shadow: inset 0 0 0 1px var(--color-black);
  }
}

.appearance--secondary {
  background-color: var(--color-white);
  box-shadow: inset 0 0 0 1px var(--color-black);

  &:hover, &:focus {
    background-color: var(--color-black);
    color: var(--color-white);
    box-shadow: inset 0 0 0 1px var(--color-black);
  }
}

.appearance--default {
  padding: 0;
  margin-left: -8px;
}
