@import '../../../scss/styles.scss';

.delete-document {
  @include blur-bg;
  display: flex;
  align-items: center;
  height: 100%;

  &__toggle {
    @extend %btn-reset;
  }

  .btn {
    margin-right: $baseline;
  }
}
