@import '../../_css/common';

@keyframes shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  & > *:not(:last-child) {
    margin-bottom: var(--base);
  }
}

.shimmer {
  width: 100%;
  height: calc(var(--base) * 2.5); // same as input height `formInput`
  background-color: var(--theme-elevation-200);
  border-radius: 1px;
  opacity: 1;
  will-change: opacity;
  animation: shimmer 1s infinite;
}
