@layer payload-default {
  .publish-button__label--full {
    display: none;
  }

  .publish-button__label--short {
    display: inline;
  }

  @media (min-width: 1024px) {
    .publish-button__label--full {
      display: inline;
    }

    .publish-button__label--short {
      display: none;
    }
  }
}
