@import '../../../scss/styles.scss';

label.field-label {
  display: flex;
  padding-bottom: base(.25);
  color: var(--theme-elevation-800);

  .required {
    color: var(--theme-error-500);
    margin-left: base(.25);
    margin-right: auto;
  }
}
