@import '../../scss/styles';

.id-label {
  font-size: base(0.75);
  font-weight: normal;
  color: var(--theme-elevation-600);
  background: var(--theme-elevation-100);
  padding: 0 base(0.6);
  border-radius: $style-radius-m;
  display: inline-flex;
}
