@import '../../scss/styles';

@layer payload-default {
  .id-label {
    font-size: base(0.8);
    line-height: base(1.2);
    font-weight: normal;
    color: var(--theme-elevation-600);
    background: var(--theme-elevation-100);
    padding: base(0.2) base(0.4);
    border-radius: $style-radius-m;
    display: inline-flex;
  }
}
