@import '../../../../../../scss/styles.scss';

.relationship-diff {
  &__locale-label {
    margin-right: base(.25);
    background: $color-background-gray;
    padding: base(.25);
    border-radius: $style-radius-m;
  }
}
