@layer payload-default {
  .doc-header {
    width: 100%;
    padding: var(--spacer-2-5) var(--gutter-h);
    position: relative;
    border-bottom: var(--stroke-width-small) solid var(--color-border);
    display: flex;
    align-items: center;
    gap: var(--spacer-2);
  }

  .doc-header__title {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    vertical-align: top;
  }

  .doc-header__after-header {
    padding-top: var(--spacer-3);
  }

  @media (max-width: 1024px) {
    .doc-header {
      flex-direction: column;
    }

    .doc-header__title {
      width: 100%;
    }

    .doc-header__after-header {
      padding-top: var(--spacer-1);
    }
  }
}
