@layer payload-default {
  .search-bar {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    min-height: var(--control-height);
    background-color: var(--field-color-bg);
    border-radius: var(--field-border-radius);
    border: var(--stroke-width-small) solid var(--field-color-border);
    padding-inline: var(--field-padding-inline);
    position: relative;
    isolation: isolate;

    &:hover {
      border-color: var(--field-color-border-hover);
    }

    &:focus-within {
      border-color: var(--field-color-border-focus);
    }

    &:has(:disabled) {
      opacity: 0.5;
      pointer-events: none;
    }

    .icon--search {
      flex-shrink: 0;
      pointer-events: none;
      color: var(--color-icon-secondary);
    }

    .search-filter {
      flex: 1;
      min-width: 0;
    }
  }
}
