@import '../../../scss/styles.scss';

.tooltip {
  opacity: 0;
	background-color: var(--theme-elevation-800);
	position: absolute;
	z-index: 2;
	bottom: 100%;
	left: 50%;
	transform: translate3d(-50%, -20%, 0);
	padding: base(.2) base(.4);
	color: var(--theme-elevation-0);
	line-height: base(.75);
	font-weight: normal;
	white-space: nowrap;
	border-radius: 2px;
  transition: opacity .2s ease-in-out;

	span {
		position: absolute;
		transform: translateX(-50%);
		top: calc(100% - #{base(.0625)});
		left: 50%;
		height: 0;
		width: 0;
		border: 10px solid transparent;
		border-top-color: var(--theme-elevation-800);
	}

  &--show {
    opacity: 1;
  }
}
