@import '../../../scss/styles.scss';

$caretSize: 6;

.tooltip {
  opacity: 0;
	background-color: var(--theme-elevation-800);
	position: absolute;
	z-index: 2;
	bottom: 100%;
	left: 50%;
	transform: translate3d(-50%, calc(#{$caretSize}px * -1), 0);
	padding: base(.2) base(.4);
	color: var(--theme-elevation-0);
	line-height: base(.75);
	font-weight: normal;
	white-space: nowrap;
	border-radius: 2px;
  visibility: hidden;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    width: 0;
    height: 0;
    border-left: #{$caretSize}px solid transparent;
    border-right: #{$caretSize}px solid transparent;
    border-top: #{$caretSize}px solid var(--theme-elevation-800);
  }

  &--show {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    cursor: default;
  }

  @include mid-break {
    display: none;
  }
}
