@import '../../../scss/styles.scss';

.tooltip {
	background-color: $color-dark-gray;
  position: absolute;
  z-index: 2;
	bottom: 100%;
	left: 50%;
	transform: translate3d(-50%, -20%, 0);
	padding: base(.2) base(.4);
	color: white;
  line-height: base(.75);
  font-weight: normal;
  white-space: nowrap;
  border-radius: 2px;

	span {
		position: absolute;
		transform: translateX(-50%);
		top: calc(100% - #{base(.0625)});
		left: 50%;
		height: 0;
		width: 0;
		border: 10px solid transparent;
		border-top-color: $color-dark-gray;
	}
}
