@import '../../scss/styles.scss';

@layer payload-default {
  .sticky-toolbar {
    padding: base(0.5);
    position: sticky;
    bottom: var(--base);
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-elevation-100);
    max-width: 500px;
    z-index: 1;
    margin-left: 50%;
    transform: translate3d(-50%, 0, 0);
    border-radius: var(--style-radius-m);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    margin-top: base(2);

    @include small-break {
      width: calc(100% - var(--base) * 2);
      margin-left: var(--base);
      transform: none;
      position: relative;
      max-width: unset;
      margin-bottom: base(4);
    }
  }
}
