@import '../../scss/styles';

@layer payload-default {
  .icon--drag-handle {
    height: $baseline;
    width: $baseline;

    .fill {
      stroke: currentColor;
      stroke-width: $style-stroke-width-s;
      fill: var(--theme-elevation-800);
    }
  }
}
