@import '../../scss/styles';

@layer payload-default {
  .icon--drag-handle {
    height: calc(var(--base) * 1);
    width: calc(var(--base) * 1);

    .fill {
      stroke: currentColor;
      stroke-width: var(--style-stroke-width-s);
      fill: var(--theme-elevation-600);
    }
  }
}
