@import '../../../../scss/styles.scss';

.render-field-diffs {
  display: flex;
  flex-direction: column;
  gap: var(--base);

  &__field {
    overflow-wrap: anywhere;
    display: flex;
    flex-direction: column;
    gap: var(--base);
  }

  @include small-break {
    gap: calc(var(--base) / 2);
  }
}
