@import '../../../../../../../scss/styles.scss';

.rich-text-relationship {
  @extend %body;
  @include shadow-sm;
  padding: base(.5);
  display: flex;
  align-items: flex-start;
  background: var(--theme-input-bg);
  border: 1px solid var(--theme-elevation-100);
  max-width: base(15);
  font-family: var(--font-body);

  &:hover {
    border: 1px solid var(--theme-elevation-150);
  }

  &[data-slate-node=element] {
    margin: base(.625) 0;
  }

  svg {
    width: base(1.25);
    height: base(1.25);
    margin-right: base(.5);
  }

  h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--selected {
    box-shadow: $focus-box-shadow;
    outline: none;
  }
}
