@layer payload-default {
  .hierarchy-cell {
    display: flex;
    align-items: center;
  }

  .hierarchy-cell__button {
    margin: 0;
    font-weight: normal;

    .btn__content {
      gap: 0;
    }
  }
}
