@import '~@payloadcms/ui/scss';

@layer payload-default {
  .doc-header {
    width: 100%;
    margin-top: base(0.4);
    padding-bottom: calc(var(--base) * 1.2);
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      background: var(--theme-elevation-100);
      width: 100%;
      left: 0;
      top: calc(100% - 1px);
    }

    &__header {
      display: flex;
      align-items: center;
      gap: calc(var(--base) / 2);
    }

    &__title {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      padding-bottom: base(0.4);
      line-height: 1;
      vertical-align: top;
      padding-bottom: 0;
    }

    &__after-header {
      padding-top: var(--base);
    }

    @include mid-break {
      margin-top: base(0.25);
      padding-bottom: calc(var(--base) / 1.5);

      &__header {
        flex-direction: column;
        gap: calc(var(--base) / 2);
      }

      &__title {
        width: 100%;
      }

      &__after-header {
        padding-top: calc(var(--base) / 4);
      }
    }

    @include small-break {
      margin-top: 0;
    }
  }
}
