@import '../../../../scss/styles.scss';

@layer payload-default {
  .lexical-unknown-diff {
    @extend %body;
    @include shadow-sm;
    max-width: fit-content;
    display: flex;
    align-items: center;
    background: var(--theme-input-bg);
    border-radius: $style-radius-m;
    border: 1px solid var(--theme-elevation-100);
    position: relative;
    font-family: var(--font-body);
    margin-block: base(0.5);
    max-height: calc(var(--base) * 4);
    padding: base(0.25);

    &:has(.html-diff-create-text-wrapper),
    &:has([data-match-type='create']) {
      border-color: var(--theme-success-400);
    }

    &:has(.html-diff-delete-text-wrapper),
    &:has([data-match-type='delete']) {
      border-color: var(--theme-error-400);
    }
  }
}
