@layer payload-default {
  .doc-controls {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::before {
      background: var(--color-bg);
      opacity: 0.3;
    }

    &::after {
      backdrop-filter: blur(8px);
    }
  }

  .doc-controls__divider {
    content: '';
    display: block;
    position: absolute;
    height: var(--stroke-width-small);
    background: var(--color-border);
    width: 100%;
    left: 0;
    top: 100%;
  }

  .doc-controls__wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--spacer-3);
    z-index: 4;
    height: var(--doc-controls-height);
  }

  .doc-controls__content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    padding: var(--spacer-3) 0;
    gap: var(--spacer-2);
  }

  .doc-controls__before-meta {
    display: flex;
    align-items: center;
    gap: var(--spacer-1);
    flex-shrink: 0;
  }

  .doc-controls__meta {
    flex-grow: 1;
    display: flex;
    list-style: none;
    padding: 0;
    gap: var(--spacer-3);
    margin: 0;
    width: 100%;

    button {
      margin: 0;
    }
  }

  .doc-controls__locked-controls.locked {
    position: unset;

    .tooltip {
      top: calc(var(--spacer-2) * -1);
    }
  }

  .doc-controls__list-item {
    display: flex;
    align-items: center;
    margin: 0;

    &:empty {
      display: none;
    }
  }

  .doc-controls__value-wrap {
    overflow: hidden;
  }

  .doc-controls__value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-weight: 600;
    line-height: var(--spacer-4);
  }

  .doc-controls__label {
    color: var(--color-text-secondary);
    white-space: nowrap;
    margin: 0;
  }

  .doc-controls__controls-wrapper {
    --controls-gap: var(--spacer-2);
    --dot-button-width: var(--spacer-6);
    display: flex;
    align-items: center;
    margin: 0;
    gap: var(--controls-gap);
    position: relative;
  }

  .doc-controls__controls {
    display: flex;
    align-items: center;
    margin: 0;
    gap: var(--spacer-2);

    button {
      margin: 0;
      white-space: nowrap;
    }
  }

  .doc-controls__popup {
    position: relative;
  }

  .doc-controls__popup-button.popup-button--active,
  .doc-controls__popup-button.popup-button--active:hover,
  .doc-controls__popup-button.popup-button--active:active {
    background: var(--color-bg-selected);
    color: var(--color-icon-selected);
  }

  .doc-controls .popup__trigger-wrap {
    display: flex;
  }

  @media (max-width: 1024px) {
    .doc-controls.gutter {
      top: calc(var(--spacer-4) * -2.5);
      padding-right: 0;
      padding-left: 0;
    }

    .doc-controls__wrapper {
      flex-direction: column;
      gap: 0;
      height: unset;
    }

    .doc-controls__content {
      width: 100%;
      overflow: auto;
      padding-inline: var(--spacer-6);

      &::-webkit-scrollbar {
        display: none;
      }
    }

    [dir='rtl'] .doc-controls__popup {
      padding-left: var(--gutter-h);
    }

    .doc-controls__meta {
      width: auto;
      gap: var(--spacer-2);

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: var(--spacer-3);
        height: var(--spacer-3);
        background: linear-gradient(to right, transparent, var(--color-bg));
        flex-shrink: 0;
        z-index: 1111;
        pointer-events: none;
      }
    }

    .doc-controls__controls-wrapper {
      background-color: var(--color-bg);
      width: 100%;
      transform: translate3d(0, 0, 0);
      padding-right: var(--gutter-h);
      justify-content: space-between;
      height: var(--doc-controls-height);
      border-top: var(--stroke-width-small) solid var(--color-border);
    }

    .doc-controls__controls {
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      &::after {
        content: '';
        display: block;
        position: sticky;
        right: 0;
        width: var(--spacer-6);
        height: var(--spacer-5);
        background: linear-gradient(to right, transparent, var(--color-bg));
        flex-shrink: 0;
        z-index: 1111;
        pointer-events: none;
      }
    }

    [dir='ltr'] .doc-controls__controls {
      padding-left: var(--gutter-h);
    }
  }

  @media (max-width: 768px) {
    .doc-controls__content {
      padding-inline: var(--spacer-3);
    }
  }
}
