@layer payload-default {
  .payload-settings {
    position: relative;
    margin: var(--spacer-3) 0;
    padding: var(--spacer-3) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-3);
  }

  .payload-settings__language {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
  }

  .payload-settings h3 {
    margin: 0;
    font-size: var(--text-heading-medium-font-size);
    font-weight: var(--text-heading-medium-font-weight);
    line-height: var(--text-heading-medium-line-height);
    letter-spacing: var(--text-heading-medium-letter-spacing);
  }

  .payload-settings::before,
  .payload-settings::after {
    content: '';
    display: block;
    height: var(--stroke-width-small);
    background: var(--color-border);
    width: calc(100% + calc(var(--gutter-h) * 2));
    left: calc(var(--gutter-h) * -1);
    top: 0;
    position: absolute;
  }
}
