@layer payload-default {
  .payload-settings {
    position: relative;
    margin: var(--spacer-3) 0;
    padding: var(--spacer-3) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-3);
  }

  .payload-settings h3 {
    margin: 0;
  }

  .payload-settings::before,
  .payload-settings::after {
    content: '';
    display: block;
    height: var(--stroke-width-small);
    background: var(--color-border);
    width: calc(100% + calc(var(--gutter-h) * 2));
    left: calc(var(--gutter-h) * -1);
    top: 0;
    position: absolute;
  }
}
