@import '../scss/styles';

.rich-text-lexical {
  .editor {
    position: relative;
  }

  .editor-scroller {
    overflow: auto;
    // Necessary for lexical tables not to overflow the editor horizontally.
    // The contenteditable of the editor itself, as well as this scroller, will
    // still keep the same un-overflowed, constrained width. This has the benefit
    // That only the table will go outside it, and other elements like paragraphs
    // are still being kept constrained to the original width
  }

  .editor-container {
    position: relative;

    font-family: var(--font-body);
    font-size: base(1.0);
    letter-spacing: 0.02em;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-body);
      line-height: 1.125;
      letter-spacing: 0;
    }
  }

  &--show-gutter {
    > .rich-text-lexical__wrap > .editor-container  > .editor-scroller > .editor > div > .editor-placeholder {
      left: 3rem;
    }
  }

  &:not(&--show-gutter) > .rich-text-lexical__wrap > .editor-container > .editor-scroller > .editor > div > .editor-placeholder {
    left: 0;
  }

  .editor-placeholder {
    position: absolute;
    top: 8px;
    font-size: 16px;
    color: var(--theme-elevation-500);
    /* Prevent text selection */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* Make it behave more like a background element (no interaction) */
    pointer-events: none;
  }
}
