@import '~@payloadcms/ui/scss';

@layer payload-default {
  .dashboard {
    width: 100%;
    --gap: var(--base);
    --cols: 5;

    &__wrap {
      display: flex;
      flex-direction: column;
      gap: var(--base);
    }
  }
}
