@import '../../../scss/styles.scss';

.dashboard {
  width: 100%;
  --gap: var(--base);
  --cols: 5;

  &__wrap {
    padding-bottom: var(--spacing-view-bottom);
    display: flex;
    flex-direction: column;
    gap: var(--base);
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  &__label {
    margin: 0;
  }

  &__card-list {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: var(--gap);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-auto-rows: 1fr;

    li {
      width: 100%;
    }

    .card {
      height: 100%;
    }
  }

  @include large-break {
    --cols: 4;
  }

  @include mid-break {
    --gap: var(--base);
    --cols: 2;
  }

  @include small-break {
    --cols: 1;

    &__wrap {
      gap: var(--base);
    }
  }
}
