@import '../../scss/styles.scss';

@layer payload-default {
  .collapsible-field {
    &__row-label-wrap {
      pointer-events: none;
      display: flex;
      align-items: center;
      gap: base(0.5);
    }
  }
}
