@import '../../../../../scss/styles.scss';

.repeater-row {
  background: $light-gray;
  flex-direction: column;
  position: relative;
  border: $stroke-width solid lighten($gray, 20%);
  margin-top: base(.5);

  &__collapse__icon {
    svg {
      transition: 150ms linear;
    }

    &--open {
      svg {
        transform: rotate(90deg);
      }
    }

    &--closed {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &__header {
    padding: base(.75) base(1);
    display: flex;
    align-items: center;

    .pill {
      margin-right: base(.5);
    }

    &__heading {
      font-family: $font-body;
      margin: 0;
      font-size: base(.65);
    }

    &__drag-handle__wrap {
      flex: 1;
    }

    &__drag-handle {
      max-width: 100px;
      height: 15px;
      margin: 0 base(1) 0 auto;
      background: repeating-linear-gradient(
        90deg,
        $gray,
        $gray 4px,
        transparent 4px,
        transparent 10px,
      );
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }

    &__controls {
      margin-left: auto;

      .btn {
        margin-top: 0;
        margin-bottom: 0;
      }

      .icon-button--crossOut,
      .icon-button--crosshair {
        margin-right: base(.25);
      }

      .icon-button--crosshair {
        border-color: $primary;
        @include color-svg($primary);

        &:hover {
          background: lighten($primary, 50%);
        }
      }
    }
  }

  &__content {
    box-shadow: inset 0px 1px 0px white;

    > div {
      padding: base(.75) base(1);
    }
  }
}
