@layer payload-default {
  .date-diff[data-match-type] {
    background-color: unset !important;
    border-radius: unset !important;
    padding: 0 !important;
  }

  .date-diff {
    p *[data-match-type='delete'] {
      color: unset !important;
      background-color: unset !important;
    }

    p *[data-match-type='create'] {
      color: unset !important;
      background-color: unset !important;
    }
  }

  @media (max-width: 768px) {
    .field-diff-content .date-diff {
      display: contents;
    }

    .date-diff .field-diff-content > .html-diff {
      justify-content: center;
    }
  }
}
