@layer payload-default {
  .rich-text-lexical {
    --lexical-border-color: var(--color-border);

    &.error {
      --lexical-border-color: var(--color-border-danger-strong);
    }

    & > .field-error.tooltip {
      right: auto;
      position: static;
      margin-bottom: 0.2em;
      max-width: fit-content;
    }

    .errorBoundary {
      pre {
        text-wrap: unset;
      }
    }
  }

  .rich-text-lexical__label-row {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacer-2);
    gap: var(--spacer-2);

    label.field-label:not(.unstyled) {
      margin-right: unset;
      padding-bottom: unset;
    }
  }

  .rich-text-lexical__wrap {
    width: 100%;
    position: relative;
  }

  .rich-text-lexical--read-only {
    .editor-container {
      .editor {
        @keyframes fadeInBackground {
          from {
            background-color: transparent;
          }
          to {
            background-color: var(--color-bg-hover);
          }
          to {
            background-color: var(--color-bg-hover);
          }
        }

        animation: fadeInBackground 0.5s ease forwards;
        color: var(--color-text-tertiary);
      }
    }
  }
}
