@import '../scss/styles.scss';

.rich-text-lexical {
  .errorBoundary {
    pre {
      text-wrap: unset;
    }
  }

  &__wrap {
    width: 100%;
    position: relative;
  }

  &--read-only {
    .editor-container {
      .editor {
        background: var(--theme-elevation-200);
        color: var(--theme-elevation-450);
        padding: calc(var(--base) * 0.5);
      }
    }
  }
}

html[data-theme='light'] {
  .rich-text-lexical {
    &.error {
      .editor-container {
        @include lightInputError;
      }
    }
  }
}

html[data-theme='dark'] {
  .rich-text-lexical {
    &.error {
      .editor-container {
        @include darkInputError;
      }
    }
  }
}
