@layer payload-default, payload;

@import 'styles';
@import './toasts.scss';
@import './colors.scss';
@import '../styles.css';

@layer payload-default {
  :root {
    --base-px: 20;
    --base-body-size: 16;
    --base: calc((var(--base-px) / var(--base-body-size)) * 1rem);

    --breakpoint-xs-width: #{$breakpoint-xs-width};
    --breakpoint-s-width: #{$breakpoint-s-width};
    --breakpoint-m-width: #{$breakpoint-m-width};
    --breakpoint-l-width: #{$breakpoint-l-width};
    --scrollbar-width: 17px;

    --theme-bg: var(--bg-default-default);
    --theme-input-bg: var(--theme-elevation-0);
    --theme-text: var(--theme-elevation-800);
    --theme-overlay: rgba(5, 5, 5, 0.5);
    --theme-baseline: #{$baseline-px};
    --theme-baseline-body-size: #{$baseline-body-size};
    --font-body: var(--font-family-sans), sans-serif;
    --font-serif: 'Georgia', 'Bitstream Charter', 'Charis SIL', Utopia, 'URW Bookman L', serif;
    --font-mono: var(--font-family-mono), 'SF Mono', Menlo, Consolas, Monaco, monospace;

    --style-radius-s: #{$style-radius-s};
    --style-radius-m: #{$style-radius-m};
    --style-radius-l: #{$style-radius-l};

    // --z-popup needs to be higher than --z-modal to ensure the popup is displayed when modal is open
    --z-popup: 60;
    --z-nav: 20;
    --z-modal: 30;
    --z-status: 40;

    --gutter-h: #{base(3)};
    --spacing-view-bottom: var(--gutter-h);
    --doc-controls-height: calc(var(--base) * 2.8);
    --app-header-height: calc(var(--base) * 2.8);
    --nav-width: 275px;
    --nav-trans-time: 150ms;

    @include mid-break {
      --gutter-h: #{base(2)};
      --app-header-height: calc(var(--base) * 2.4);
      --doc-controls-height: calc(var(--base) * 2.4);
    }

    @include small-break {
      --gutter-h: #{base(0.8)};
      --spacing-view-bottom: calc(var(--base) * 2);
      --nav-width: 100vw;
    }
  }

  /////////////////////////////
  // GLOBAL STYLES
  /////////////////////////////

  * {
    box-sizing: border-box;
  }

  html {
    background: var(--bg-default-default);
    -webkit-font-smoothing: antialiased;

    &[data-theme='dark'] {
      --theme-bg: var(--bg-default-default);
      --theme-text: var(--theme-elevation-1000);
      --theme-input-bg: var(--theme-elevation-50);
      --theme-overlay: rgba(5, 5, 5, 0.75);
      color-scheme: dark;
    }
  }

  html,
  body,
  #app {
    height: 100%;
  }

  body {
    font-family: var(--font-body);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    letter-spacing: var(--text-letter-spacing);
    color: var(--theme-text);
    margin: 0;
    // this is for the nav to be able to push the document over
    overflow-x: hidden;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }

  h4 {
  }

  h5 {
  }

  h6 {
  }

  p {
    margin: 0;
  }

  ul,
  ol {
    padding-left: $baseline;
    margin: 0;
  }

  :focus-visible {
    outline: var(--accessibility-outline);
    outline-offset: var(--accessibility-outline-offset);
    border-radius: var(--style-radius-s);
  }

  a {
    color: currentColor;

    &:focus {
      &:not(:focus-visible) {
        opacity: 0.8;
      }
    }

    &:active {
      opacity: 0.7;
    }
  }

  svg {
    vertical-align: middle;
  }

  dialog {
    width: 100%;
    border: 0;
    padding: 0;
    color: currentColor;
  }

  .payload__modal-item {
    min-height: 100%;
    background: transparent;
  }

  .payload__modal-container--enterDone {
    overflow: auto;
  }

  .payload__modal-item--enter,
  .payload__modal-item--enterDone {
    z-index: var(--z-modal);
  }
}
