:root {
  --color-base-0: rgb(255, 255, 255);
  --color-base-50: rgb(245, 245, 245);
  --color-base-100: rgb(235, 235, 235);
  --color-base-150: rgb(221, 221, 221);
  --color-base-200: rgb(208, 208, 208);
  --color-base-250: rgb(195, 195, 195);
  --color-base-300: rgb(181, 181, 181);
  --color-base-350: rgb(168, 168, 168);
  --color-base-400: rgb(154, 154, 154);
  --color-base-450: rgb(141, 141, 141);
  --color-base-500: rgb(128, 128, 128);
  --color-base-550: rgb(114, 114, 114);
  --color-base-600: rgb(101, 101, 101);
  --color-base-650: rgb(87, 87, 87);
  --color-base-700: rgb(74, 74, 74);
  --color-base-750: rgb(60, 60, 60);
  --color-base-800: rgb(47, 47, 47);
  --color-base-850: rgb(34, 34, 34);
  --color-base-900: rgb(20, 20, 20);
  --color-base-950: rgb(7, 7, 7);
  --color-base-1000: rgb(0, 0, 0);

  --color-success-50: rgb(247, 255, 251);
  --color-success-100: rgb(240, 255, 247);
  --color-success-150: rgb(232, 255, 243);
  --color-success-200: rgb(224, 255, 239);
  --color-success-250: rgb(217, 255, 235);
  --color-success-300: rgb(209, 255, 230);
  --color-success-350: rgb(201, 255, 226);
  --color-success-400: rgb(193, 255, 222);
  --color-success-450: rgb(186, 255, 218);
  --color-success-500: rgb(178, 255, 214);
  --color-success-550: rgb(160, 230, 193);
  --color-success-600: rgb(142, 204, 171);
  --color-success-650: rgb(125, 179, 150);
  --color-success-700: rgb(107, 153, 128);
  --color-success-750: rgb(89, 128, 107);
  --color-success-800: rgb(71, 102, 86);
  --color-success-850: rgb(53, 77, 64);
  --color-success-900: rgb(36, 51, 43);
  --color-success-950: rgb(18, 25, 21);

  --color-warning-50: rgb(255, 255, 246);
  --color-warning-100: rgb(255, 255, 237);
  --color-warning-150: rgb(254, 255, 228);
  --color-warning-200: rgb(254, 255, 219);
  --color-warning-250: rgb(254, 255, 210);
  --color-warning-300: rgb(254, 255, 200);
  --color-warning-350: rgb(254, 255, 191);
  --color-warning-400: rgb(253, 255, 182);
  --color-warning-450: rgb(253, 255, 173);
  --color-warning-500: rgb(253, 255, 164);
  --color-warning-550: rgb(228, 230, 148);
  --color-warning-600: rgb(202, 204, 131);
  --color-warning-650: rgb(177, 179, 115);
  --color-warning-700: rgb(152, 153, 98);
  --color-warning-750: rgb(127, 128, 82);
  --color-warning-800: rgb(101, 102, 66);
  --color-warning-850: rgb(76, 77, 49);
  --color-warning-900: rgb(51, 51, 33);
  --color-warning-950: rgb(25, 25, 16);

  --color-error-50: rgb(255, 241, 241);
  --color-error-100: rgb(255, 226, 228);
  --color-error-150: rgb(255, 212, 214);
  --color-error-200: rgb(255, 197, 200);
  --color-error-250: rgb(255, 183, 187);
  --color-error-300: rgb(255, 169, 173);
  --color-error-350: rgb(255, 154, 159);
  --color-error-400: rgb(255, 140, 145);
  --color-error-450: rgb(255, 125, 132);
  --color-error-500: rgb(255, 111, 118);
  --color-error-550: rgb(230, 100, 106);
  --color-error-600: rgb(204, 89, 94);
  --color-error-650: rgb(179, 78, 83);
  --color-error-700: rgb(153, 67, 71);
  --color-error-750: rgb(128, 56, 59);
  --color-error-800: rgb(102, 44, 47);
  --color-error-850: rgb(77, 33, 35);
  --color-error-900: rgb(51, 22, 24);
  --color-error-950: rgb(25, 11, 12);

  --color-blue-50: rgb(230, 247, 253);
  --color-blue-100: rgb(204, 238, 252);
  --color-blue-150: rgb(179, 230, 250);
  --color-blue-200: rgb(153, 221, 249);
  --color-blue-250: rgb(128, 213, 247);
  --color-blue-300: rgb(102, 204, 245);
  --color-blue-350: rgb(77, 196, 244);
  --color-blue-400: rgb(51, 187, 242);
  --color-blue-450: rgb(25, 179, 241);
  --color-blue-500: rgb(0, 170, 239);
  --color-blue-550: rgb(0, 153, 215);
  --color-blue-600: rgb(0, 136, 191);
  --color-blue-650: rgb(0, 119, 167);
  --color-blue-700: rgb(0, 102, 143);
  --color-blue-750: rgb(0, 85, 120);
  --color-blue-800: rgb(0, 68, 96);
  --color-blue-850: rgb(0, 51, 72);
  --color-blue-900: rgb(0, 34, 48);
  --color-blue-950: rgb(0, 17, 24);

  --theme-border-color: var(--theme-elevation-150);

  --theme-success-50: var(--color-success-50);
  --theme-success-100: var(--color-success-100);
  --theme-success-150: var(--color-success-150);
  --theme-success-200: var(--color-success-200);
  --theme-success-250: var(--color-success-250);
  --theme-success-300: var(--color-success-300);
  --theme-success-350: var(--color-success-350);
  --theme-success-400: var(--color-success-400);
  --theme-success-450: var(--color-success-450);
  --theme-success-500: var(--color-success-500);
  --theme-success-550: var(--color-success-550);
  --theme-success-600: var(--color-success-600);
  --theme-success-650: var(--color-success-650);
  --theme-success-700: var(--color-success-700);
  --theme-success-750: var(--color-success-750);
  --theme-success-800: var(--color-success-800);
  --theme-success-850: var(--color-success-850);
  --theme-success-900: var(--color-success-900);
  --theme-success-950: var(--color-success-950);

  --theme-warning-50: var(--color-warning-50);
  --theme-warning-100: var(--color-warning-100);
  --theme-warning-150: var(--color-warning-150);
  --theme-warning-200: var(--color-warning-200);
  --theme-warning-250: var(--color-warning-250);
  --theme-warning-300: var(--color-warning-300);
  --theme-warning-350: var(--color-warning-350);
  --theme-warning-400: var(--color-warning-400);
  --theme-warning-450: var(--color-warning-450);
  --theme-warning-500: var(--color-warning-500);
  --theme-warning-550: var(--color-warning-550);
  --theme-warning-600: var(--color-warning-600);
  --theme-warning-650: var(--color-warning-650);
  --theme-warning-700: var(--color-warning-700);
  --theme-warning-750: var(--color-warning-750);
  --theme-warning-800: var(--color-warning-800);
  --theme-warning-850: var(--color-warning-850);
  --theme-warning-900: var(--color-warning-900);
  --theme-warning-950: var(--color-warning-950);

  --theme-error-50: var(--color-error-50);
  --theme-error-100: var(--color-error-100);
  --theme-error-150: var(--color-error-150);
  --theme-error-200: var(--color-error-200);
  --theme-error-250: var(--color-error-250);
  --theme-error-300: var(--color-error-300);
  --theme-error-350: var(--color-error-350);
  --theme-error-400: var(--color-error-400);
  --theme-error-450: var(--color-error-450);
  --theme-error-500: var(--color-error-500);
  --theme-error-550: var(--color-error-550);
  --theme-error-600: var(--color-error-600);
  --theme-error-650: var(--color-error-650);
  --theme-error-700: var(--color-error-700);
  --theme-error-750: var(--color-error-750);
  --theme-error-800: var(--color-error-800);
  --theme-error-850: var(--color-error-850);
  --theme-error-900: var(--color-error-900);
  --theme-error-950: var(--color-error-950);

  --theme-elevation-0: var(--color-base-0);
  --theme-elevation-50: var(--color-base-50);
  --theme-elevation-100: var(--color-base-100);
  --theme-elevation-150: var(--color-base-150);
  --theme-elevation-200: var(--color-base-200);
  --theme-elevation-250: var(--color-base-250);
  --theme-elevation-300: var(--color-base-300);
  --theme-elevation-350: var(--color-base-350);
  --theme-elevation-400: var(--color-base-400);
  --theme-elevation-450: var(--color-base-450);
  --theme-elevation-500: var(--color-base-500);
  --theme-elevation-550: var(--color-base-550);
  --theme-elevation-600: var(--color-base-600);
  --theme-elevation-650: var(--color-base-650);
  --theme-elevation-700: var(--color-base-700);
  --theme-elevation-750: var(--color-base-750);
  --theme-elevation-800: var(--color-base-800);
  --theme-elevation-850: var(--color-base-850);
  --theme-elevation-900: var(--color-base-900);
  --theme-elevation-950: var(--color-base-950);
  --theme-elevation-1000: var(--color-base-1000);
}

html[data-theme='dark'] {
  --theme-border-color: var(--theme-elevation-150);

  --theme-elevation-0: var(--color-base-900);
  --theme-elevation-50: var(--color-base-850);
  --theme-elevation-100: var(--color-base-800);
  --theme-elevation-150: var(--color-base-750);
  --theme-elevation-200: var(--color-base-700);
  --theme-elevation-250: var(--color-base-650);
  --theme-elevation-300: var(--color-base-600);
  --theme-elevation-350: var(--color-base-550);
  --theme-elevation-400: var(--color-base-450);
  --theme-elevation-450: var(--color-base-400);
  --theme-elevation-550: var(--color-base-350);
  --theme-elevation-600: var(--color-base-300);
  --theme-elevation-650: var(--color-base-250);
  --theme-elevation-700: var(--color-base-200);
  --theme-elevation-750: var(--color-base-150);
  --theme-elevation-800: var(--color-base-100);
  --theme-elevation-850: var(--color-base-50);
  --theme-elevation-900: var(--color-base-0);
  --theme-elevation-950: var(--color-base-0);
  --theme-elevation-1000: var(--color-base-0);

  --theme-success-50: var(--color-success-950);
  --theme-success-100: var(--color-success-900);
  --theme-success-150: var(--color-success-850);
  --theme-success-200: var(--color-success-800);
  --theme-success-250: var(--color-success-750);
  --theme-success-300: var(--color-success-700);
  --theme-success-350: var(--color-success-650);
  --theme-success-400: var(--color-success-600);
  --theme-success-450: var(--color-success-550);
  --theme-success-550: var(--color-success-450);
  --theme-success-600: var(--color-success-400);
  --theme-success-650: var(--color-success-350);
  --theme-success-700: var(--color-success-300);
  --theme-success-750: var(--color-success-250);
  --theme-success-800: var(--color-success-200);
  --theme-success-850: var(--color-success-150);
  --theme-success-900: var(--color-success-100);
  --theme-success-950: var(--color-success-50);

  --theme-warning-50: var(--color-warning-950);
  --theme-warning-100: var(--color-warning-900);
  --theme-warning-150: var(--color-warning-850);
  --theme-warning-200: var(--color-warning-800);
  --theme-warning-250: var(--color-warning-750);
  --theme-warning-300: var(--color-warning-700);
  --theme-warning-350: var(--color-warning-650);
  --theme-warning-400: var(--color-warning-600);
  --theme-warning-450: var(--color-warning-550);
  --theme-warning-550: var(--color-warning-450);
  --theme-warning-600: var(--color-warning-400);
  --theme-warning-650: var(--color-warning-350);
  --theme-warning-700: var(--color-warning-300);
  --theme-warning-750: var(--color-warning-250);
  --theme-warning-800: var(--color-warning-200);
  --theme-warning-850: var(--color-warning-150);
  --theme-warning-900: var(--color-warning-100);
  --theme-warning-950: var(--color-warning-50);

  --theme-error-50: var(--color-error-950);
  --theme-error-100: var(--color-error-900);
  --theme-error-150: var(--color-error-850);
  --theme-error-200: var(--color-error-800);
  --theme-error-250: var(--color-error-750);
  --theme-error-300: var(--color-error-700);
  --theme-error-350: var(--color-error-650);
  --theme-error-400: var(--color-error-600);
  --theme-error-450: var(--color-error-550);
  --theme-error-550: var(--color-error-450);
  --theme-error-600: var(--color-error-400);
  --theme-error-650: var(--color-error-350);
  --theme-error-700: var(--color-error-300);
  --theme-error-750: var(--color-error-250);
  --theme-error-800: var(--color-error-200);
  --theme-error-850: var(--color-error-150);
  --theme-error-900: var(--color-error-100);
  --theme-error-950: var(--color-error-50);
}
