@import '../../../../../scss/styles.scss';

.add-upload-modal {
  @include blur-bg;
  display: flex;
  align-items: center;

  .template-minimal {
    padding-top: base(6);
    align-items: flex-start;
  }

  &__header {
    margin-bottom: $baseline;

    div {
      display: flex;
    }

    h1 {
      margin: 0 auto 0 0;
    }

    .btn {
      margin: 0 0 0 $baseline;
    }
  }

  &__sub-header {
    margin-top: base(.25);
  }
}
