@import '../../../scss/styles.scss';

label.field-label {
  @extend %body;
  display: flex;
  padding-bottom: base(0.25);
  color: var(--theme-elevation-800);
  font-family: var(--font-body);

  .required {
    color: var(--theme-error-500);
    [dir='ltr'] & {
      margin-left: base(0.25);
      margin-right: auto;
    }
    [dir='rtl'] & {
      margin-right: base(0.25);
      margin-left: auto;
    }
  }
}
