# Payload vars
PORT=3000
DATABASE_URI=mongodb://127.0.0.1/payload-template-website
PAYLOAD_SECRET=3c543dbf662b4d12d8e30854
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
REVALIDATION_KEY=demo-revalation-key

# Next.js vars
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_IS_LIVE=
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalation-key
