# Database connection string
DATABASE_URI=mongodb://127.0.0.1/payload-template-website

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/payload-template-website

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
