@layer payload-default {
  .bulk-upload--add-files__body {
    padding: var(--spacer-2-5);
  }

  .bulk-upload--add-files__dropArea {
    display: flex;
    aspect-ratio: 1.5;

    .dropzone {
      flex: 1 1 auto;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      display: flex;
      gap: var(--spacer-2);
      background-color: var(--color-bg-secondary);

      p {
        margin: 0;
      }
    }
  }

  .bulk-upload--add-files__dragAndDropText {
    margin: 0;
    text-transform: lowercase;
    align-self: center;
  }
}
