@import '../../scss/styles.scss';

@layer payload-default {
  .list-header {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    &__content {
      display: grid;
      grid-template-columns: 1fr auto;
      width: 100%;
    }

    &__title-and-actions {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      gap: calc(var(--base) * 0.5);
    }

    &__title {
      font-size: var(--text-heading-medium-font-size);
      line-height: var(--text-heading-medium-line-height);
      font-weight: var(--text-heading-medium-font-weight);
      font-family: var(--text-heading-medium-font-family);
    }

    &__title-actions {
      display: flex;
      gap: calc(var(--base) * 0.5);
    }

    &__actions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: calc(var(--base) * 0.5);
    }

    &__after-header-content {
      width: 100%;
    }
  }
}
