@layer payload-default {
  .list-header {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-block: var(--spacer-2-5);
    border-bottom: var(--stroke-width-small) solid var(--color-border);
  }

  .list-header__content,
  .list-header__after-header-content {
    padding-inline: var(--gutter-h);
  }

  .list-header__content {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
  }

  .list-header__title-and-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacer-2);
  }

  .list-header__title {
    font-family: var(--text-heading-xl-font-family);
    font-size: var(--text-heading-xl-font-size);
    font-weight: var(--text-heading-xl-font-weight);
    line-height: var(--text-heading-xl-line-height);
    letter-spacing: var(--text-heading-xl-letter-spacing);
  }

  .list-header__title-actions {
    display: flex;
    gap: var(--spacer-2);
  }

  .list-header__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacer-2);
  }

  .list-header__after-header-content {
    width: 100%;
  }
}
