@import '../../scss/styles.scss';

@layer payload-default {
  .unpublish-many {
    &__toggle {
      font-size: inherit;
      line-height: inherit;
      display: inline-flex;
      background: transparent;
      color: var(--theme-elevation-800);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 0;
      padding: 0;
      align-items: center;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
