@layer payload-default {
  .code-field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);

    .code-editor {
      background: var(--field-color-bg);
      border: var(--stroke-width-small) solid var(--field-color-border);
      border-radius: var(--field-border-radius);
      padding: var(--spacer-2) 0;
      overflow: clip;
      box-shadow: none;

      &:hover {
        border-color: var(--field-color-border-hover);
      }

      &:focus-within {
        border-color: var(--field-color-border-focus);
      }
    }

    &.error .code-editor:not(:focus-within) {
      border-color: var(--field-color-border-error);

      &:hover {
        border-color: var(--field-color-border-error);
      }
    }

    &.read-only .code-editor {
      background: var(--field-color-bg-readonly);
      border-color: var(--field-color-border-readonly);
    }
  }
}
