# Database connection string
DATABASE_URI=mongodb://127.0.0.1/payload-draft-preview-example

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Used to validate the preview request
PREVIEW_SECRET=YOUR_SECRET_HERE
