@import '../../../scss/styles.scss';

.localizer {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  &__label {
    color: var(--theme-elevation-500);
  }

  &__button {
    display: flex;
    align-items: center;
  }

  &__chevron {
    .stroke {
      stroke: currentColor;
    }
  }

  button {
    color: currentColor;
    padding: 0;
    font-size: 1rem;
    line-height: base(1);
    background: transparent;
    border: 0;
    font-weight: 600;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__button {
    white-space: nowrap;
    display: flex;
  }

  span {
    color: var(--theme-elevation-400);
  }
}
