@import '../../../scss/styles.scss';

.localizer {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  &__label {
    color: var(--theme-elevation-500);
  }

  &__button {
    display: flex;
    align-items: center;
    gap: calc(var(--base) / 4);
  }

  &__chevron {
    .stroke {
      stroke: currentColor;
    }
  }

  button {
    color: currentColor;
    padding: base(0.25) 0;
    font-size: 1rem;
    line-height: base(1);
    background: transparent;
    border: 0;
    font-weight: 600;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__button {
    white-space: nowrap;
  }

  ul {
    list-style: none;
    padding: 0;
    max-height: base(8);
    margin: 0;

    li a {
      all: unset;
      cursor: pointer;
      padding-right: 0;

      &:hover,
      &:focus-visible {
        text-decoration: underline;
      }
    }
  }

  @include mid-break {
    .popup__content {
      width: calc(100vw - calc(var(--gutter-h) * 2));
    }
  }
}
