@import '../../../../../scss/styles.scss';

.doc-tabs {
  display: flex;
  gap: calc(var(--base) / 2);
  list-style: none;
  align-items: center;
  margin: 0;

  &__tab--active {
    .doc-tabs__tab-link {
      &::before {
        opacity: 1;
        background-color: var(--theme-elevation-100);
      }
    }
  }

  &__tab-link {
    @extend %h5;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--base) / 2) calc(var(--base));

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 2px;
      background-color: var(--theme-elevation-50);
      opacity: 0;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .doc-tabs__count {
        background-color: var(--theme-elevation-150);
      }
    }
  }

  &__tab-label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__count {
    padding: 0px 6px;
    background-color: var(--theme-elevation-100);
    border-radius: 1px;
  }
}
