@import '~@payloadcms/ui/scss';

// more specific that the built in payload style
.folder-view-list__wrap.folder-view-list__wrap > .folders__breadcrumbSection:not(:last-child) {
  margin-bottom: 0;
}

.folders {
  &__breadcrumbSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--base);
  }

  &__icons {
    display: flex;
    gap: calc(var(--base) / 2);

    .btn {
      height: calc(var(--base) * 1.5);
      width: calc(var(--base) * 1.5);
      margin: 0;
    }
  }

  &__gridView {
    display: flex;
    flex-direction: column;
    gap: var(--base);
  }

  &__grid {
    --rowCount: 5;
    --colGap: var(--base);
    --cellWidth: calc((100% / var(--rowCount)) - (var(--base) * (var(--rowCount) - 1) / (var(--rowCount))));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--colGap);
  }

  &__gridCard {
    width: var(--cellWidth);
    background-color: var(--theme-elevation-50);
  }

  @include large-break {
    &__grid {
      --rowCount: 4;
    }
  }

  @include mid-break {
    &__grid {
      --rowCount: 3;
    }
  }

  @include small-break {
    &__grid {
      --rowCount: 2;
    }
  }
}
