.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 9999;

  &__progress {
    height: 100%;
    background-color: var(--theme-elevation-1000);
    transition: width ease-in-out 0.3s;
  }
}
