@layer payload-default {
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 9999;
    opacity: 1;

    &__progress {
      height: 100%;
      background-color: var(--theme-elevation-1000);
      transition: width ease-in var(--transition-duration);
    }

    &--fade-out {
      opacity: 0;
      transition: opacity linear var(--transition-duration);
      transition-delay: var(--transition-duration);
    }
  }
}
