@import '../../../scss/styles';

@layer payload-default {
  .active-list-preset {
    .pill {
      background: var(--theme-elevation-750);
      font-weight: bold;

      &:hover,
      &:active {
        background: var(--theme-elevation-1000);
      }
    }
  }

  html[data-theme='light'] {
    .active-list-preset {
      .pill {
        background: var(--theme-elevation-0);
        color: var(--theme-elevation-800);
        border: 1px solid var(--theme-elevation-100);

        &:hover,
        &:active {
          background: var(--theme-elevation-100);
        }
      }
    }
  }
}
