@import 'fonts';
@import 'styles';

:root {
  --breakpoint-xs-width : $breakpoint-xs-width;
  --breakpoint-s-width  : $breakpoint-s-width;
  --breakpoint-m-width  : $breakpoint-m-width;
  --breakpoint-l-width  : $breakpoint-l-width;
}

/////////////////////////////
// GLOBAL STYLES
/////////////////////////////

* {
  box-sizing: border-box;
}

html {
  font-size: $baseline-body-size;
  line-height: $baseline-px;
  background: $color-background-gray;
  -webkit-font-smoothing: antialiased;

  @include mid-break {
    font-size: 12px;
  }
}

html, body, #app {
  height: 100%;
}

body {
  font-family: $font-body;
  font-weight: 400;
  color: $color-dark-gray;
  margin: 0;
}


::selection {
  background: $color-green;
  color: $color-dark-gray;
}

::-moz-selection {
  background: $color-green;
  color: $color-dark-gray;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  @extend %h1;
}

h2 {
    @extend %h2;
}

h3 {
    @extend %h3;
}

h4 {
    @extend %h4;
}

h5 {
    @extend %h5;
}

p {
    margin: 0 0 $baseline;
}

ul {
  padding-left: $baseline;
  margin: 0 0 $baseline;
}

a {
  color: $color-dark-gray;
}
