@import 'fonts';
@import 'styles';

/////////////////////////////
// GLOBAL STYLES
/////////////////////////////

* {
  box-sizing: border-box;
}

html {
  font-size: $baseline-body-size;
  line-height: $baseline;
  background: $color-background-gray;
}

html, body, #app {
  height: 100%;
}

body {
  font-family: $font-body;
  font-weight: 400;
  color: $color-dark-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}


::selection {
  background: $color-green;
  color: $color-dark-gray;
}

::-moz-selection {
  background: $color-green;
  color: $color-dark-gray;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  @extend %h1;
}

h2 {
    @extend %h2;
}

h3 {
    @extend %h3;
}

h4 {
    @extend %h4;
}

h5 {
    @extend %h5;
}

p {
    margin: 0 0 base(.5);
}

ul {
  padding-left: $baseline;
  margin: 0 0 $baseline;
}
