/////////////////////////////
// BREAKPOINTS
/////////////////////////////

$mobile-width   : 500px;
$tablet-width   : 1024px;
$content-width  : 1280px;
$frame-width    : 1680px;
$mobile-height  : 400px;
$tablet-height  : 700px;
$desktop-height : 900px;
