@import 'structure';

/////////////////////////////
// GRID
/////////////////////////////

// Gutter
$gutter : base(.5);

/////////////////////////////
// ROWS
/////////////////////////////

@mixin row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -#{$gutter};
  margin-left: -#{$gutter};
}

/////////////////////////////
// GUTTER SETUP
/////////////////////////////

@mixin gutter {
  padding-left: $gutter;
  padding-right: $gutter;
}
