@import 'vars';
@import 'structure';

/////////////////////////////
// HEADINGS
/////////////////////////////

%h1, %h2, %h3, %h4, %h5 {
  font-family: $font-brand;
  font-weight: 700;
  color: lighten($black, 4%);
}

%jumbo {
  font-size: base(2.5);
  line-height: 1;
  margin: 0 0 base(2);
}

%h1 {
  margin: 0 0 base(1);
  font-size: base(1);
  line-height: base(1);

  @include small-break {
    letter-spacing: base(0);
    font-size: base(1.25);
    line-height: base(1.25);
  }
}

%h2 {
  margin: 0 0 base(1);
  font-size: base(.7);
  line-height: base(.75);
  letter-spacing: 0;

  @include small-break {
    font-size: base(.85);
    line-height: base(.85);
  }
}

%h3 {
  margin: 0 0 base(1);
  font-size: base(1);
  line-height: 1.25;
  font-weight: 500;

  @include small-break {
    font-size: base(.65);
    line-height: base(.75);
  }
}

%h4 {
  margin: 0 0 $base;
  font-size: base(.75);
  line-height: 1.5;
}

%h5 {
  margin: 0;
  font-size: base(.5);
  line-height: 1.5;
  font-weight: 700;
}

%small {
  margin: 0;
  font-size: base(.4);
  line-height: 1.5;
}

/////////////////////////////
// TYPE STYLES
/////////////////////////////

%uppercase-label {
  text-transform: uppercase;
  letter-spacing: base(.0875);
  font-size: base(.325);
  font-family: $font-label;
  -webkit-font-smoothing: auto;

  @include mid-break {
    font-size: base(.31);
    letter-spacing: base(.05);
  }
}

%large-body {
  font-size: base(.6);
  line-height: base(1);
  letter-spacing: base(.02);

  @include mid-break {
    font-size: base(.7);
    line-height: base(1);
  }

  @include small-break {
    font-size: base(.55);
    line-height: base(.75);
  }
}

%code {
  font-size: base(.4);
  color: $gray;

  span {
    color: $black;
  }
}
