@import '../../../scss/styles.scss';

@layer payload-default {
  .section-title {
    position: relative;
    min-width: base(4);
    max-width: 100%;
    pointer-events: all;
    display: flex;
    overflow: hidden;

    &:after {
      display: block;
      content: attr(data-value) ' ';
      visibility: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    &:after,
    &__input {
      font-family: var(--font-body);
      font-weight: 600;
      font-size: base(0.625);
      padding: 0;
      width: 100%;
    }

    &__input {
      color: var(--theme-elevation-800);
      background-color: transparent;
      border: none;
      min-width: min-content;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      resize: none;
      appearance: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &:hover {
        box-shadow: inset 0px -2px 0px -1px var(--theme-elevation-150);
      }

      &:hover,
      &:focus {
        outline: 0;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}
