@import '../../scss/styles';

@layer payload-default {
  .icon--more {
    height: $baseline;
    width: $baseline;

    .fill {
      fill: var(--theme-elevation-800);
      stroke: currentColor;
    }
  }
}
