@import '~@payloadcms/ui/scss';

@layer payload-default {
  .sidebar-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;

    &__tabs {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(base(2), 1fr));
      gap: base(0.25);
      padding: base(0.5);
      margin-bottom: var(--base);
      background-color: var(--theme-elevation-50);
      border-radius: var(--style-radius-l);
    }

    &__tab {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1;
      padding: base(0.5);
      cursor: pointer;
      border-radius: calc(var(--style-radius-l) - 2px);
      border: 1px solid transparent;
      background-color: transparent;
      color: var(--theme-elevation-600);
      transition: all 0.15s ease;

      &:hover {
        background-color: var(--theme-elevation-100);
        color: var(--theme-elevation-800);
      }

      &--active {
        background-color: var(--theme-bg);
        border-color: var(--theme-border-color);
        color: var(--theme-text);
        @include shadow-sm;
      }
    }

    &__tab-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: base(0.9);
      height: base(0.9);

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &__tab-label {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    &__content {
      width: 100%;
      flex-grow: 1;
    }
  }
}
