@import '../../../scss/styles';

.template-minimal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: base(3) $baseline;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;

  &--width-normal {
    .template-minimal__wrap {
      max-width: 500px;
      width: 100%;
    }
  }

  &--width-wide {
    .template-minimal__wrap {
      max-width: 1024px;
      width: 100%;
    }
  }
}
