@import '../../../scss/styles.scss';

.sort-column {
  display: flex;
  gap: calc(var(--base) / 4);
  align-items: center;

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__label,
  .btn {
    vertical-align: middle;
    display: inline-block;
  }

  &__label {
    cursor: default;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__button {
    margin: 0;
    opacity: 0.3;
    padding: calc(var(--base) / 4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all var(--all-trans-timing);

    &.sort-column--active {
      opacity: 1;
      visibility: visible;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &:hover {
    .btn {
      opacity: 0.4;
      visibility: visible;
    }
  }
}
