@import '../../scss/styles.scss';

@layer payload-default {
  .status {
    &__label {
      color: var(--theme-elevation-500);
    }

    &__value {
      font-weight: 600;
    }

    &__value-wrap {
      white-space: nowrap;
    }

    &__action {
      text-decoration: underline;
    }
  }
}
