@import '~@payloadcms/ui/scss';

@layer payload-default {
  .relationship-diff-container .field-diff-content {
    padding: 0;
    background: unset;
  }

  .relationship-diff-container--hasOne {
    .relationship-diff {
      min-width: 100%;
      max-width: fit-content;
    }
  }

  .relationship-diff-container--hasMany .field-diff-content {
    background: var(--theme-elevation-50);
    padding: 10px;

    .html-diff {
      display: flex;
      min-width: 0;
      max-width: max-content;
      flex-wrap: wrap;
      gap: calc(var(--base) * 0.5);
    }

    .relationship-diff {
      padding: calc(var(--base) * 0.15) calc(var(--base) * 0.3);
    }
  }

  .relationship-diff {
    @extend %body;
    display: flex;
    align-items: center;
    border-radius: $style-radius-s;
    border: 1px solid var(--theme-elevation-150);
    position: relative;
    font-family: var(--font-body);
    max-height: calc(var(--base) * 3);
    padding: calc(var(--base) * 0.35);

    &[data-match-type='create'] {
      border-color: var(--diff-create-pill-border);
      color: var(--diff-create-parent-color);

      * {
        color: var(--diff-create-parent-color);
      }
    }

    &[data-match-type='delete'] {
      border-color: var(--diff-delete-pill-border);
      color: var(--diff-delete-parent-color);
      background-color: var(--diff-delete-pill-bg);
      text-decoration-line: none !important;

      * {
        color: var(--diff-delete-parent-color);
        text-decoration-line: none;
      }

      .relationship-diff__info {
        text-decoration-line: line-through;
      }
    }

    &__info {
      font-weight: 500;
    }

    &__pill {
      border-radius: $style-radius-s;
      margin: 0 calc(var(--base) * 0.4) 0 calc(var(--base) * 0.2);
      padding: 0 calc(var(--base) * 0.1);
      background-color: var(--theme-elevation-150);
      color: var(--theme-elevation-750);
    }

    &[data-match-type='create'] .relationship-diff__pill {
      background-color: var(--diff-create-parent-bg);
      color: var(--diff-create-pill-color);
    }

    &[data-match-type='delete'] .relationship-diff__pill {
      background-color: var(--diff-delete-parent-bg);
      color: var(--diff-delete-pill-color);
    }
  }
}
