@import '../../../../../scss/styles.scss';

.collection-default-edit {
  width: 100%;
  display: flex;

  &--has-sidebar {
    .collection-default-edit {
      &__main {
        width: calc(100% - #{base(18)});
      }

      &__edit {
        [dir='ltr'] & {
          top: 0;
          right: 0;
          border-right: 1px solid var(--theme-elevation-100);
          padding-right: calc(var(--base) * 2);
        }

        [dir='rtl'] & {
          top: 0;
          left: 0;
          border-left: 1px solid var(--theme-elevation-100);
          padding-left: calc(var(--base) * 2);
        }
      }
    }
  }

  &__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__auth {
    margin-bottom: calc(var(--base) * 1.5);
  }

  &__edit {
    padding-top: calc(var(--base) * 1.5);
    padding-bottom: var(--spacing-view-bottom);
    flex-grow: 1;
  }

  &__sidebar-wrap {
    position: sticky;
    top: 0;
    width: base(15);
  }

  &__sidebar {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__sidebar-sticky-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__sidebar-fields {
    display: flex;
    flex-direction: column;
    gap: var(--base);
    padding: calc(var(--base) * 2);
  }

  &__label {
    color: var(--theme-elevation-400);
  }

  @include mid-break {
    display: block;

    &--has-sidebar {
      .collection-default-edit {
        &__main {
          width: 100%;
        }

        &__edit {
          [dir='ltr'] & {
            border-right: 0;
            padding-right: var(--gutter-h);
          }

          [dir='rtl'] & {
            border-left: 0;
            padding-left: var(--gutter-h);
          }
        }
      }
    }

    &__main {
      width: 100%;
      min-height: initial;
    }

    &__sidebar-wrap {
      position: static;
      width: 100%;
      height: initial;
      border-left: 0;
      margin-top: calc(var(--base) / 2);
    }

    &__form {
      display: block;
    }

    &__sidebar-fields {
      padding-top: 0;
      padding-left: var(--gutter-h);
      padding-right: var(--gutter-h);
      gap: base(0.5);

      [dir='ltr'] & {
        padding-right: var(--gutter-h);
      }

      [dir='rtl'] & {
        padding-left: var(--gutter-h);
      }
    }

    &__sidebar {
      padding-bottom: base(3.5);
      overflow: visible;
    }
  }

  @include small-break {
    &__edit {
      padding-top: calc(var(--base) / 2);
    }
  }
}
