@import '~payload/scss/styles';

.step-nav {
  display: flex;

  * {
    display: block;
  }

  a {
    margin-right: rem(.35);
    border: 0;
    display: flex;
    align-items: center;

    svg {
      margin-left: rem(.35);
      width: rem(.25);
      height: rem(.25);
    }

    label {
      cursor: pointer;
    }
  }

  > label {
    color: $gray;
  }

  span {
    @extend %uppercase-label;
  }
}
