@import '../../../scss/styles';

.field-error.tooltip {
  font-family: var(--font-body);
  top: 0;
  bottom: auto;
  left: auto;
  right: base(0.5);
  transform: none;
  background-color: var(--theme-error-500);

  &::after {
    border-top-color: var(--theme-error-500);
  }
}
