@import '../../../scss/styles';

.field-error.tooltip {
  font-family: var(--font-body);
  top: 0;
  bottom: auto;
  left: auto;
  right: base(0.5);
  transform: none;
  background-color: var(--theme-error-500);

  &::after {
    border-top-color: var(--theme-error-500);
  }
}

.field-error.tooltip--position-stretch-bottom {
  top: calc(100% + base(0.15));
  left: 0;
  right: unset;
  width: 100%;
  white-space: unset;

  &::after {
    border-top-color: transparent;
    border-bottom-color: var(--theme-error-500);
  }
}
