@import '../../../../scss/styles';

.collection-list {
  width: 100%;
  margin-top: base(0.5);
  margin-bottom: base(2);

  &__wrap {
    padding-bottom: base(4);
  }

  &__header {
    margin-bottom: $baseline;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: base(0.75);

    h1 {
      margin: 0;
    }

    a {
      text-decoration: none;
    }

    .pill {
      position: relative;
      top: -8px;
      margin: 0;
    }
  }

  &__sub-header {
    flex-basis: 100%;
    margin-top: base(0.25);
  }

  .table {
    table {
      width: 100%;
      overflow: auto;

      #heading-_select,
      .cell-_select {
        min-width: unset;
        width: auto;
      }
    }
  }

  &__page-controls {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .paginator {
    margin-bottom: 0;
  }

  &__page-info {
    [dir='ltr'] & {
      margin-right: base(1);
      margin-left: auto;
    }
    [dir='rtl'] & {
      margin-left: base(1);
      margin-right: auto;
    }
  }

  &__list-selection {
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: base(0.75) 0;
    width: 100%;
    background-color: var(--theme-bg);

    .btn {
      margin: 0 0 0 base(0.5);
    }

    .btn {
      background-color: var(--theme-elevation-100);
      cursor: pointer;
      padding: 0 base(0.25);
      border-radius: $style-radius-s;

      &:hover {
        background-color: var(--theme-elevation-200);
      }
    }
  }

  &__list-selection-actions {
    display: flex;
    gap: base(0.25);
  }

  &__shimmer {
    margin-top: base(1.75);
    width: 100%;
    > div {
      margin-top: 8px;
    }
  }

  @include mid-break {
    margin-top: base(0.25);

    &__wrap {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__header {
      gap: base(0.5);
    }

    &__sub-header {
      margin-top: 0;
    }

    &__search-input {
      margin: 0;
    }

    &__page-controls {
      flex-wrap: wrap;
    }

    &__page-info {
      margin-left: 0;
    }

    .paginator {
      width: 100%;
      margin-bottom: $baseline;
    }
  }

  @include small-break {
    margin-top: 0;
    margin-bottom: base(3);

    &__header {
      .pill {
        top: -2px;
      }
    }
  }
}
