@import '../../../scss/styles.scss';

.view-version {
  width: 100%;
  margin-bottom: calc(var(--base) * 2);

  &__wrap {
    padding-top: var(--base);
  }

  &__intro {
    margin-bottom: calc(var(--base) / 2);
  }

  &__header {
    margin-bottom: var(--base);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    h2 {
      margin: 0;
    }
  }

  &__controls {
    display: flex;
    margin-bottom: var(--base);
    gap: var(--base);

    > * {
      flex-basis: 100%;
    }
  }

  &__restore {
    margin: 0 0 0 $baseline;
  }

  @include mid-break {
    &__wrap {
      padding-top: 0;
    }

    &__intro,
    &__header {
      display: block;
    }

    &__controls {
      display: block;
      margin: 0 base(-0.5) base(2);

      > * {
        margin-bottom: base(0.5);
      }
    }

    &__restore {
      margin: base(0.5) 0 0 0;
    }
  }
}
