@import '../../../../../scss/styles.scss';

.relationship-add-new {
  display: flex;
  align-items: stretch;

  .popup__trigger-wrap {
    display: flex;
    align-items: stretch;
    height: 100%;
  }

  &__add-button,
  &__add-button.doc-drawer__toggler {
    @include formInput;
    position: relative;
    height: 100%;
    margin-left: -1px;
    display: flex;
    padding: 0 base(0.5);
    align-items: center;
    display: flex;
    cursor: pointer;
  }
}
