@layer payload-default {
  .paginator {
    display: flex;
    align-items: center;
    gap: var(--spacer-1);
  }

  .paginator__page-input-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacer-1);
  }

  .paginator__page-input {
    box-sizing: content-box;
    min-width: calc(24px - var(--spacer-2) - 2px);
    min-height: var(--spacer-4);
    padding: 0 var(--spacer-1);
    border: 1px solid transparent;
    border-radius: var(--radius-medium);
    background: var(--color-bg-secondary);
    color: var(--color-text);
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    text-align: center;

    &:hover:not(:focus) {
      border-color: var(--color-border);
    }

    &:focus {
      border-color: var(--color-border-selected);
    }

    &:focus-visible {
      outline: none;
    }
  }

  .paginator__page-total {
    color: var(--color-text);
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    white-space: nowrap;
    padding: 0 var(--spacer-1);
  }
}
