@layer payload-default {
  .upload-field-card {
    background: var(--bg-secondary);
    border-radius: var(--radius-medium);
    display: flex;
    align-items: center;
    gap: var(--spacer-1);
    width: 100%;
  }

  .upload-field-card--readOnly {
    background: var(--bg-default);
    border: 1px solid var(--border-default);
  }

  .upload-field-card--size-medium {
    padding: var(--spacer-2);

    .thumbnail {
      width: var(--spacer-6);
      height: var(--spacer-6);
    }
  }

  .upload-field-card--size-small {
    padding: var(--spacer-2) var(--spacer-2) var(--spacer-2) var(--spacer-1);

    .thumbnail {
      width: var(--spacer-4);
      height: var(--spacer-4);
    }
  }
}
