@import '../../scss/styles.scss';

@layer payload-default {
  .leave-without-saving {
    @include blur-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__wrapper {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: base(0.8);
      padding: base(2);
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: base(0.4);

      > * {
        margin: 0;
      }
    }

    &__controls {
      display: flex;
      gap: base(0.4);

      .btn {
        margin: 0;
      }
    }
  }
}
