@import '../../../../scss/styles';

@layer payload-default {
  .list-preset-where-field {
    .field-label {
      margin-bottom: calc(var(--base) / 2);
    }

    .value-wrapper {
      background-color: var(--theme-elevation-50);
      padding: var(--base);
    }
  }

  .list-preset-where-field {
    .pill {
      &--style-always-white {
        background: var(--theme-elevation-250);
        color: var(--theme-elevation-1000);
      }
    }
  }
}
