@layer payload-default {
  /* Base button */

  .btn {
    display: flex;
    align-items: center;

    * {
      pointer-events: none;
    }

    border-radius: var(--radius-medium);
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    background-color: transparent;

    &.btn--disabled {
      cursor: not-allowed;
    }
  }

  .btn--disabled,
  .btn--disabled .btn {
    cursor: not-allowed;
  }

  /* Style variants */

  .btn--style-primary {
    color: var(--text-onbrand);
    background-color: var(--bg-brand);

    &:hover:not(.btn--disabled) {
      background-color: var(--bg-brand-hover);
    }

    &:active:not(.btn--disabled) {
      background-color: var(--bg-brand-pressed);
    }

    &.btn--disabled:not(.btn--loading) {
      color: var(--text-disabled-ondisabled);
      background-color: var(--bg-disabled-default);
    }
  }

  .btn.btn--style-secondary {
    color: var(--text-default);
    background-color: var(--bg-default-default);
    border: 1px solid var(--special-border-translucent);

    &:hover:not(.btn--disabled) {
      background-color: var(--bg-transparent-hover);
    }

    &:active:not(.btn--disabled) {
      background-color: var(--bg-transparent-pressed);
    }

    &.btn--disabled {
      color: var(--text-disabled-default);
    }
  }

  .btn--style-dashed {
    color: var(--text-default);
    background-color: transparent;
    border: 1px dashed var(--special-border-translucent);

    &:hover:not(.btn--disabled) {
      background-color: var(--bg-transparent-hover);
    }

    &:active:not(.btn--disabled) {
      background-color: var(--bg-transparent-pressed);
    }

    &.btn--disabled {
      color: var(--text-disabled-default);
      border-color: var(--border-disabled-default);
    }
  }

  .btn--style-pill {
    color: var(--text-default);
    background-color: var(--bg-default-secondary);

    &:hover:not(.btn--disabled) {
      background-color: var(--bg-default-secondary-hover);
    }

    &:active:not(.btn--disabled) {
      background-color: var(--bg-default-secondary-pressed);
    }

    &.btn--disabled {
      color: var(--text-disabled-default);
    }
  }

  .btn--style-destructive {
    color: var(--text-danger-ondanger);
    background-color: var(--bg-danger);

    &:hover:not(.btn--disabled) {
      background-color: var(--bg-danger-hover);
    }

    &:active:not(.btn--disabled) {
      background-color: var(--bg-danger-pressed);
    }

    &.btn--disabled:not(.btn--loading) {
      color: var(--text-disabled-ondisabled);
      background-color: var(--bg-disabled-default);
    }
  }

  .btn--style-ghost {
    color: var(--text-default);
    background-color: transparent;

    &:hover:not(.btn--disabled) {
      background-color: var(--bg-transparent-hover);
    }

    &:active:not(.btn--disabled) {
      background-color: var(--bg-transparent-pressed);
    }

    &.btn--disabled {
      color: var(--text-disabled-default);
    }
  }

  .btn--style-icon-label,
  .btn--style-icon-label.btn--icon-position-left,
  .btn--style-icon-label.btn--icon-position-right {
    padding: 0 var(--spacer-2) 0 var(--spacer-1);
    min-height: var(--spacer-4);
    border-width: 0;
    font-weight: var(--text-body-medium-font-weight);
    color: var(--text-default);
    background-color: transparent;
    border-radius: var(--radius-medium);

    &:not(.btn--icon) {
      padding: 0 var(--spacer-2);
    }

    &:hover:not(.btn--disabled) {
      background: var(--bg-transparent-hover);
    }

    &:active:not(.btn--disabled) {
      background: var(--bg-transparent-pressed);
    }

    &.btn--disabled {
      color: var(--text-disabled-default);
    }
  }

  .btn--style-icon-subtle,
  .btn--style-icon-subtle.btn--icon-position-left,
  .btn--style-icon-subtle.btn--icon-position-right {
    padding: 0;
    border-width: 0;
    color: var(--icon-secondary);
    border-radius: var(--radius-medium);
    transition: color 100ms;

    &:hover:not(.btn--disabled) {
      color: var(--icon-default);
    }

    &:active:not(.btn--disabled) {
      color: var(--icon-default);
    }

    &.btn--disabled {
      color: var(--icon-disabled);
    }

    .btn__icon {
      width: auto;
      height: auto;
      border: none;
    }
  }

  .btn--style-subtle {
    color: var(--text-default);
    background-color: var(--bg-default-secondary);
    border: 1px solid var(--border-default);

    &:hover:not(.btn--disabled) {
      background-color: var(--bg-default-secondary-hover);
    }

    &:active:not(.btn--disabled) {
      background-color: var(--bg-default-secondary-pressed);
    }

    &.btn--disabled {
      color: var(--text-disabled-default);
    }
  }

  .btn--style-tab {
    color: var(--text-default);
    background-color: transparent;
    font-weight: 500;

    &:hover:not(.btn--disabled) {
      background-color: var(--bg-transparent-hover);
    }

    &:active:not(.btn--disabled) {
      background-color: var(--bg-transparent-pressed);
    }

    &.btn--disabled {
      font-weight: 600;
      background-color: var(--bg-default-secondary);
    }
  }

  .btn--style-none {
    padding: 0;
  }

  /* Icon */

  .btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: inherit;

    .stroke {
      stroke: currentColor;
      fill: none;
    }

    .fill {
      fill: currentColor;
    }
  }

  .btn__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn--has-tooltip {
    position: relative;
  }

  .btn--icon {
    .btn__content {
      gap: 2px;
    }
  }

  .btn--icon-position-left {
    .btn__content {
      flex-direction: row-reverse;
    }
  }

  /* Sizes */

  .btn--size-medium {
    height: var(--spacer-4, 1.5rem);
    padding: 0 var(--spacer-2);

    &:not(.btn--icon-only).btn--icon-position-left {
      padding-inline-start: var(--spacer-1);
    }

    &:not(.btn--icon-only).btn--icon-position-right {
      padding-inline-end: var(--spacer-1);
    }
  }

  .btn--size-large {
    height: var(--spacer-5, 2rem);
    padding: 0 var(--spacer-3);

    &:not(.btn--icon-only).btn--icon-position-left {
      padding-inline-start: var(--spacer-2);
    }

    &:not(.btn--icon-only).btn--icon-position-right {
      padding-inline-end: var(--spacer-2);
    }
  }

  /* Loading state */

  .btn--loading {
    position: relative;
    cursor: wait;

    .btn__content {
      opacity: 0;
    }
  }

  .btn__loading {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Popup split-button pattern */

  .btn--withPopup {
    --separator-color: var(--border-default);
    display: flex;

    &:has(.btn--size-medium) {
      border-radius: var(--radius-medium);

      .popup-button {
        height: var(--spacer-4, 1.5rem);
      }
    }

    &:has(.btn--size-large) {
      border-radius: var(--radius-medium);

      .popup-button {
        height: var(--spacer-5, 2rem);
      }
    }

    .btn {
      margin: 0;
      border-radius: inherit;
      border-radius: var(--radius-medium) 0 0 var(--radius-medium);

      html:not([dir='RTL']) & {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      html[dir='RTL'] & {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .popup-button {
      border-radius: var(--radius-medium);
      align-items: center;

      html:not([dir='RTL']) & {
        border-left: 1px solid var(--separator-color);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      html[dir='RTL'] & {
        border-right: 1px solid var(--separator-color);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .btn--withPopup.btn--style-primary {
    --separator-color: var(--border-brand-strong);
    .btn,
    .popup-button {
      color: var(--text-onbrand);
      background-color: var(--bg-brand);

      &:hover,
      &:active {
        background-color: var(--bg-brand-hover);
      }
    }

    &.btn--disabled .btn,
    &.btn--disabled .popup-button {
      color: var(--text-disabled-ondisabled);
      background-color: var(--bg-disabled-default);

      &:hover,
      &:active {
        background-color: var(--bg-disabled-default);
      }
    }
  }

  .btn--withPopup.btn--style-secondary {
    --separator-color: var(--special-border-translucent);
    .btn,
    .popup-button {
      color: var(--text-default);
      background-color: var(--bg-default-default);
      border: 1px solid var(--special-border-translucent);

      &:hover,
      &:active {
        background-color: var(--bg-transparent-hover);
      }
    }

    .btn {
      html:not([dir='RTL']) & {
        border-right: none;
      }

      html[dir='RTL'] & {
        border-left: none;
      }
    }

    .popup-button {
      html:not([dir='RTL']) & {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      html[dir='RTL'] & {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.btn--disabled .btn,
    &.btn--disabled .popup-button {
      color: var(--text-disabled-default);

      &:hover,
      &:active {
        background-color: var(--bg-default-default);
      }
    }
  }

  .btn--withPopup.btn--style-destructive {
    --separator-color: var(--border-danger-strong);
    .btn,
    .popup-button {
      color: var(--text-danger-ondanger);
      background-color: var(--bg-danger);

      &:hover,
      &:active {
        background-color: var(--bg-danger-hover);
      }
    }

    &.btn--disabled .btn,
    &.btn--disabled .popup-button {
      color: var(--text-disabled-ondisabled);
      background-color: var(--bg-disabled-default);

      &:hover,
      &:active {
        background-color: var(--bg-disabled-default);
      }
    }
  }

  .btn--withPopup.btn--style-ghost {
    --separator-color: transparent;
    .btn,
    .popup-button {
      color: var(--text-default);
      background-color: transparent;

      &:hover,
      &:active {
        background-color: var(--bg-transparent-hover);
      }
    }

    &.btn--disabled .btn,
    &.btn--disabled .popup-button {
      color: var(--text-disabled-default);

      &:hover,
      &:active {
        background-color: transparent;
      }
    }
  }
}
