@import '../../scss/styles.scss';

a.btn {
  display: inline-block;
}

.btn {
  background: transparent;
  border-radius: $style-radius-s;
  font-size: var(--base-body-size);
  margin-block: base(1.2);
  line-height: base(1.2);
  border: 0;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
  transition-property: border, color, box-shadow, background;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0, 0.2, 0.2, 1);

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: base(1.2);
    height: base(1.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 100%;
    @include color-svg(currentColor);
    padding: base(0.1);
    color: inherit;

    .icon {
      width: 100%;
      height: 100%;
    }

    &.btn--size-small {
      padding: base(0.2);
    }
  }

  &--has-tooltip {
    position: relative;
  }

  &--icon-style-without-border {
    .btn__icon {
      border: none;
    }
  }

  &--icon-style-none {
    .btn__icon {
      border: none;
    }
  }

  &--size-small {
    padding: 0 base(0.4);

    &.btn--icon-position-left {
      padding-inline-start: base(0.1);
      padding-inline-end: base(0.4);

      .btn__content {
        flex-direction: row-reverse;
      }
    }

    &.btn--icon-position-right {
      padding-inline-start: base(0.4);
      padding-inline-end: base(0.1);
    }
  }

  &--size-medium {
    padding: base(0.2) base(0.6);

    &.btn--icon-position-left {
      padding-inline-start: base(0.4);
      padding-inline-end: base(0.6);

      .btn__content {
        gap: base(0.2);
        flex-direction: row-reverse;
      }
    }

    &.btn--icon-position-right {
      padding-inline-start: base(0.6);
      padding-inline-end: base(0.4);

      .btn__content {
        gap: base(0.2);
      }
    }
  }

  &--size-large {
    padding: base(0.4) base(0.8);

    &.btn--icon-position-left {
      padding-inline-start: base(0.6);
      padding-inline-end: base(0.8);

      .btn__content {
        gap: base(0.4);
        flex-direction: row-reverse;
      }
    }

    &.btn--icon-position-right {
      padding-inline-start: base(0.8);
      padding-inline-end: base(0.6);

      .btn__content {
        gap: base(0.4);
      }
    }
  }

  &--style-primary {
    background: var(--theme-elevation-800);
    color: var(--theme-elevation-0);

    &.btn--disabled {
      background: var(--theme-elevation-200);
    }

    &:not(.btn--disabled) {
      &:hover,
      &:focus-visible,
      &:focus,
      &:active {
        background: var(--theme-elevation-600);
      }
    }

    .icon {
      @include color-svg(var(--theme-elevation-0));
    }
  }

  &--style-secondary {
    box-shadow: inset 0 0 0 1px var(--theme-elevation-800);
    color: var(--theme-text);

    &.btn--disabled {
      color: var(--theme-elevation-200);
      box-shadow: inset 0 0 0 1px var(--theme-elevation-200);
    }

    &:not(.btn--disabled) {
      &:hover,
      &:focus-visible,
      &:focus,
      &:active {
        color: var(--theme-elevation-600);
        box-shadow: inset 0 0 0 1px var(--theme-elevation-400);
      }
    }
  }

  &--style-icon-label,
  &--style-icon-label.btn--icon-position-left,
  &--style-icon-label.btn--icon-position-right {
    padding: 0;
    font-weight: 600;

    .btn__content {
      gap: base(0.4);
    }
  }

  &--style-none {
    padding: 0;
  }

  &:focus:not(:focus-visible) {
    .btn__icon {
      @include color-svg(var(--theme-elevation-800));
      background: var(--theme-elevation-150);
    }

    outline: none;
  }

  &:active {
    .btn__icon {
      @include color-svg(var(--theme-elevation-0));
      background: var(--theme-elevation-700);
    }
  }

  &:focus-visible {
    outline: var(--accessibility-outline);
    outline-offset: var(--accessibility-outline-offset);
  }

  &.btn--disabled {
    cursor: not-allowed;
  }
}
