@import '../../../scss/styles.scss';

.step-nav {
  display: flex;

  * {
    display: block;
  }

  a {
    margin-right: base(.25);
    border: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    text-decoration: none;

    svg {
      margin-left: base(.25);
      transform: rotate(-90deg);
    }

    label {
      cursor: pointer;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    max-width: base(6);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  @include mid-break {
    > *:first-child {
      padding-left: $baseline;
    }
  }
}
