@import '../../../scss/styles.scss';

.stay-logged-in {
  @include blur-bg;
  display: flex;
  align-items: center;
  height: 100%;

  &__template {
    position: relative;
    z-index: 1;
  }

  .btn {
    margin: 0;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: $baseline;
  }
}
