@layer payload-default {
  .query-preset-group-by-field {
    .field-label {
      margin-bottom: var(--spacer-2);
    }

    &__hint {
      margin: 0;
      color: var(--color-text-secondary);
    }
  }
}
