@layer payload-default {
  .tabs-diff {
    // Space between each tab or tab locale
    &__tab:not(:first-of-type),
    &__tab-locale:not(:first-of-type) {
      margin-top: var(--base);
    }

    &__locale-label {
      background: var(--theme-elevation-100);
      padding: calc(var(--base) * 0.25);
      [dir='ltr'] & {
        margin-right: calc(var(--base) * 0.25);
      }
      [dir='rtl'] & {
        margin-left: calc(var(--base) * 0.25);
      }
    }
  }
}
