.document-fields__main {
  --tenant-gutter-h-right: var(--main-gutter-h-right);
  --tenant-gutter-h-left: var(--main-gutter-h-left);
}
.document-fields__sidebar-fields {
  --tenant-gutter-h-right: var(--sidebar-gutter-h-right);
  --tenant-gutter-h-left: var(--sidebar-gutter-h-left);
}
.document-fields__sidebar-fields,
.document-fields__main {
  .render-fields {
    .tenantField {
      width: calc(100% + var(--tenant-gutter-h-right) + var(--tenant-gutter-h-left));
      margin-left: calc(-1 * var(--tenant-gutter-h-left));
      border-bottom: 1px solid var(--theme-elevation-100);
      padding-top: calc(var(--base) * 1);
      padding-bottom: calc(var(--base) * 1.75);

      &__wrapper {
        padding-left: var(--tenant-gutter-h-left);
        padding-right: var(--tenant-gutter-h-right);
      }

      [dir='rtl'] & {
        margin-right: calc(-1 * var(--tenant-gutter-h-right));
        background-image: repeating-linear-gradient(
          -120deg,
          var(--theme-elevation-50) 0px,
          var(--theme-elevation-50) 1px,
          transparent 1px,
          transparent 5px
        );
      }

      &:not(:first-child) {
        border-top: 1px solid var(--theme-elevation-100);
        margin-top: calc(var(--base) * 1.25);
      }
      &:not(:last-child) {
        margin-bottom: var(--spacing-field);
      }
      &:first-child {
        margin-top: calc(var(--base) * -1.5);
        padding-top: calc(var(--base) * 1.5);
      }

      &__debug-pill {
        margin-bottom: calc(var(--base) * 0.5);
      }
    }
  }
}
