@layer payload-default {
  .react-select-container {
    width: 100%;
  }

  .react-select {
    .rs__control {
      position: relative;
      width: 100%;
      min-height: var(--spacer-5);
      background: var(--bg-default-secondary);
      border: 1px solid transparent;
      border-radius: var(--radius-medium);
      color: var(--text-default);
      font-family: var(--text-body-medium-font-family);
      font-size: var(--text-body-medium-font-size);
      font-weight: var(--text-body-medium-font-weight);
      line-height: var(--text-body-medium-line-height);
      -webkit-appearance: none;
      appearance: none;
      transition-property: box-shadow, background-color;
      transition-duration: 100ms;
      transition-timing-function: cubic-bezier(0, 0.2, 0.2, 1);
      height: auto;
      padding-block: calc(var(--spacer-1) + 1px);
      padding-inline: var(--spacer-2) var(--spacer-5);

      flex-wrap: wrap;
      gap: var(--spacer-1);

      &:hover:not(:focus-within) {
        border-color: var(--border-default);
      }

      &:focus,
      &:focus-within,
      &:active {
        border-color: var(--border-selected);
        outline: 0;
      }
    }

    .rs__placeholder {
      color: var(--text-default-tertiary);
    }

    .rs__menu-notice {
      padding: 0.625rem 0.75rem;
    }

    .rs__indicator {
      padding: 0 0.25rem;
      cursor: pointer;
    }

    .rs__indicator-separator {
      display: none;
    }

    .rs__indicators {
      position: absolute;
      right: 0;
      top: calc((var(--spacer-5) - 1rem - 2px) / 2);
      display: flex;
      align-items: center;
      padding-right: var(--spacer-2);
    }

    .rs__input-container {
      color: var(--text-default);
      height: 1.25rem;
      margin: 0;
      padding: 0;
    }

    .rs__input {
      font-family: var(--text-body-medium-font-family);
      width: 0.625rem;
      height: 1.25rem;
    }

    .rs__menu {
      z-index: 4;
      border-radius: var(--radius-medium);
      box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.04),
        0 0 0.5px rgba(0, 0, 0, 0.12),
        0 10px 16px rgba(0, 0, 0, 0.08),
        0 2px 6px rgba(0, 0, 0, 0.12);
      background: var(--bg-default);
      overflow: hidden;
    }

    .rs__menu-list {
      max-height: 15rem;
      overflow-y: auto;
    }

    .rs__group-heading {
      color: var(--text-tertiary);
      padding: 0.75rem 1rem 0.25rem 1rem;
      font-family: var(--text-body-medium-font-family);
      font-size: var(--text-body-medium-font-size);
      font-weight: var(--text-body-medium-font-weight);
      line-height: var(--text-body-medium-line-height);
    }

    .rs__option {
      font-family: var(--text-body-medium-font-family);
      font-size: var(--text-body-medium-font-size);
      font-weight: var(--text-body-medium-font-weight);
      line-height: 2rem;
      padding-inline: var(--spacer-2);
      color: var(--text-default);
    }

    .rs__option--is-focused {
      background-color: var(--bg-default-secondary);
    }

    .rs__option--is-selected {
      background-color: var(--bg-selected);
    }

    &.rs--is-disabled .rs__control {
      background: var(--bg-default-default);
      border-color: var(--border-default);
      color: var(--text-disabled-default);
    }
  }

  .react-select--error,
  .react-select--error:hover,
  .react-select--error:focus-within {
    div.rs__control {
      border: 1px solid var(--border-danger-strong);

      & > div.rs__indicator > button.dropdown-indicator[type='button'] {
        border: none;
      }
    }
  }
}
