@import '../../../../scss/styles';

.upload {
	position: relative;
  margin-bottom: $baseline;
  min-width: base(15);

  &__wrap {
    display: flex;
    padding: base(1.5) base(1.5) $baseline;
    background: $color-background-gray;

    .btn {
      margin: 0 $baseline base(.5) 0;
    }
  }

  @include mid-break {
    min-width: calc(100vw - #{base(2)});

    &__wrap {
      display: block;
      padding: $baseline $baseline base(.5);

      .btn {
        width: 100%;
      }
    }
  }
}
