@layer payload-default {
  .reset-password__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-5);
    width: 100%;
  }

  .reset-password__form .form-header {
    margin-bottom: 0;
  }

  .reset-password__form__inputWrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-3);
  }

  .reset-password__form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
