.inputWrap {
  width: 100%;
}

.input {
  width: 100%;
  font-family: system-ui;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid var(--background-light);
  background: none;
  background-color: var(--background-light);
  color: var(--foreground);
  height: calc(var(--base) * 2);
  line-height: calc(var(--base) * 2);
  padding: 0 calc(var(--base) / 2);

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--foreground);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-light) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.label {
  margin-bottom: 0;
  display: block;
  line-height: 1;
  margin-bottom: calc(var(--base) / 2);
}

.error {
  margin-top: 5px;
  color: red;
}
