@import '../../../../scss/styles';

.position-handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: base(.5) base(.75) 0 0;
  margin-bottom: base(1);
  position: absolute;
  top: 0; right: 100%; bottom: 0;

  &__border-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: #{$style-stroke-width-s} 0px 0px 0px $color-light-gray;
    padding-right: base(.5);
    height: 100%;
  }

  &__move-backward {
    transform: rotate(.5turn);
    margin: 0 0 base(.25);
    opacity: 0;
  }

  &__move-forward {
    margin: base(.25) 0 0;
    opacity: 0;
  }

  &__current-position {
    text-align: center;
    color: $color-gray;
  }
}
