@import '../../../../../../scss/styles';

.blocks-container {
  width: 100%;
  margin-top: base(1);
  margin-bottom: base(.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 450px;
  max-width: 80vw;
  max-height: 300px;
  position: relative;
}
