@import '../../../../scss/styles.scss';

.field-type.flexible {

  &__add-button-wrap {
    .btn {
      margin: 0;
    }
  }

  .section .section {
    margin-top: 0;
  }

  .section__content {
    > div > div {
      width: 100%;
    }
  }
}
