@import '../../../../scss/styles.scss';

.field-type.flexible {

  &__add-button-wrap {

    .btn {
      color: $color-gray;
      margin: 0;

      &:hover {
        color: $color-dark-gray;
      }
    }
  }

  .section .section {
    margin-top: 0;
  }

  .section__content {
    > div > div {
      width: 100%;
    }
  }
}
