@import '../../scss/styles.scss';

@layer payload-default {
  .icon--logout {
    height: $baseline;
    width: $baseline;

    .stroke {
      stroke: currentColor;
      stroke-width: 2px;
    }
  }
}
