@import '~payload/scss/styles';

.field-type.textarea {
  margin-bottom: rem(.5);
  position: relative;

  textarea {
    @include formInput();
    min-height: rem(3);
  }

  &.error {
    textarea {
      background-color: lighten($error, 20%);
    }
  }
}
