@import '../../../scss/styles.scss';

@layer payload-default {
  .folder-file-table {
    &__cell-with-icon {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: calc(var(--base) / 2);
    }
  }
}
