.loginPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  input {
    padding: 8px 16px;
    width: 300px;
  }

  button {
    margin-top: 4px;
    padding: 8px 20px;
  }
}
