.query-inspector {
  display: flex;
  gap: var(--base);
}

.query-inspector__configuration {
  margin-top: calc(var(--base) * 2);
}

.query-inspector__results-container {
  --inspector-bg: var(--theme-elevation-50);
  overflow: auto;
  background-color: var(--inspector-bg);
  flex-grow: 1;
  padding-top: calc(var(--base) * 0.5);
  padding-left: calc(var(--base) * 0.5);
  padding-bottom: calc(var(--base) * 0.5);

  .json-formatter-constructor-name,
  .json-formatter-constructor-name + *,
  > .json-formatter-row > .json-formatter-toggler-link {
    display: none;
  }

  > .json-formatter-row {
    border: none !important;
  }

  .json-formatter-constructor-name,
  .json-formatter-key,
  .json-formatter-bracket {
    color: var(--theme-text);
  }

  .json-formatter-row {
    position: relative;
  }

  .json-formatter-children {
    position: relative;
  }

  .json-formatter-toggler-link {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .json-formatter-toggler-link {
    &:before {
      content: '';
      position: absolute;
      width: 0px;
      border-left: 1px dashed var(--theme-elevation-400);
      opacity: 0.5;
      height: calc(100% - 25px);
      top: 25px;
      bottom: 0;
      left: 0;
    }
  }

  .json-formatter-row .json-formatter-toggler {
    height: 5px;
    width: 5px;
    position: relative;
    opacity: 1;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      border: 4px solid transparent;
      border-left-color: var(--theme-text);
      transform: translate3d(-50%, -50%, 0px) !important;
      left: 0;
      top: 5px;
    }
  }

  .json-formatter-row.json-formatter-open > .json-formatter-toggler-link > .json-formatter-toggler {
    &:after {
      border-top-color: var(--theme-text);
      border-left-color: transparent;
    }
  }

  .json-formatter-key {
  }

  .json-formatter-number {
    color: #62c3f3;
  }
}

html[data-theme='dark'] {
  .query-inspector__results-container {
    .json-formatter-toggler {
    }

    .json-formatter-key {
    }

    .json-formatter-number {
    }
  }
}
