@import '../../../scss/styles';

.search-filter {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: base(.5);
  }

  &__input {
    @include formInput;
    padding-left: base(2);
    background-color: unset;
    border: none;
  }
}
