@import "../../css/common";

.recoverPassword {
  margin-bottom: var(--block-padding);
}

.error {
  color: red;
  margin-bottom: 15px;
}

.formWrapper {
  width: 66.66%;

  @include mid-break {
    width: 100%;
  }
}

.submit {
  margin-top: var(--base);
}

.message {
  margin-bottom: var(--base);
}

