// Keep these in sync with the colors exported in '../cssVariables.js'

:root {
  --color-base-0: rgb(255, 255, 255);
  --color-base-50: rgb(245, 245, 245);
  --color-base-100: rgb(235, 235, 235);
  --color-base-150: rgb(221, 221, 221);
  --color-base-200: rgb(208, 208, 208);
  --color-base-250: rgb(195, 195, 195);
  --color-base-300: rgb(181, 181, 181);
  --color-base-350: rgb(168, 168, 168);
  --color-base-400: rgb(154, 154, 154);
  --color-base-450: rgb(141, 141, 141);
  --color-base-500: rgb(128, 128, 128);
  --color-base-550: rgb(114, 114, 114);
  --color-base-600: rgb(101, 101, 101);
  --color-base-650: rgb(87, 87, 87);
  --color-base-700: rgb(74, 74, 74);
  --color-base-750: rgb(60, 60, 60);
  --color-base-800: rgb(47, 47, 47);
  --color-base-850: rgb(34, 34, 34);
  --color-base-900: rgb(20, 20, 20);
  --color-base-950: rgb(7, 7, 7);
  --color-base-1000: rgb(0, 0, 0);

  --color-success-50: rgb(237, 245, 249);
  --color-success-100: rgb(218, 237, 248);
  --color-success-150: rgb(188, 225, 248);
  --color-success-200: rgb(156, 216, 253);
  --color-success-250: rgb(125, 204, 248);
  --color-success-300: rgb(97, 190, 241);
  --color-success-350: rgb(65, 178, 236);
  --color-success-400: rgb(36, 164, 223);
  --color-success-450: rgb(18, 148, 204);
  --color-success-500: rgb(21, 135, 186);
  --color-success-550: rgb(12, 121, 168);
  --color-success-600: rgb(11, 110, 153);
  --color-success-650: rgb(11, 97, 135);
  --color-success-700: rgb(17, 88, 121);
  --color-success-750: rgb(17, 76, 105);
  --color-success-800: rgb(18, 66, 90);
  --color-success-850: rgb(18, 56, 76);
  --color-success-900: rgb(19, 44, 58);
  --color-success-950: rgb(22, 33, 39);

  --color-error-50: rgb(250, 241, 240);
  --color-error-100: rgb(252, 229, 227);
  --color-error-150: rgb(247, 208, 204);
  --color-error-200: rgb(254, 193, 188);
  --color-error-250: rgb(253, 177, 170);
  --color-error-300: rgb(253, 154, 146);
  --color-error-350: rgb(253, 131, 123);
  --color-error-400: rgb(246, 109, 103);
  --color-error-450: rgb(234, 90, 86);
  --color-error-500: rgb(218, 75, 72);
  --color-error-550: rgb(200, 62, 61);
  --color-error-600: rgb(182, 54, 54);
  --color-error-650: rgb(161, 47, 47);
  --color-error-700: rgb(144, 44, 43);
  --color-error-750: rgb(123, 41, 39);
  --color-error-800: rgb(105, 39, 37);
  --color-error-850: rgb(86, 36, 33);
  --color-error-900: rgb(64, 32, 29);
  --color-error-950: rgb(44, 26, 24);

  --color-warning-50: rgb(249, 242, 237);
  --color-warning-100: rgb(248, 232, 219);
  --color-warning-150: rgb(243, 212, 186);
  --color-warning-200: rgb(243, 200, 162);
  --color-warning-250: rgb(240, 185, 136);
  --color-warning-300: rgb(238, 166, 98);
  --color-warning-350: rgb(234, 148, 58);
  --color-warning-400: rgb(223, 132, 17);
  --color-warning-450: rgb(204, 120, 15);
  --color-warning-500: rgb(185, 108, 13);
  --color-warning-550: rgb(167, 97, 10);
  --color-warning-600: rgb(150, 87, 11);
  --color-warning-650: rgb(134, 78, 11);
  --color-warning-700: rgb(120, 70, 13);
  --color-warning-750: rgb(105, 61, 13);
  --color-warning-800: rgb(90, 55, 19);
  --color-warning-850: rgb(73, 47, 21);
  --color-warning-900: rgb(56, 38, 20);
  --color-warning-950: rgb(38, 29, 21);

  --color-blue-50: rgb(237, 245, 249);
  --color-blue-100: rgb(218, 237, 248);
  --color-blue-150: rgb(188, 225, 248);
  --color-blue-200: rgb(156, 216, 253);
  --color-blue-250: rgb(125, 204, 248);
  --color-blue-300: rgb(97, 190, 241);
  --color-blue-350: rgb(65, 178, 236);
  --color-blue-400: rgb(36, 164, 223);
  --color-blue-450: rgb(18, 148, 204);
  --color-blue-500: rgb(21, 135, 186);
  --color-blue-550: rgb(12, 121, 168);
  --color-blue-600: rgb(11, 110, 153);
  --color-blue-650: rgb(11, 97, 135);
  --color-blue-700: rgb(17, 88, 121);
  --color-blue-750: rgb(17, 76, 105);
  --color-blue-800: rgb(18, 66, 90);
  --color-blue-850: rgb(18, 56, 76);
  --color-blue-900: rgb(19, 44, 58);
  --color-blue-950: rgb(22, 33, 39);
}
