@layer payload-default {
  :root {
    --field-label-letter-spacing: var(--text-body-medium-strong-letter-spacing);
  }

  .field-label {
    display: flex;
    align-items: center;
  }

  .field-label:not(.unstyled) {
    color: var(--field-color-label);
    font-family: var(--text-body-medium-strong-font-family);
    font-size: var(--text-body-medium-strong-font-size);
    font-weight: var(--text-body-medium-strong-font-weight);
    line-height: var(--text-body-medium-strong-line-height);
    letter-spacing: var(--field-label-letter-spacing);
    margin-inline-end: auto;
  }

  .field-label:not(.unstyled) .required {
    color: var(--field-color-label-required);
    margin-inline-start: calc(var(--spacer-1) / 2);
  }

  .localized {
    margin-inline-start: var(--spacer-1);
  }
}
