@layer payload-default {
  label.field-label {
    display: flex;
    align-items: center;
  }

  label.field-label:not(.unstyled) {
    display: flex;
    color: var(--text-default);
    font-family: var(--text-body-medium-font-family);
    font-weight: var(--text-body-medium-strong-font-weight);

    html:not([dir='RTL']) & {
      margin-right: auto;
    }

    html[dir='RTL'] & {
      margin-left: auto;
    }
  }

  .field-label:not(.unstyled) .required {
    color: var(--text-danger-default);

    html:not([dir='RTL']) & {
      margin-left: var(--spacer-1);
    }

    html[dir='RTL'] & {
      margin-right: var(--spacer-1);
    }
  }

  .localized {
    html:not([dir='RTL']) & {
      margin-left: var(--spacer-1);
    }

    html[dir='RTL'] & {
      margin-right: var(--spacer-1);
    }
  }
}
