$breakpoint: 1000px;

:root {
  --max-width: 1600px;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --block-spacing: 2rem;
  --gutter-h: 4rem;
  --base: 1rem;

  @media (max-width: $breakpoint) {
    --block-spacing: 1rem;
    --gutter-h: 2rem;
    --base: 0.75rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 7, 7, 7;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  line-height: 1.5;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  @media (max-width: $breakpoint) {
    font-size: 16px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  margin: 0 0 2.5rem 0;

  @media (max-width: $breakpoint) {
    font-size: 3rem;
    margin: 0 0 1.5rem 0;
  }
}

h2 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin: 0 0 2.5rem 0;
}

h3 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0 0 2rem 0;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
