@import '../shared';

.checkbox {
  position: relative;

  .tooltip {
    right: auto;
  }

  button {
    @extend %btn-reset;
    display: flex;
  }

  &__input {
    position: relative;
    width: $baseline;
    height: $baseline;
  }

  input {
    margin: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
