@import '../../../scss/styles.scss';

.leave-without-saving {
  @include blur-bg;
  position: fixed;
  z-index: $z-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .btn {
    margin-right: $baseline;
  }
}
