@import '../../../scss/styles.scss';

@layer payload-default {
  .render-field-diffs {
    display: flex;
    flex-direction: column;
    gap: var(--base);
    position: relative;

    [role='banner'] {
      display: none !important;
    }

    &__field {
      overflow-wrap: anywhere;
      display: flex;
      flex-direction: column;
      gap: var(--base);
    }

    @include small-break {
      gap: calc(var(--base) / 2);
    }

    &--parent {
      // Vertical separator line
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: var(--theme-elevation-100);
        transform: translateX(-50%); // Center the line
      }
    }
  }
}
