@import '../../../scss/styles.scss';

@layer payload-default {
  .render-field-diffs {
    display: flex;
    flex-direction: column;
    gap: var(--base);

    [role='banner'] {
      display: none !important;
    }

    &__field {
      overflow-wrap: anywhere;
      display: flex;
      flex-direction: column;
      gap: var(--base);
    }

    @include small-break {
      gap: calc(var(--base) / 2);
    }
  }
}
