@import '../../../scss/styles.scss';

.versions {
  width: 100%;
  margin-bottom: base(2);

  &__wrap {
    padding-top: 0;
    padding-bottom: base(4);
  }

  &__header {
    margin-bottom: $baseline;
  }

  &__intro {
    margin-bottom: base(0.5);
  }

  &__parent-doc {
    .banner__content {
      display: flex;
    }
  }

  &__parent-doc-pills {
    [dir='ltr'] & {
      margin-left: auto;
    }
    [dir='rtl'] & {
      margin-right: auto;
    }
  }

  .table {
    table {
      width: 100%;
      overflow: auto;
    }
  }

  &__page-controls {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .paginator {
    margin-bottom: 0;
  }

  &__page-info {
    [dir='ltr'] & {
      margin-right: base(1);
      margin-left: auto;
    }
    [dir='rtl'] & {
      margin-left: base(1);
      margin-right: auto;
    }
  }

  @include mid-break {
    &__wrap {
      padding-top: 0;
    }

    &__page-controls {
      flex-wrap: wrap;
    }

    &__page-info {
      [dir='ltr'] & {
        margin-left: 0;
      }
      [dir='rtl'] & {
        margin-right: 0;
      }
    }

    .paginator {
      width: 100%;
      margin-bottom: $baseline;
    }
  }
}
