@layer payload-default {
  .icon.icon--list-view {
    fill: currentColor;
  }

  .icon--list-view--dark {
    color: var(--text-default);
  }

  .icon--list-view--muted {
    color: var(--icon-tertiary);
  }
}
