@import '../../../scss/styles.scss';

.array-actions {
  &__button {
    @extend %btn-reset;
    cursor: pointer;
    border-radius: 100px;

    &:hover {
      background: var(--theme-elevation-0);
    }
  }

  &__actions {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__action {
    svg {
      position: relative;
      top: -1px;
      margin-right: base(0.25);

      .stroke {
        stroke-width: 1px;
      }
    }
  }

  &__move-up {
    svg {
      transform: rotate(180deg);
    }
  }
}
