# Added by Payload
PREVIEW_SECRET=YOUR_SECRET_HERE
# Used to validate preview requests
CRON_SECRET=YOUR_CRON_SECRET_HERE
# Secret used to authenticate cron jobs
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Used to configure CORS, format links and more. No trailing slash
PAYLOAD_SECRET=347fa83d72d1e06f39eade74
# Used to encrypt JWT tokens
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name
# Or use a PG connection string
DATABASE_URI=postgres://orage:orageadministre@127.0.0.1:5432/website-localization
# Database connection string