@layer payload-default {
  .drawer-action-header {
    padding: var(--spacer-2-5);
    border-bottom: 1px solid var(--color-border);
  }

  .drawer-action-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .drawer-action-header__title {
    margin: 0;
  }

  .drawer-action-header__actions {
    display: flex;
    margin-left: auto;
    padding-left: var(--spacer-3);
    gap: var(--spacer-2);
  }
}
