@import '../../scss/styles.scss';

@layer payload-default {
  .list-selection {
    display: flex;
    margin-left: auto;
    color: var(--theme-elevation-500);
    gap: 0.5em;

    &__button {
      color: var(--theme-elevation-500);
      background: unset;
      border: none;
      text-decoration: underline;
      cursor: pointer;
      padding: 0;
      font-size: inherit;
    }

    @include small-break {
      margin-bottom: base(0.5);
    }
  }
}
