@import '../../scss/styles.scss';

@layer payload-default {
  .list-selection {
    display: flex;
    margin-left: auto;
    color: var(--theme-elevation-500);
    gap: 0.5em;
    align-items: center;

    &__actions {
      display: flex;
      gap: calc(var(--base) * 0.3);
    }

    &__button {
      color: var(--theme-elevation-800);
      background: unset;
      border: none;
      text-decoration: underline;
      cursor: pointer;
      padding: 0;
      font-size: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include small-break {
      margin-bottom: base(0.5);
    }
  }
}
