@import '../../../scss/styles.scss';

.field-type {
  margin-bottom: $baseline;
  position: relative;
  width: 100%;

  label {
    display: flex;

    .required {
      color: $color-red;
      margin-left: base(.25);
      margin-right: auto;
    }
  }

  .tooltip.error-message {
    left: auto;
    right: 0;
    transform: none;
    background-color: $color-red;
    bottom: calc(100% - #{base(1.125)});

    span {
      border-top-color: $color-red;
    }
  }

  @include small-break {
    margin-bottom: base(.5);
  }
}
