@layer payload-default {
  .restore-version {
    cursor: pointer;
    display: flex;
    min-width: max-content;
  }

  .restore-version .btn {
    margin-block: 0;
  }

  .restore-version .btn__content {
    gap: 0;
  }

  .restore-version__restore-as-draft-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
  }

  .restore-version__restore-as-draft-button:focus {
    border-radius: 0;
    outline-offset: 0;
  }
}
