@layer payload-default {
  .timezone-picker-wrapper {
    display: flex;
    gap: calc(var(--base) / 4);
    margin-top: calc(var(--base) / 4);
    align-items: center;

    .field-label {
      margin-right: unset;
      color: var(--theme-elevation-400);
    }

    .timezone-picker {
      display: inline-block;

      .rs__menu {
        min-width: calc(var(--base) * 14);
        overflow: hidden;
        border-radius: calc(var(--base) * 0.25);
        top: calc(100% + var(--base) * 0.25) !important;
      }

      .rs__value-container {
        text-align: center;
      }

      .rs__control {
        background: none;
        border: none;
        padding: 0;
        min-height: auto !important;
        position: relative;
        box-shadow: unset;
        min-width: var(--base);

        &:hover {
          cursor: pointer;
          box-shadow: unset;
        }

        // Arrow indicator
        &::before {
          content: '';
          position: absolute;
          z-index: 8;
          width: 0;
          height: 0;
          bottom: calc(0% - var(--base) * 0.25);
          left: calc(50% - var(--base) * 0.25);
          display: none;

          border-left: calc(var(--base) * 0.5) solid transparent;
          border-right: calc(var(--base) * 0.5) solid transparent;
          border-bottom: calc(var(--base) * 0.5) solid var(--theme-elevation-50);

          [data-theme='light'] & {
            border-bottom-color: var(--theme-elevation-0);
          }
        }

        &.rs__control--menu-is-open::before {
          display: block;
        }
      }

      .rs__indicators {
        margin-inline-start: calc(var(--base) * 0.25);
      }
    }
  }
}
