@import '../../../../scss/styles';

html[data-theme='light'] {
  .inline-toolbar-popup {
    @include shadow-m;
  }
}

.inline-toolbar-popup {
  display: flex;
  align-items: center;
  background: var(--color-base-0);
  padding: 0 3.72px 0 6.25px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  border-radius: $style-radius-m;
  transition: opacity 0.2s;
  height: 37.5px;
  will-change: transform;

  .caret {
    z-index: 93;
    position: absolute;
    top: calc(100% - 16px);
    border: 12px solid transparent;
    pointer-events: none;
    border-top-color: var(--color-base-0);
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 2px;

    .icon {
      min-width: 20px;
      height: 20px;
      color: var(--color-base-600);
    }

    .divider {
      width: 1px;
      height: 15px;
      background-color: var(--color-base-100);
      margin: 0 6.25px;
    }
  }
}
