@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
  z-index: var(--header-z-index);
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 200px;

  @include mid-break {
    width: 150px;
  }
}

.nav {
  display: flex;
  gap: calc(var(--base) / 2) var(--base);
  align-items: center;
  flex-wrap: wrap;

  > * {
    text-decoration: none;
  }
}
