@use '../../_css/common.scss' as *;

.mobileMenuModal {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  opacity: 1;
  display: none;
  background-color: var(--background);
  color: var(--foreground);

  @include mid-break {
    display: block;
  }
}

.contentContainer {
  padding: 20px;
}

.mobileMenuItems {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 30px;
}

.close {
  display: block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
}

.menuItem {
  @extend %h4;
  margin-top: 0;
}
