@import '../../scss/styles.scss';

@layer payload-default {
  .delete-document {
    @include blur-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__toggle {
      @extend %btn-reset;
    }
  }
}
