@import '../../../scss/styles.scss';

.nav {
  position: relative;
  width: 100%;
  height: calc(var(--base) * 3);
  z-index: var(--z-modal);

  &__bg {
    @include blur-bg;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &--show-bg {
    opacity: 1;
  }

  // when the modal is open, the nav overlays the top portion
  // we need to make sure the modal content is clickable
  // so we disable pointer events on the nav
  // but reenable them on the modal toggler
  &--main-menu-open {
    pointer-events: none;
    z-index: calc(var(--z-modal) + 2);

    .nav__modalToggler {
      pointer-events: all;
    }

    .nav__nav-wrapper {
      display: none;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 calc(var(--base) * 1.5);
    position: relative;
    flex-grow: 1;
  }

  &__nav-wrapper {
    margin-left: calc(var(--base) / 1.25);
    display: flex;
    gap: calc(var(--base) / 2);
    align-items: center;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__modalToggler {
    pointer-events: all;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    transform: translate3d(-50%, 0, 0);

    &:focus {
      outline: none;
    }
  }

  &__account {
    transform: translate3d(50%, 0, 0);
    &:focus:not(:focus-visible) {
      opacity: 1;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: calc(var(--base) / 2);
    flex-grow: 1;
    justify-content: flex-end;
  }

  // the icon has padding so we need to transform slightly
  // so that it's bounding box aligns with the other elements
  // this can be removed if we ever reformat our SVG icons
  &__localizer {
    transform: translate3d(8px, 0, 0);
  }

  @include large-break {
    &__content {
      padding: 0 calc(var(--gutter-h) / 2);
    }

    &__nav-wrapper {
      margin-left: calc(var(--base) / 1.125);
    }
  }

  @include mid-break {
    height: calc(var(--base) * 2);

    &__nav-wrapper {
      margin-left: calc(var(--base) / 2.25);
    }
  }

  @include small-break {
    &__content {
      padding: 0 var(--gutter-h);
    }

    &__modalToggler,
    &__account {
      transform: unset;
    }

    &__step-nav {
      // TODO: overflow the step nav instead of hide it
      display: none;
    }
  }
}
