@import '../../../scss/styles.scss';

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: calc(var(--base) * 3);
  z-index: $z-status;
  // TODO: remove this once the nav has been refactored
  // eventually it will contain nav items with click events
  pointer-events: none;

  &__bg {
    @include blur-bg;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &--show-bg {
    opacity: 1;
  }

  // when the modal is open, the nav overlays the top portion
  // we need to make sure the modal content is clickable
  // so we disable pointer events on the nav
  // but reenable them on the modal toggler
  &--main-menu-open {
    pointer-events: none;

    .nav__modalToggler {
      pointer-events: all;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 calc(var(--gutter-h) / 2);
    position: relative;
  }

  &__modalToggler {
    pointer-events: all;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    z-index: 999999;
    transform: translate3d(-50%, 0, 0);

    &:focus {
      outline: none;
    }
  }

  &__scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  @include mid-break {
    height: calc(var(--base) * 2);

    .nav {
      &__content {
        padding: 0 var(--gutter-h);
      }

      &__modalToggler {
        transform: unset;
      }
    }
  }
}
