@layer payload-default {
  .field-type.textarea {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);

    .field-type__wrap {
      display: flex;
      flex-direction: column;
      gap: var(--spacer-2);
    }

    textarea {
      overflow-y: auto;
      resize: vertical;
      min-height: 3.75rem;
      height: auto;
      display: flex;
      field-sizing: content;
      padding: var(--spacer-2);

      &:hover:not(:focus):not(:disabled) {
        border-color: var(--border-default-default);
      }

      &:focus {
        border-color: var(--border-selected);
      }
    }

    &.read-only {
      textarea {
        background: var(--bg-default-default);
        border-color: var(--border-default-default);
        color: var(--text-default);
      }
    }

    &.error {
      textarea {
        border-color: var(--border-danger-strong);
      }
    }
  }
}
