@import '../../../../scss/styles.scss';

.global-edit {
  width: 100%;

  &__wrapper {
    display: flex;
  }

  &__main {
    width: calc(100% - #{base(15)});
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__edit {
    padding-top: base(1);
    padding-bottom: var(--spacing-view-bottom);
    flex-grow: 1;

    [dir='ltr'] & {
      top: 0;
      right: 0;
      border-right: 1px solid var(--theme-elevation-100);
    }

    [dir='rtl'] & {
      top: 0;
      left: 0;
      border-left: 1px solid var(--theme-elevation-100);
    }
  }

  &__sidebar-wrap {
    position: sticky;
    top: 0;
    width: base(15);
  }

  &__sidebar {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__sidebar-sticky-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__sidebar-fields {
    display: flex;
    flex-direction: column;
    gap: $baseline;

    [dir='ltr'] & {
      padding-right: $baseline;
    }

    [dir='rtl'] & {
      padding-left: $baseline;
    }

    .render-fields {
      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    color: var(--theme-elevation-400);
  }

  &--is-editing {
    .global-edit__sidebar {
      padding-top: 0;
    }
  }

  @include mid-break {
    &__main {
      width: 100%;
      min-height: initial;
    }

    &__sidebar-wrap {
      position: static;
      width: 100%;
      height: initial;
      border-left: 0;
    }

    &__form {
      display: block;
    }

    &__edit {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__sidebar-fields {
      padding-top: 0;
      padding-left: var(--gutter-h);
      padding-right: var(--gutter-h);
      gap: base(0.5);

      [dir='ltr'] & {
        padding-right: var(--gutter-h);
      }

      [dir='rtl'] & {
        padding-left: var(--gutter-h);
      }
    }

    &__sidebar {
      padding-bottom: base(3.5);
      overflow: visible;
    }
  }
}
