@import '../../../../scss/styles.scss';

.field-type.select {
  position: relative;
  margin-bottom: $baseline;
}

.select--read-only {
  div.react-select {
    div.rs__control {
      background: lighten($color-light-gray, 5%);
    }
  }
}
