@import '../../../scss/styles.scss';

@layer payload-default {
  .nav-toggler {
    position: relative;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
  }
}
