@layer payload-default {
  .nav-toggler {
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
  }
}
