@import '../../../scss/styles.scss';

//////////////////////
// HELPER MIXINS
//////////////////////

@mixin realtively-position-handles {
  .position-handle {
    position: relative;
    right: 0;
  }

  .action-handle {
    position: relative;
    left: 0;
  }
}

@mixin absolutely-position-handles {
  .position-handle {
    position: absolute;
    top: 0; right: 100%; bottom: 0;
  }

  .action-handle {
    position: absolute;
    top: 0; bottom: 0; left: 100%;
  }
}

//////////////////////
// COMPONENT STYLES
//////////////////////

.draggable-section {
  display: flex;
  position: relative;
  padding-top: base(.75);
  padding-bottom: base(.75);
  margin-bottom: base(.75);

  &__section-header {
    display: flex;

    .toggle-collapse {
      margin: 0 0 0 auto;
      transform: rotate(.5turn);

      &--is-closed {
        transform: rotate(0turn);
      }
    }
  }

  &__render-fields-wrapper {
    width: 100%;
  }

  &.is-hovered,
  &:focus-within {
    > .position-handle {
      .position-handle__controls-container {
        box-shadow: #{$style-stroke-width-m} 0px 0px 0px $color-dark-gray;
      }

      .position-handle__move-forward,
      .position-handle__move-backward {
        opacity: 1;
      }

      .position-handle__current-position {
        color: $color-dark-gray;
      }
    }

    > .action-handle {
      .action-handle__add-row,
      .action-handle__remove-row {
        opacity: 1;
      }
    }

    .toggle-collapse {
      .btn__icon {
        background-color: $color-gray;

        &:hover {
          background-color: $color-dark-gray;
        }

      }

      &:focus {
        @include color-svg(white);
      }
    }
  }

  @include mid-break {
    @include realtively-position-handles();
  }
}

//////////////////////
// EXTERNAL SCOPES
//////////////////////

.collection-edit {
  @include absolutely-position-handles();
}

.field-type.repeater .field-type.repeater {
  @include realtively-position-handles();
}



