@import '../../../scss/styles.scss';

.draggable-section {
  display: flex;
  position: relative;

  &__render-fields-wrapper {
    width: 100%;
  }

  &:hover {
    .position-handle {
      border-right: $style-stroke-width-m solid $color-dark-gray;
    }
  }
}


.field-type.repeater .field-type.repeater {
  .position-handle {
    position: relative;
    right: 0;
  }

  .action-handle {
    position: relative;
    left: 0;
  }
}
