@layer payload-default {
  .upload__dropzoneAndUpload {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-1);
  }

  .upload__dropzoneContent {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;
  }

  .upload__dropzoneContent__buttons {
    display: flex;
    gap: var(--spacer-2);
    position: relative;
    left: -2px;

    .btn .btn__content {
      gap: 0.25rem;
    }
  }

  .upload__dropzoneContent__orText {
    color: var(--text-secondary);
    text-transform: lowercase;
  }

  .upload__dragAndDropText {
    flex-shrink: 0;
    margin: 0;
    text-transform: lowercase;
    align-self: center;
    color: var(--text-secondary);
  }

  .upload__loadingRows {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-1);
  }

  .upload .shimmer-effect {
    border-radius: var(--radius-medium);
    border: 1px solid var(--border-default);
  }

  @media (max-width: 768px) {
    .upload__dragAndDropText {
      display: none;
    }
  }
}
