@import '../../scss/styles.scss';

@layer payload-default {
  .upload {
    &__dropzoneAndUpload {
      display: flex;
      flex-direction: column;
      gap: calc(var(--base) / 4);
    }

    &__dropzoneContent {
      display: flex;
      flex-wrap: wrap;
      gap: base(0.4);
      justify-content: space-between;
      width: 100%;
    }

    &__dropzoneContent__buttons {
      display: flex;
      gap: calc(var(--base) / 2);
      position: relative;
      left: -2px;

      .btn .btn__content {
        gap: calc(var(--base) / 5);
      }

      .btn__label {
        font-weight: 100;
      }
    }

    &__dropzoneContent__orText {
      color: var(--theme-elevation-500);
      text-transform: lowercase;
    }

    &__dragAndDropText {
      flex-shrink: 0;
      margin: 0;
      text-transform: lowercase;
      align-self: center;
      color: var(--theme-elevation-500);
    }

    &__loadingRows {
      display: flex;
      flex-direction: column;
      gap: calc(var(--base) / 4);
    }

    .shimmer-effect {
      border-radius: var(--style-radius-s);
      border: 1px solid var(--theme-border-color);
    }

    @include small-break {
      &__dragAndDropText {
        display: none;
      }
    }
  }
}
