@import '../../../scss/styles.scss';

.collapsible {
  border: 1px solid var(--theme-elevation-200);
  border-radius: $style-radius-m;

  &:hover {
    border: 1px solid var(--theme-elevation-300);
  }

  &__toggle {
    @extend %btn-reset;
    cursor: pointer;
    background: var(--theme-elevation-50);
    border-top-right-radius: $style-radius-s;
    border-top-left-radius: $style-radius-s;
    width: 100%;
    display: flex;
    align-items: center;
    padding: base(.5) base(1);

    &:hover {
      background: var(--theme-elevation-100);
    }
  }

  &--collapsed {
    .collapsible__toggle {
      border-bottom-right-radius: $style-radius-s;
      border-bottom-left-radius: $style-radius-s;
    }

    .collapsible__indicator {
      transform: rotate(0turn);
    }
  }

  &__indicator {
    margin: 0 0 0 auto;
    transform: rotate(.5turn);
  }

  &__content {
    padding: $baseline;
  }

  @include small-break {
    header {
      padding: base(.75) var(--gutter-h);
    }
  }
}
