:root {
  --color-red: rgb(255, 0, 0);
  --color-green: rgb(178, 255, 214);
  --color-white: rgb(255, 255, 255);
  --color-dark-gray: rgb(51, 52, 52);
  --color-mid-gray: rgb(196, 196, 196);
  --color-gray: rgb(212, 212, 212);
  --color-light-gray: rgb(244, 244, 244);
  --color-black: rgb(0, 0, 0);
}
