@layer payload-default {
  .forgot-password__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-5);
    width: 100%;
  }

  .forgot-password__form .form-header {
    margin-bottom: 0;
  }

  .forgot-password__form__inputWrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-3);
  }

  .forgot-password__form__actions {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
    align-items: center;
    width: 100%;
  }

  .forgot-password__form__actions .form-submit {
    width: 100%;
  }

  .forgot-password__form__actions .form-submit .btn {
    width: 100%;
    height: var(--spacer-4);
    justify-content: center;
  }
}
