@layer payload-default {
  :root {
    /* Black (opacity-based) */
    --ramp-black-100: rgba(0, 0, 0, 0.05);
    --ramp-black-200: rgba(0, 0, 0, 0.1);
    --ramp-black-300: rgba(0, 0, 0, 0.2);
    --ramp-black-400: rgba(0, 0, 0, 0.3);
    --ramp-black-500: rgba(0, 0, 0, 0.5);
    --ramp-black-600: rgba(0, 0, 0, 0.8);
    --ramp-black-800: rgba(0, 0, 0, 0.9);

    /* White (opacity-based) */
    --ramp-white-100: rgba(255, 255, 255, 0.05);
    --ramp-white-200: rgba(255, 255, 255, 0.1);
    --ramp-white-300: rgba(255, 255, 255, 0.2);
    --ramp-white-400: rgba(255, 255, 255, 0.4);
    --ramp-white-500: rgba(255, 255, 255, 0.7);
    --ramp-white-600: rgba(255, 255, 255, 0.8);
    --ramp-white-800: rgba(255, 255, 255, 0.9);
    --ramp-white-1000: #ffffff;

    /* Blue */
    --ramp-blue-200: #e5f4ff;
    --ramp-blue-300: #bde3ff;
    --ramp-blue-400: #80caff;
    --ramp-blue-500: #0d99ff;
    --ramp-blue-600: #007be5;
    --ramp-blue-700: #0768cf;
    --ramp-blue-800: #034ac1;
    --ramp-blue-900: #093077;
    --ramp-blue-1000: #0d193f;

    /* Pale Blue */
    --ramp-pale-blue-500: #667799;
    --ramp-pale-blue-600: #536383;
    --ramp-pale-blue-700: #4a5878;
    --ramp-pale-blue-800: #394360;

    /* Purple */
    --ramp-purple-100: #f9f5ff;
    --ramp-purple-200: #f1e5ff;
    --ramp-purple-300: #e4ccff;
    --ramp-purple-400: #d9b8ff;
    --ramp-purple-500: #9747ff;
    --ramp-purple-600: #8638e5;
    --ramp-purple-700: #7c2bda;
    --ramp-purple-800: #681abb;
    --ramp-purple-900: #4b0d87;
    --ramp-purple-1000: #2d0f46;

    /* Pale Purple */
    --ramp-pale-purple-400: #c5b2dc;
    --ramp-pale-purple-500: #7f699b;
    --ramp-pale-purple-700: #604d75;
    --ramp-pale-purple-800: #473956;

    /* Pink */
    --ramp-pink-100: #fff0fe;
    --ramp-pink-200: #ffe0fc;
    --ramp-pink-300: #ffbdf2;
    --ramp-pink-400: #ff99e0;
    --ramp-pink-500: #ff24bd;
    --ramp-pink-600: #ea10ac;
    --ramp-pink-700: #cb0b96;
    --ramp-pink-800: #971172;
    --ramp-pink-900: #5f114c;
    --ramp-pink-1000: #451138;

    /* Grey */
    --ramp-grey-100: #f5f5f5;
    --ramp-grey-200: #e6e6e6;
    --ramp-grey-300: #d9d9d9;
    --ramp-grey-500: #757575;
    --ramp-grey-600: #444444;
    --ramp-grey-700: #383838;
    --ramp-grey-800: #2c2c2c;
    --ramp-grey-900: #1e1e1e;

    /* Red */
    --ramp-red-100: #fff5f5;
    --ramp-red-200: #ffe2e0;
    --ramp-red-300: #ffc7c2;
    --ramp-red-400: #ffafa3;
    --ramp-red-500: #f24822;
    --ramp-red-600: #dc3412;
    --ramp-red-700: #bd2915;
    --ramp-red-800: #9f1f18;
    --ramp-red-900: #771208;
    --ramp-red-1000: #660e0b;

    /* Pale Red */
    --ramp-pale-red-600: #a55440;
    --ramp-pale-red-700: #864537;
    --ramp-pale-red-800: #60332a;

    /* Yellow */
    --ramp-yellow-200: #fff1c2;
    --ramp-yellow-300: #ffe8a3;
    --ramp-yellow-400: #ffd966;
    --ramp-yellow-500: #ffcd29;
    --ramp-yellow-1000: #b86200;

    /* Pale Yellow */
    --ramp-pale-yellow-300: #f5dfa8;
    --ramp-pale-yellow-500: #ad7f00;
    --ramp-pale-yellow-700: #7a5800;
    --ramp-pale-yellow-800: #5c4100;
    --ramp-pale-yellow-900: #3a2a10;

    /* Green */
    --ramp-green-100: #edfcf0;
    --ramp-green-200: #d5f7da;
    --ramp-green-300: #aff4c6;
    --ramp-green-400: #85e0a3;
    --ramp-green-500: #14ae5c;
    --ramp-green-600: #009951;
    --ramp-green-700: #008043;
    --ramp-green-900: #024626;
    --ramp-green-1000: #083a23;

    /* Pale Green */
    --ramp-pale-green-700: #517361;
    --ramp-pale-green-800: #476656;
    --ramp-pale-green-900: #2f483c;
  }
}
