@layer payload-default {
  :root {
    /* Light mode elevations */

    --elevation-100-canvas: 0 0 0.5px 0 rgba(0, 0, 0, 0.3);

    --elevation-300-tooltip:
      0 0 0.5px 0 rgba(0, 0, 0, 0.15), 0 5px 12px 0 rgba(0, 0, 0, 0.13),
      0 1px 3px 0 rgba(0, 0, 0, 0.1);

    --elevation-400-menu-panel:
      0 0 0 1px rgba(0, 0, 0, 0.04), 0 0 0.5px rgba(0, 0, 0, 0.12), 0 10px 16px rgba(0, 0, 0, 0.08),
      0 2px 6px rgba(0, 0, 0, 0.12);

    --elevation-500-modal-window:
      0 0 0.5px 0 rgba(0, 0, 0, 0.08), 0 10px 24px 0 rgba(0, 0, 0, 0.18),
      0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  [data-theme='dark'] {
    /* Dark mode elevations */

    --elevation-100-canvas: 0 0 0.5px 0 rgba(0, 0, 0, 0.5);

    --elevation-300-tooltip:
      0 0.5px 0 0 rgba(255, 255, 255, 0.08) inset, 0 5px 12px 0 rgba(0, 0, 0, 0.35),
      0 0 0.5px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.5);

    --elevation-400-menu-panel:
      0 0 0 1px rgba(255, 255, 255, 0.08), 0 10px 20px 0 rgba(0, 0, 0, 0.3),
      0 2px 6px 0 rgba(0, 0, 0, 0.35);

    --elevation-500-modal-window:
      0 0.5px 0 0 rgba(255, 255, 255, 0.08) inset, 0 10px 24px 0 rgba(0, 0, 0, 0.45),
      0 0 0.5px 0 rgba(255, 255, 255, 0.35) inset, 0 3px 5px 0 rgba(0, 0, 0, 0.35);
  }
}
