@layer payload-default {
  :root {
    --radius-none: 0;
    --radius-small: 0.25rem;
    --radius-chip: 0.25rem;
    --radius-medium: 0.375rem;
    --radius-large: 0.5rem;
    --radius-full: 9999px;
  }
}
