@layer payload-default {
  :root {
    --spacer-0: 0;
    --spacer-1: 0.25rem;
    --spacer-2: 0.5rem;
    --spacer-2-5: 0.75rem;
    --spacer-3: 1rem;
    --spacer-4: 1.5rem;
    --spacer-5: 2rem;
    --spacer-6: 2.5rem;
  }
}
