@layer payload-default {
  :root {
    --font-family-sans: 'Inter';
    --font-family-mono: 'Roboto Mono';
    --text-letter-spacing: 0.005em; /* 0.5% */

    /* Body — Small */
    --text-body-small-strong-font-family: var(--font-family-sans);
    --text-body-small-strong-font-size: 0.5625rem; /* 9px */
    --text-body-small-strong-font-weight: 550;
    --text-body-small-strong-line-height: 0.875rem; /* 14px */

    /* Body — Medium */
    --text-body-medium-font-family: var(--font-family-sans);
    --text-body-medium-font-size: 0.6875rem; /* 11px */
    --text-body-medium-font-weight: 450;
    --text-body-medium-line-height: 1rem; /* 16px */
    --text-body-medium-letter-spacing: 0.055px;

    --text-body-medium-strong-font-family: var(--font-family-sans);
    --text-body-medium-strong-font-size: 0.6875rem; /* 11px */
    --text-body-medium-strong-font-weight: 550;
    --text-body-medium-strong-line-height: 1rem; /* 16px */

    /* Body — Large */
    --text-body-large-font-family: var(--font-family-sans);
    --text-body-large-font-size: 0.8125rem; /* 13px */
    --text-body-large-font-weight: 450;
    --text-body-large-line-height: 1.375rem; /* 22px */

    --text-body-large-strong-font-family: var(--font-family-sans);
    --text-body-large-strong-font-size: 0.8125rem; /* 13px */
    --text-body-large-strong-font-weight: 550;
    --text-body-large-strong-line-height: 1.375rem; /* 22px */

    /* Heading — Small */
    --text-heading-small-font-family: var(--font-family-sans);
    --text-heading-small-font-size: 0.8125rem; /* 13px */
    --text-heading-small-font-weight: 550;
    --text-heading-small-line-height: 1.375rem;

    /* Heading — Medium */
    --text-heading-medium-font-family: var(--font-family-sans);
    --text-heading-medium-font-size: 0.9375rem; /* 15px */
    --text-heading-medium-font-weight: 550;
    --text-heading-medium-line-height: 1.5625rem;

    /* Heading — Large */
    --text-heading-large-font-family: var(--font-family-sans);
    --text-heading-large-font-size: 1.5rem; /* 24px */
    --text-heading-large-font-weight: 550;
    --text-heading-large-line-height: 2rem; /* 32px */
  }
}
