@layer payload-default {
  :root {
    /* --z-popup needs to be higher than --z-modal to ensure the popup is displayed when modal is open */
    --z-popup: 60;
    --z-nav: 20;
    --z-modal: 30;
    --z-status: 40;
    --z-portal-element: 9999;
  }
}
