@import '../../../scss/styles.scss';

@layer payload-default {
  .query-preset-bar {
    display: flex;
    gap: base(0.5);
    justify-content: space-between;
    background-color: var(--theme-elevation-50);
    border-radius: var(--style-radius-m);
    padding: base(0.5);

    &__menu {
      display: flex;
      align-items: center;
      gap: 4px;
      flex-grow: 1;
    }

    &__menu-items {
      overflow: auto;
      display: flex;
      gap: base(0.5);
    }
  }
}
