@import '../../../scss/styles';

.icon--relationship {
  height: $baseline;
  width: $baseline;

  .stroke {
    fill: none;
    stroke: $color-dark-gray;
    stroke-width: $style-stroke-width-m;
  }
}
