.nested-sections-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.nested-sections-table {
  display: table;
  min-width: 100%;
  border-collapse: collapse;

  --cell-inline-padding-start: calc(var(--base) * 0.6);
  --cell-inline-padding-end: calc(var(--base) * 0.6);

  &__header {
    display: table-header-group;
  }

  &__header-cell {
    display: table-cell;
    color: var(--theme-elevation-400);
    vertical-align: top;
    padding-block: calc(var(--base) * 0.6);
    padding-inline-start: var(--cell-inline-padding-start);
    padding-inline-end: var(--cell-inline-padding-end);
    position: relative;
    z-index: 1;

    [dir='rtl'] & {
      text-align: right;
    }
    &:first-child {
      --cell-inline-padding-start: calc(var(--base) * (0.8));
    }
    &:last-child {
      --cell-inline-padding-end: calc(var(--base) * (0.8));
    }
  }

  &__row,
  &__placeholder-row {
    display: table-row;
  }

  &__row-actions {
    display: flex;
    align-items: center;
    gap: calc(var(--base) * 0.4);
    color: var(--theme-elevation-600);
  }

  &__tree-toggle {
    color: var(--theme-elevation-300);
    display: flex;
    height: 20px;
    width: 20px;

    &:hover {
      color: var(--theme-elevation-600);
    }
  }

  &__tree-toggle-placeholder {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  &__cell {
    display: table-cell;
    padding: 8px 12px;
    vertical-align: middle;
    position: relative;
    &:first-child {
      padding-inline-start: calc(var(--base) * (0.8));
    }
    &:last-child {
      padding-inline-end: calc(var(--base) * (0.8));
    }
  }

  &__section {
    position: relative;
    display: table-row-group;
    outline: 1px solid transparent;
    background: var(--theme-elevation-50);
  }

  &__section--odd {
    background: var(--theme-elevation-0);
  }

  &__section--hovered {
    z-index: 1;
    outline: 1px solid var(--theme-elevation-200);
    transition:
      background-color 0.2s ease-in-out,
      outline 0.2s ease-in-out;
  }

  &__section--selected,
  &__section:nth-child(odd).nested-sections-table__section--selected {
    background-color: var(--theme-success-50);
  }

  &__placeholder-section {
    display: table-row-group;
    pointer-events: none;
    height: 36px;
  }

  &__placeholder-row {
    .nested-sections-table__cell {
      padding: 0;

      &:first-child {
        .nested-sections-table__placeholder-cell-bg {
          border-radius: var(--style-radius-s) 0 0 var(--style-radius-s);
          // border-left: 1px solid var(--theme-elevation-150);
        }
      }
      &:last-child {
        .nested-sections-table__placeholder-cell-bg {
          right: 0px;
          border-radius: 0 var(--style-radius-s) var(--style-radius-s) 0;
          // border-right: 1px solid var(--theme-elevation-150);
        }
      }
    }
  }

  &__placeholder-cell-bg {
    // border: 1px solid var(--theme-elevation-100);
    height: calc(100% - 10px);
    border-right: none;
    border-left: none;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
