@import '../../../scss/styles.scss';

@layer payload-default {
  .file-details-draggable {
    display: flex;
    gap: 0.6rem;
    //justify-content: space-between;
    align-items: center;
    background: var(--theme-elevation-50);
    border-radius: 3px;
    padding: 0.7rem 0.8rem;

    &--drag-wrapper {
      display: flex;
      gap: 0.6rem;
      align-items: center;
    }

    &__thumbnail {
      max-width: 1.5rem;
    }

    &__actions {
      flex-grow: 2;
      display: flex;
      gap: 0.6rem;
      align-items: center;
      justify-content: flex-end;
    }

    &__remove.btn--style-icon-label {
      margin: 0;
    }
  }
}
