@import '../../scss/styles.scss';

@layer payload-default {
  .hierarchy-list {
    width: 100%;

    &__wrap {
      padding-bottom: var(--spacing-view-bottom);

      & > *:not(:last-child) {
        margin-bottom: var(--base);
      }
    }

    .list-header {
      a {
        text-decoration: none;
      }
    }

    &__sub-header {
      flex-basis: 100%;
      padding-top: calc(var(--base) * 0.75);
    }

    &__step-nav-icon-label {
      margin: 0;
      display: flex;
      align-items: center;
      gap: calc(var(--base) * 0.25);

      .icon {
        height: 18px;
      }
    }

    &__controls {
      display: flex;
      gap: var(--spacing-sm);
      align-items: center;
    }

    &__no-results {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--base);

      & > * {
        margin: 0;
      }
    }

    @include mid-break {
      margin-top: base(0.25);

      &__wrap {
        padding-top: 0;
        padding-bottom: 0;
      }

      &__sub-header {
        margin-top: 0;
      }
    }
  }
}
