@layer payload-default {
  .hierarchy-list {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .hierarchy-list__wrap {
    padding-bottom: var(--spacing-view-bottom);
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .hierarchy-list .list-header a {
    text-decoration: none;
  }

  .hierarchy-list__allowed-types {
    color: var(--color-text-secondary);
    padding-top: var(--spacer-1);
  }

  .hierarchy-list__sub-header {
    flex-basis: 100%;
    padding-top: var(--spacer-2-5);
  }

  .hierarchy-list__step-nav-icon-label {
    margin: 0;
    display: flex;
    align-items: center;
    gap: var(--spacer-1);
  }

  .hierarchy-list__controls-left {
    display: flex;
    align-items: center;
    gap: var(--spacer-2);
    flex: 1;
  }

  .hierarchy-list__no-results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacer-3);
  }

  .hierarchy-list__no-results > * {
    margin: 0;
  }

  @media (max-width: 768px) {
    .hierarchy-list {
      margin-top: var(--spacer-1);
    }

    .hierarchy-list__wrap {
      padding-bottom: 0;
    }

    .hierarchy-list__sub-header {
      margin-top: 0;
    }
  }
}
