@layer payload-default {
  .nav-group {
    width: 100%;
    padding: var(--spacer-2) 0;
    border-top: var(--stroke-width-small) solid var(--color-border);
  }

  .nav-group__toggle {
    cursor: pointer;
    color: var(--color-text-secondary);
    background: transparent;
    border: 0;
    text-align: left;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    isolation: isolate;
    padding-block: var(--spacer-2);
    padding-inline: var(--spacer-3);
    font-family: var(--text-body-medium-strong-font-family);
    font-size: var(--text-body-medium-strong-font-size);
    font-weight: var(--text-body-medium-strong-font-weight);
    line-height: var(--text-body-medium-strong-line-height);

    &::before {
      content: '';
      position: absolute;
      inset-block: var(--spacer-1);
      inset-inline: var(--spacer-2);
      border-radius: var(--button-radius);
      z-index: -1;
    }

    &:focus-visible {
      outline: none;

      &::before {
        outline: var(--accessibility-outline);
        outline-offset: var(--accessibility-outline-offset);
      }
    }

    &:hover,
    &:focus-visible {
      color: var(--color-text);

      .nav-group__indicator {
        opacity: 1;
      }
    }
  }

  .nav-group__content {
    padding-bottom: var(--spacer-1);
  }

  .nav-group__indicator {
    position: absolute;
    inset-inline-start: var(--spacer-2);
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--spacer-3);
    height: var(--spacer-3);
    color: var(--color-icon-tertiary);
    opacity: 0;
  }

  .nav-group--collapsed .collapsible__toggle {
    border-bottom-right-radius: var(--button-radius);
    border-bottom-left-radius: var(--button-radius);
  }

  .nav-group--collapsed .nav-group__content {
    padding-bottom: 0;
  }
}
