@layer payload-default {
  .edit-many__form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
  }

  .edit-many__header {
    display: flex;
    align-items: center;
    gap: var(--spacer-1);
    padding: var(--spacer-2-5) var(--spacer-3) var(--spacer-2-5) var(--spacer-2);
    border-bottom: var(--stroke-width-small) solid var(--color-border);
    background: var(--color-bg);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .edit-many__header__close {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .edit-many__header__title {
    margin: 0;
    flex: 1 0 0;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-text);
    font-family: var(--text-body-large-strong-font-family);
    font-size: var(--text-body-large-strong-font-size);
    font-weight: var(--text-body-large-strong-font-weight);
    line-height: var(--text-body-large-strong-line-height);
    letter-spacing: var(--text-body-large-strong-letter-spacing);
  }

  .edit-many__header__actions {
    display: flex;
    gap: var(--spacer-2);
    align-items: center;

    .form-submit {
      margin: 0;
    }
  }

  .edit-many__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .edit-many__select-fields {
    padding: var(--spacer-4);
    border-bottom: var(--stroke-width-small) solid var(--color-border);

    .field-select {
      margin-bottom: 0;
    }
  }

  .edit-many__edit {
    padding: var(--spacer-4);
    flex-grow: 1;
  }
}
