@import 'fonts';
@import 'styles';
@import './toastify.scss';

:root {
  --breakpoint-xs-width : #{$breakpoint-xs-width};
  --breakpoint-s-width  : #{$breakpoint-s-width};
  --breakpoint-m-width  : #{$breakpoint-m-width};
  --breakpoint-l-width  : #{$breakpoint-l-width};
  --z-modal: #{$z-modal};
  --scrollbar-width: 17px;
}

/////////////////////////////
// GLOBAL STYLES
/////////////////////////////

* {
  box-sizing: border-box;
}

html {
  @extend %body;
  background: $color-background-gray;
  -webkit-font-smoothing: antialiased;

  @include mid-break {
    font-size: 12px;
  }
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: $font-body;
  font-weight: 400;
  color: $color-dark-gray;
  margin: 0;
}


::selection {
  background: $color-green;
  color: $color-dark-gray;
}

::-moz-selection {
  background: $color-green;
  color: $color-dark-gray;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
    margin: 0 0 $baseline;
}

ul, ol {
  padding-left: $baseline;
  margin: 0 0 $baseline;
}

a {
  color: $color-dark-gray;

  &:focus {
    opacity: .8;
    outline: none;
  }

  &:active {
    opacity: .7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

dialog {
  width: 100%;
  border: 0;
  padding: 0;
}

.payload__modal-item {
  min-height: 100%;
}

.payload__modal-container--enterDone {
  overflow: scroll;
}

.payload__modal-item--enter,
.payload__modal-item--enterDone {
  z-index: $z-modal;
}

@import '~payload-user-css';
