@font-face {
  font-family: 'Suisse Intl';
  src: url('../assets/fonts/SuisseIntl.woff2') format('woff2'),
      url('../assets/fonts/SuisseIntl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../assets/fonts/SuisseIntl-Thin.woff2') format('woff2'),
      url('../assets/fonts/SuisseIntl-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../assets/fonts/SuisseIntl-Light.woff2') format('woff2'),
      url('../assets/fonts/SuisseIntl-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../assets/fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/SuisseIntl-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../assets/fonts/SuisseIntl-Bold.woff2') format('woff2'),
      url('../assets/fonts/SuisseIntl-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

