@import 'vars';
@import 'queries';

/////////////////////////////
// HEADINGS
/////////////////////////////

%h1, %h2, %h3, %h4, %h5, %h6 {
  font-family: $font-body;
  font-weight: 600;
  color: $color-dark-gray;
}

%jumbo {
  font-size: base(2.5);
  line-height: 1;
  margin: 0 0 base(2);
}

%h1 {
  margin: 0 0 base(1);
  font-size: base(2);
  line-height: 1;
  letter-spacing: -1px;

  @include small-break {
    letter-spacing: base(0);
    font-size: base(1.25);
    line-height: base(1.25);
  }
}

%h2 {
  margin: 0 0 base(1);
  font-size: base(1.25);
  line-height: base(1.5);
  letter-spacing: -.5px;

  @include small-break {
    font-size: base(.85);
    line-height: base(.85);
  }
}

%h3 {
  margin: 0 0 base(1);
  font-size: base(.925);
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: -.5px;

  @include small-break {
    font-size: base(.65);
    line-height: base(.75);
  }
}

%h4 {
  margin: 0 0 $baseline;
  font-size: base(.75);
  line-height: 1.5;
}

%h5 {
  margin: 0;
  font-size: base(.5625);
  line-height: 1.5;
  font-weight: 600;
}

%h6 {
  margin: 0;
  font-size: base(.5);
  line-height: 1.5;
  font-weight: 600;
}

%small {
  margin: 0;
  font-size: base(.4);
  line-height: 1.5;
}

/////////////////////////////
// TYPE STYLES
/////////////////////////////

%large-body {
  font-size: base(.6);
  line-height: base(1);
  letter-spacing: base(.02);

  @include mid-break {
    font-size: base(.7);
    line-height: base(1);
  }

  @include small-break {
    font-size: base(.55);
    line-height: base(.75);
  }
}

%body {
  font-size: $baseline-body-size;
  line-height: $baseline-px;
  font-weight: normal;
}

%code {
  font-size: base(.4);
  color: $color-gray;

  span {
    color: $color-dark-gray;
  }
}
