@import '../../../../scss/styles.scss';

@layer payload-default {
  .condition-value-relationship {
    &__error-loading {
      border: 1px solid var(--theme-error-600);
      min-height: base(2);
      padding: base(0.5) base(0.75);
      background-color: var(--theme-error-100);
      color: var(--theme-elevation-0);
    }
  }
}
