@import '../../scss/styles.scss';

.table {
  margin-bottom: $baseline;
  overflow: auto;
  max-width: 100%;

  thead {
    color: var(--theme-elevation-400);

    th {
      font-weight: normal;
      text-align: left;
      [dir='rtl'] & {
        text-align: right;
      }
    }
  }

  th,
  td {
    vertical-align: top;
    padding: base(0.8) base(0.6);
    min-width: 150px;

    &:first-child {
      padding-inline-start: base(0.8);
    }

    &:last-child {
      padding-inline-end: base(0.8);
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background: var(--theme-elevation-50);
        border-radius: $style-radius-s;
      }
    }
  }

  a:focus-visible {
    outline: var(--accessibility-outline);
    outline-offset: var(--accessibility-outline-offset);
  }

  @include mid-break {
    th,
    td {
      max-width: 70vw;
    }
  }
}
