@import "../../css/common";

.login {
  margin-bottom: var(--block-padding);
}

.params {
  margin-top: var(--base);
}

.form {
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
  align-items: flex-start;
  width: 66.66%;

  @include mid-break {
    width: 100%;
  }
}

.submit {
  margin-top: calc(var(--base) / 2);
}

.message {
  margin-bottom: var(--base);
}
