@import '~payload/client/scss/styles';

.pagination {
  margin-top: base(.5);
  display: flex;
  align-items: flex-end;

  .pagination-node.prev {
    .icon {
      transform: scaleX(-1);
    }
  }

  .ellipsis {
    line-height: 1;
    padding: base(.25);
    padding-bottom: 0;
    margin-right: base(.45);
  }
}
