@import '../../../scss/styles.scss';

@layer payload-default {
  .active-query-preset {
    &__label {
      display: flex;
      align-items: center;
    }

    &__label-text-max-width {
      max-width: 100px;
      overflow: hidden;
    }

    &__label-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__label-and-clear-wrap {
      display: flex;
      align-items: center;
    }

    &__shared {
      margin-right: 2px;
    }

    &__clear {
      display: flex;
      align-items: center;
      width: var(--pill-icon-size);
      height: var(--pill-icon-size);
    }
  }

  html[data-theme='dark'] {
    .active-query-preset {
    }
  }
}
