@import '../../../scss/styles.scss';

@mixin style-icon-color($color: $color-dark-gray, $hover-color: white, $focus-color: $color-light-gray) {
  .btn__icon {
    border: 1px solid $color;
    border-radius: 100%;
  }

  &.btn--icon-only {
    .btn__icon {
      margin: 0;
    }
  }

  &:hover {
    .btn__icon {
      @include color-svg($hover-color);
      background: $color;
    }
  }

  &:focus {
    .btn__icon {
      @include color-svg($color);
      background: $focus-color;
    }
  }

  &:active {
    .btn__icon {
      @include color-svg($hover-color);
      background: lighten($color, 10%);
    }
  }
}

.btn {
  background: transparent;
  line-height: base(1);
  border-radius: $style-radius-m;
  font-size: 1rem;
  margin-top: base(1);
  margin-bottom: base(1);
  border: 0;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  text-align: center;

  span {
    line-height: base(1);
  }

  span, svg {
    vertical-align: middle;
  }

  &--size-medium {
    padding: base(.5) $baseline;
  }

  &--size-small {
    padding: base(.25) base(.5);
  }

  &--style-primary {
    background-color: $color-dark-gray;
    color: white;

    &:hover, &:focus {
      background: lighten($color-dark-gray, 5%);
    }

    &:active {
      background: lighten($color-dark-gray, 10%);
    }
  }

  &--style-secondary {
    box-shadow: inset 0 0 0 $style-stroke-width $color-dark-gray;
    color: $color-dark-gray;
    background: none;

    &:hover {
      background: rgba($color-dark-gray, .02);
      box-shadow: inset 0 0 0 $style-stroke-width lighten($color-dark-gray, 5%);
    }
  }

  &--style-none {
    padding: 0;
  }

  &--round {
    border-radius: 100%;
  }

  &--icon {
    span {
      display: flex;
      justify-content: space-between;
    }

    &.btn--style-primary {
      .icon {
        @include color-svg(white);
      }
    }
  }

  &--style-icon-label {
    padding: 0;
    font-weight: 600;

    @include style-icon-color;
  }

  &--icon-color-light-gray {
    @include style-icon-color($color-light-gray, $color-dark-gray, $color-light-gray);
  }

  &--style-light-gray {
    box-shadow: inset 0 0 0 $style-stroke-width $color-dark-gray;
  }

  &--icon-without-border {
    .btn__icon {
      border: none;
    }
  }

  &--icon-position-left {
    .btn__content {
      flex-direction: row-reverse;
    }

    .btn__icon {
      margin-right: base(.5);
    }
  }

  &--icon-position-right {
    .btn__icon {
      margin-left: base(.5);
    }
  }

  &:focus,
  &:active {
    outline: none;
  }
}




