@import '../../../scss/styles.scss';

.btn {
  background-color: $color-dark-gray;
  color: white;
  padding: base(.5) base(.75);
  line-height: base(1);
  border-radius: $style-radius-m;
  font-size: 1rem;
  margin-top: base(1);
  margin-bottom: base(1);
  border: 0;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;

  &--secondary {
    box-shadow: inset 0 0 0 $style-stroke-width $color-dark-gray;
    color: $color-dark-gray;
    background: none;

    &:hover {
      background: lighten($color-dark-gray, 5%);
      box-shadow: inset 0 0 0 $style-stroke-width lighten($color-dark-gray, 5%);
      color: white;
    }
  }

  &--icon {
    span {
      display: flex;
    }

    svg {
      margin-left: base(1);
      display: block;
    }

    &.btn--primary {
      svg {
        @include color-svg(white);
      }
    }
  }

  &:hover {
    background: lighten($color-dark-gray, 5%);
  }

  &:focus, &:active {
    outline: none;
  }
}
