@layer payload-default {
  .sort-by-pill {
    &__order-option {
      display: flex;
      gap: calc(var(--base) * 0.25);
    }

    &__trigger {
      .pill__label {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}
