@import '../../../scss/styles.scss';

.btn {
    @extend %uppercase-label;
    background-color: $primary;
    border: 1px solid $primary;
    padding: base(.5) base(.75);
    line-height: base(.5);
    border-radius: $radius-sm;
    margin-top: base(1);
    margin-bottom: base(1);
    cursor: pointer;

    &.btn-secondary {
        border: $stroke-width solid $primary;
        color: $primary;
        background: none;

        &.btn-icon {
            @include color-svg($primary);
            padding: 0;
        }

        &:hover {
            background: $primary;
            border: $stroke-width solid $primary;
            color: $black;

            &.btn-icon {
                @include color-svg($black);
            }
        }
    }

    &.btn-small {
        padding: base(0) base(.25) base(.04);
        border-radius: 3px;
        font-size: base(.3);
    }

    &.btn-text {
        background: none;
        padding: 0;
        border-radius: 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid $black;

        &:hover {
            color: $primary;
            border-bottom-color: $primary;
        }
    }

    &.btn-icon {
      background: none;
      padding: 0;
      border-radius: 0;
      border: 0;
      width: base(1.5);
      height: base(1.5);

      svg {
          width: base(.75);
          height: base(.75);
      }

      &:hover {
        background: none;
        border: 0;
      }
    }

    &:hover {
      border: 1px solid $primary;
      background: $primary;
      color: $black;
    }

    &:focus, &:active {
        outline: none;
    }
}
