.addToCartButton {
  // cursor: pointer;
  // background-color: transparent;
  // padding: 0;
  // border: none;
  // font-size: inherit;
  // line-height: inherit;
  // text-decoration: underline;
  // white-space: nowrap;
}
