.invert {
  background-color: var(--foreground);
  color: var(--background);
}

:global([data-theme="dark"]) {
  .invert {
    background-color: var(--background-light);
    color: var(--foreground);
  }
}
