.invert {
  background-color: var(--foreground);
  color: var(--background);

  @media (prefers-color-scheme: dark) {
    background-color: var(--background-light);
    color: var(--foreground);
  }
}
