@import '../../../../scss/styles.scss';

.collapsible-field {
  &__row-label-wrap {
    pointer-events: none;
    display: flex;
    align-items: center;
    gap: base(0.5);
  }

  &--has-error {
    border: 1px solid var(--theme-error-500);
  }
}
