@import '../../../../../../scss/styles';

.block-selection {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33%;
  padding: base(.75) base(.5);
  cursor: pointer;
  align-items: center;
  background: none;
  border-radius: 0;
  box-shadow: 0;
  border: 0;

  &:hover {
    background-color: $color-background-gray;
  }

  &__image {
    svg,
    img {
      max-width: 100%;
    }
  }

  &__label {
    margin-top: base(.25);
    font-weight: 600;
    text-align: center;
    white-space: initial;
  }

  @include mid-break {
    width: unset;
  }
}
