@import '~payload/scss/styles';

.tooltip {
	@extend %uppercase-label;
	background-color: $primary;
  position: absolute;
  z-index: 2;
	top: - rem(.5);
	left: 50%;
	transform: translateX(-50%);
	padding: 0 rem(.4);
	color: $black;
	line-height: rem(.8);

	span {
		position: absolute;
		transform: translateX(-50%);
		top: rem(.7);
		left: 50%;
		height: 0;
		width: 0;
		border: 10px solid transparent;
		border-top-color: $primary;
	}
}
