@import '~@payloadcms/ui/scss';

$tab-width: 24px;

@layer payload-default {
  .query-inspector {
    --tab-width: 24px;

    &__json-children {
      position: relative;

      &--nested {
        & li {
          padding-left: 8px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        border-left: 1px dashed var(--theme-elevation-200);
      }
    }

    &__row-line {
      &--nested {
        .query-inspector__json-children {
          padding-left: var(--tab-width);
        }
      }
    }

    &__list-wrap {
      position: relative;
    }

    &__list-toggle {
      all: unset;
      width: 100%;
      text-align: left;
      cursor: pointer;
      border-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      position: relative;
      display: flex;
      column-gap: 14px;
      row-gap: 10px;
      align-items: center;
      left: 0;
      width: calc(100% + 3px);
      background-color: var(--theme-elevation-50);

      &:not(.query-inspector__list-toggle--empty) {
        margin-left: calc(var(--tab-width) * -1 - 10px);
      }

      svg .stroke {
        stroke: var(--theme-elevation-400);
      }

      &:hover {
        background-color: var(--theme-elevation-100);
      }

      &--empty {
        cursor: default;
        pointer-events: none;
      }
    }

    &__toggle-row-icon {
      &--open {
        transform: rotate(0deg);
      }
      &--closed {
        transform: rotate(-90deg);
      }
    }

    &__value-type {
      &--number {
        .query-inspector__value {
          color: var(--number-color);
        }
      }

      &--string {
        .query-inspector__value {
          color: var(--string-color);
        }
      }
    }

    &__bracket {
      position: relative;

      &--position-end {
        left: 2px;
        width: calc(100% - 5px);
      }
    }

    // Some specific rules targetting the very top of the nested JSON structure or very first items since they need slightly different styling
    &__results {
      & > .query-inspector__row-line--nested {
        & > .query-inspector__list-toggle {
          margin-left: 0;
          column-gap: 6px;

          .query-inspector__toggle-row-icon {
            margin-left: -4px;
          }
        }

        & > .query-inspector__json-children {
          padding-left: calc(var(--base) * 1);
        }

        & > .query-inspector__bracket--nested > .query-inspector__bracket--position-end {
          padding-left: 16px;
        }
      }
    }
  }
}
