@import '~payload/scss/styles';

.collection-edit {
  header {
    h1 {
      margin: 0;
    }
  }

  .stick-on-scroll .stick .wrap {
    display: flex;
    justify-content: space-between;
  }

  .controls {

    .btn {
      margin-top: 0;
      margin-bottom: 0;
    }

    > *:last-child {
      margin-left: rem(1);
    }
  }
}
