@layer payload-default {
  .create-first-user {
    --header-letter-spacing: -0.408px;

    display: flex;
    flex-direction: column;
    gap: var(--spacer-5);
    align-items: center;
    width: 100%;
  }

  .create-first-user__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .create-first-user__header h1 {
    margin: 0;
    font-family: var(--text-heading-large-font-family);
    font-size: var(--text-heading-large-font-size);
    font-weight: var(--text-heading-large-font-weight);
    line-height: var(--text-heading-large-line-height);
    letter-spacing: var(--header-letter-spacing);
    color: var(--color-text);
  }

  .create-first-user__header p {
    margin: 0;
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    letter-spacing: var(--text-body-medium-letter-spacing);
    color: var(--color-text-secondary);
  }

  .create-first-user__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-5);
    width: 100%;
  }

  .create-first-user__form__inputWrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-3);
  }

  .create-first-user__form__actions {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
    align-items: center;
    width: 100%;
  }

  .create-first-user__form__actions .form-submit {
    width: 100%;
  }

  .create-first-user__form__actions .form-submit .btn {
    width: 100%;
    height: var(--spacer-4);
    justify-content: center;
  }
}
