@import '../../../scss/styles.scss';

.doc-header {
  width: 100%;
  padding-bottom: var(--base);
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background: var(--theme-elevation-100);
    width: calc(100% + var(--gutter-h));
    left: calc(var(--gutter-h) * -1);
    top: calc(100% - 1px);
  }

  &__title {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25;
    margin: 0;
  }

  @include mid-break {
    padding-bottom: calc(var(--base) / 2);
  }
}
