@import '../../../scss/styles.scss';

@layer payload-default {
  .multi-value-remove {
    cursor: pointer;
    width: base(1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    color: inherit;

    &:hover {
      color: var(--theme-elevation-800);
      background: var(--theme-elevation-150);
    }

    &__icon {
      width: 100%;
      height: 100%;
    }
  }
}
