@layer payload-default {
  .multi-value-remove {
    cursor: pointer;
    min-width: 1.125rem;
    min-height: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: var(--radius-small);
    padding: 0;
    color: var(--icon-secondary);

    &:hover {
      color: var(--text-default);
      background: var(--bg-hover);
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 1px var(--border-selected);
    }
  }
}
