@import '../../../scss/styles.scss';

@layer payload-default {
  .popup-button {
    height: 100%;
    color: currentColor;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    border: 0;
    cursor: pointer;
    display: inline-flex;

    &--background {
      background: transparent;
    }

    &--size-small {
      padding: base(0.4);
    }

    &--size-medium {
      padding: base(0.6);
    }

    &--size-large {
      padding: base(0.8);
    }

    &--disabled {
      cursor: not-allowed;
    }
  }
}
