@layer payload-default {
  .icon--tag {
    height: var(--base);
    width: var(--base);

    &--muted {
      color: var(--theme-elevation-300);
    }

    &--dark {
      color: var(--theme-elevation-800);
    }
  }
}
