@import '../../scss/styles.scss';

@layer payload-default {
  .gutter {
    &--left {
      padding-left: var(--gutter-h);
    }

    &--right {
      padding-right: var(--gutter-h);
    }

    &--negative-left {
      margin-left: calc(-1 * var(--gutter-h));
    }

    &--negative-right {
      margin-right: calc(-1 * var(--gutter-h));
    }
  }
}
