@layer payload-default {
  .bulk-upload--actions-bar {
    display: flex;
    flex-shrink: 0;
    padding-inline: var(--gutter-h);
    padding-block: var(--spacer-2);
    align-items: center;
    border-top: var(--stroke-width-small) solid var(--color-border);
    z-index: 1;
    background-color: var(--color-bg);
    gap: var(--spacer-2-5);
  }

  .bulk-upload--actions-bar__multipleFiles {
    display: flex;
    align-items: center;
    gap: var(--spacer-2-5);
  }

  .bulk-upload--actions-bar__navigation {
    display: flex;
    gap: var(--spacer-2);
    align-items: center;
    width: 100%;
  }

  .bulk-upload--actions-bar__locationText {
    font-variant-numeric: tabular-nums;
    margin: 0;
  }

  .bulk-upload--actions-bar__controls {
    display: flex;
    gap: var(--spacer-2);

    .btn {
      padding: 0;
    }
  }

  .bulk-upload--actions-bar__buttons {
    display: flex;
    gap: var(--spacer-4);
    margin-left: auto;
    white-space: nowrap;
  }

  @media (max-width: 1024px) {
    .bulk-upload--actions-bar__navigation {
      justify-content: space-between;
    }
  }
}
