@import '../../../../../scss/styles.scss';
@import '../../../../forms/field-types/shared.scss';

.auth-fields {
  margin: base(1.5) 0 base(2);
  padding: base(2) base(2) base(1.5);
  background: $color-background-gray;

  .btn {
    margin-top: 0;
  }

  &__api-key-label {
    position: relative;
  }
}

.field-type.api-key {
  input {
    @include formInput;
  }
}
