@import '../../../../scss/styles.scss';

.field-type.relationship {
  position: relative;
  margin-bottom: $baseline;
}

.relationship__error-loading {
  border: 1px solid $color-red;
  min-height: base(2);
  padding: base(.5) base(.75);
  background-color: $color-red;
  color: white;
}

.relationship--read-only {
  div.react-select {
    div.rs__control {
      background: lighten($color-light-gray, 5%);
    }
  }
}
