@import '../../../../scss/styles';

.position-panel {
  &__move-backward {
    transform: rotate(.5turn);
    margin: 0;
    opacity: 0;
  }

  &__move-forward {
    margin: 0;
    opacity: 0;
  }

  &__current-position {
    text-align: center;
    color: $color-gray;
  }

  padding-right: base(.5);
}
