@import '_styles';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: rem(6);
  padding: rem(1);

  .icon-wrap {
    margin: 0 0 rem(.5);

    > * {
      height: $base;
    }
  }

  label {
    color: $gray;
  }

  nav {
    margin: rem(.25) 0 $base;
    a {
      display: block;
      padding: rem(.33) 0;
      border-bottom: 0;
    }
  }
}
