@import '../../../scss/styles.scss';

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 0;
  bottom: 0;
  width: base(6);
  padding: base(1);

  .icon-wrap {
    margin: 0 0 base(.5);

    > * {
      height: $base;
    }
  }

  .uppercase-label {
    @extend %uppercase-label;
    color: $gray;
  }

  a, a:hover {
    border-bottom: 0;
  }

  nav {
    margin: base(.25) 0 $base;

    a {
      position: relative;
      display: flex;
      padding: base(.33) 0;

      svg {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: - base(.5);
        transform: translateY(-50%);
        width: base(.3);
        height: base(.3);
      }

      &.active {
        padding-left: base(.6);

        svg {
          opacity: 1;
          left: 0;
        }
      }
    }
  }

  .log-out {
    margin-top: auto;
  }
}
