@import '_styles';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: rem(6);
  padding: rem(1);

  .icon-wrap {
    @include m;
    width: $base;
  }

  label {
    color: $gray;
  }

  nav {
    margin: rem(.5) 0;
    a {
      display: block;
      padding: rem(.33) 0;
      border-bottom: 0;
    }
  }
}
