@import '~payload/scss/styles';

section.section {
  @extend %shadow;
  margin: rem(1) rem(.5);

  header,
  .content {
    @include pad;
  }

  header {
    border-bottom: 1px solid $light-gray;

    * {
      margin-bottom: 0;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }
}
