.shared-list-filters {
  display: flex;

  &__filters {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
  }

  &__filters__filter {
    margin: 0;
    background: transparent;
    appearance: none;
    border: 0;
    padding: 0;
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__actions__reset {
    margin: 0;
    background: transparent;
    appearance: none;
    border: 0;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
  }

  &__actions__save {
    margin: 0;
    background: transparent;
    appearance: none;
    border: 0;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
  }
}
