@import '../../../scss/styles.scss';

.banner {
  font-size: 1rem;
  line-height: base(1);
  border: 0;
  vertical-align: middle;
  background: var(--color-base-900);
  color: $color-dark-gray;
  border-radius: $style-radius-s;
  padding: base(.5);
  margin-bottom: $baseline;

  &--has-action {
    cursor: pointer;
    text-decoration: none;
  }

  &--has-icon {
    display: flex;

    svg {
      display: block;
    }
  }

  &--type-default {
    &.button--has-action {
      &:hover {
        background: var(--color-base-900);
      }

      &:active {
        background: var(--color-base-950);
      }
    }
  }

  &--type-error {
    background: var(--color-error-100);
    color: $color-red;

    svg {
      @include color-svg($color-red);
    }

    &.button--has-action {
      &:hover {
        background: var(--color-error-200);
      }

      &:active {
        background: var(--color-error-300);
      }
    }
  }

  &--type-success {
    background: $color-green;

    &.button--has-action {
      &:hover {
        background: var(--color-success-200);
      }

      &:active {
        background: var(--color-success-200);
      }
    }
  }
}
