@layer payload-default {
  .multi-value-label {
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    display: flex;
    align-items: center;
    max-width: 9.375rem;
    color: currentColor;
    padding-left: var(--spacer-1);
  }

  .multi-value-label--disabled {
    padding-right: var(--spacer-1);
  }

  .multi-value-label__text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .multi-value-label__text--editable {
    cursor: text;
    outline: none;
  }
}
