@import '../../../../scss/styles.scss';

.field-type.array {
  margin: base(2) 0;

  &__add-button-wrap {
    margin-left: base(0);

    .btn {
      color: $color-gray;
      margin: 0;

      &:hover {
        color: $color-dark-gray;
      }
    }
  }

  .section .section {
    margin-top: 0;
  }

  .section__content {
    > div > div {
      width: 100%;
    }
  }

  .render-fields {
    .row {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.field-type.group,
.field-type.array,
.field-type.blocks {
  .field-type.array {
    .field-type.array__add-button-wrap {
      margin-left: base(3);
    }
  }
}
