@import '../../../../scss/styles.scss';

.array-field {
  margin: 0 0 base(2);

  &:last-child {
    margin-bottom: base(1.5);
  }

  &--has-no-error {
    >.array-field__header .array-field__header-content {
      color: var(--theme-text);
    }
  }

  &__header-content {
    display: flex;
    align-items: center;
    gap: base(.5);
  }

  &__header {
    h3 {
      margin-bottom: 0;
    }

    margin-bottom: base(1);
  }

  &__header-wrap {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  &__header-actions {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
  }

  &__header-action {
    @extend %btn-reset;
    cursor: pointer;
    margin-left: base(.5);

    &:hover {
      text-decoration: underline;
    }
  }

  &__row {
    margin-bottom: base(.5);
  }

  &__error-wrap {
    position: relative;
  }

  &__row-header {
    display: flex;
    align-items: center;
    gap: base(.5);
    pointer-events: none;
  }

  &__add-button-wrap {
    margin-top: base(1);

    .btn {
      color: var(--theme-elevation-400);
      margin: 0;

      &:hover {
        color: var(--theme-elevation-800);
      }
    }
  }
}

html[data-theme=light] {
  .array-field {
    &--has-error {
      >.array-field__header .array-field__header-content {
        color: var(--theme-error-750);
      }
    }
  }
}

html[data-theme=dark] {
  .array-field {
    &--has-error {
      >.array-field__header .array-field__header-content {
        color: var(--theme-error-500);
      }
    }
  }
}
