@import '../../../scss/styles.scss';

.icon-button {
  line-height: 0;
  background: transparent;
  border: 1px solid $black;

  &:hover {
    background: lighten($black, 50%);
    border-color: lighten($black, .2%);
    @include color-svg(lighten($black, 5%));
  }

  &.btn {
    padding: 5px;
  }

  .icon {
    @include color-svg($black);
  }

  &--crossOut {
    svg {
      transform: rotate(45deg);
    }
  }
}
