@import "../../../../scss/styles.scss";

.field-type.textarea {
  position: relative;
  margin-bottom: $baseline;

  .textarea-outer {
    @include formInput();
    resize: vertical;
    height: auto;
    min-height: base(3);

    // Scrollbar for giant content
    max-height: 90vh;
    overflow: auto;

    @include mid-break {
      max-height: 60vh;
    }
  }

  &.error {
    textarea {
      background-color: var(--theme-error-200);
    }
  }

  // This element takes exactly the same dimensions as the clone
  .textarea-inner {
    display: block;
    position: relative;
    line-height: inherit;
    flex-grow: 1;
    box-sizing: border-box;
    background: none;
    outline: none;
  }

  // Unstyle the textarea, the border is rendered on .textarea-outer
  .textarea-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: inherit;
    padding: inherit;
    font: inherit;
    line-height: inherit;
    color: inherit;
    background: none;
    box-sizing: border-box;
    overflow: auto;
    resize: none;
    outline: none;
    text-transform: inherit;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // Clone of textarea with same height
  .textarea-clone {
    vertical-align: top;
    display: inline-block;
    flex-grow: 1;
    white-space: pre;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    pointer-events: none;
  }

  .textarea-clone::before {
    content: attr(data-value) " ";
    visibility: hidden;
    opacity: 0;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .textarea-clone::after {
    content: attr(data-after);
    opacity: 0.5;
  }
}
