@import '../../scss/styles.scss';

@layer payload-default {
  .pill {
    --pill-padding-block: 0px;
    --pill-padding-inline-start: 0px;
    --pill-padding-inline-end: 0px;
    --pill-icon-size: calc(var(--base) * 1.2);
    padding: var(--pill-padding-block) var(--pill-padding-inline-end) var(--pill-padding-block)
      var(--pill-padding-inline-start);
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-style: normal;
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    letter-spacing: var(--text-body-medium-letter-spacing);
    display: inline-flex;
    background: var(--color-black-200);
    color: var(--text-default);
    border-radius: var(--radius-medium);
    cursor: inherit;
    border: 0;
    align-items: center;
    flex-shrink: 0;
    gap: base(0.2);

    &--rounded {
      border-radius: var(--style-radius-l);
    }

    &:active,
    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      outline: var(--accessibility-outline);
      outline-offset: var(--accessibility-outline-offset);
    }

    &__icon .icon {
      flex-shrink: 0;
      width: var(--pill-icon-size);
      height: var(--pill-icon-size);
    }

    &__label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--has-action {
      cursor: pointer;
      text-decoration: none;
    }

    &--is-dragging {
      cursor: grabbing;
    }

    &--has-icon {
      gap: 0;
      --pill-padding-inline-start: base(0.4);
      --pill-padding-inline-end: base(0.1);

      svg {
        display: block;
      }
    }

    &--align-icon-left {
      flex-direction: row-reverse;
      --pill-padding-inline-start: base(0.1);
      --pill-padding-inline-end: base(0.4);
    }

    &--style-white {
      &.pill--has-action {
        &:hover {
          background: var(--bg-default-secondary-hover);
        }

        &:active {
          background: var(--bg-default-secondary-pressed);
        }
      }
    }

    &--style-always-white {
      background: var(--bg-inverse-default);
      color: var(--text-inverse-oninverse);

      &.pill--has-action {
        &:hover {
          background: var(--bg-inverse-hover);
        }

        &:active {
          background: var(--bg-inverse-pressed);
        }
      }
    }

    &--style-light {
      &.pill--has-action {
        &:hover {
          background: var(--bg-default-secondary-hover);
        }

        &:active {
          background: var(--bg-default-secondary-pressed);
        }
      }
    }

    &--style-light-gray {
      background: var(--bg-default-secondary);
      color: var(--text-default);
    }

    &--style-warning {
      background: var(--bg-warning-tertiary);
      color: var(--text-warning-default);
    }

    &--style-success {
      background: var(--bg-success-tertiary);
      color: var(--text-success-default);
    }

    &--style-error {
      background: var(--bg-danger-tertiary);
      color: var(--text-danger-default);
    }

    &--style-dark {
      background: var(--bg-inverse-default);
      color: var(--text-inverse-oninverse);

      svg {
        @include color-svg(var(--text-inverse-oninverse));
      }

      &.pill--has-action {
        &:hover {
          background: var(--bg-inverse-hover);
        }

        &:active {
          background: var(--bg-inverse-pressed);
        }
      }
    }

    &--size-medium {
      --pill-padding-block: calc(var(--base) * 0.2);
      --pill-padding-inline-start: calc(var(--base) * 0.6);
      --pill-padding-inline-end: calc(var(--base) * 0.6);
    }

    &--size-small {
      --pill-icon-size: calc(var(--base) * 0.9);
      --pill-padding-block: 0;
      --pill-padding-inline-start: var(--spacer-1);
      --pill-padding-inline-end: var(--spacer-1);
    }
  }

  html[data-theme='light'] {
    .pill {
      &--style-always-white {
        background: var(--bg-default-default);
        color: var(--text-default);
        border: 1px solid var(--border-default-default);

        &.pill--has-action {
          &:hover {
            background: var(--bg-default-secondary-hover);
          }

          &:active {
            background: var(--bg-default-secondary-pressed);
          }
        }
      }
    }
  }
}
