@import '../../../scss/styles.scss';

.account {
  &__auth {
    margin-bottom: calc(var(--base) * 2);
    margin-top: calc(var(--base) * 0.5);
  }

  &___settings {
    margin-bottom: calc(var(--base) * 2);
  }

  @include small-break {
    &__auth {
      margin-top: 0;
      margin-bottom: var(--base);
    }
  }
}
