@import '../../../scss/styles.scss';

.account {
  width: 100%;
  padding-bottom: var(--spacing-view-bottom);

  &__form {
    height: 100%;
  }

  &__edit {
    margin-top: calc(var(--base) * 3);
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  .render-fields:not(.render-fields--none-visible) {
    margin-top: var(--base);
  }

  &__payload-settings {
    margin-top: base(3);
    padding-top: base(3);
    border-top: 1px solid var(--theme-elevation-100);
  }

  &__language {
    margin-bottom: $baseline;
  }

  @include small-break {
    &__edit {
      margin: var(--base) 0;
    }

    &__payload-settings {
      margin-top: base(1);
      padding-top: base(1);
      padding-bottom: base(0.5);
      border-top: 1px solid var(--theme-elevation-100);
      border-bottom: 1px solid var(--theme-elevation-100);
    }
  }
}
