@import '../../../../../../scss/styles.scss';

.relationship--multi-value-label {
  display: flex;

  &__content {
    @extend %small;
    padding: 0 base(.125) 0 base(.25);
    max-width: 150px;
    color: currentColor;
    display: flex;
    align-items: center;
  }

  &__text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__drawer-toggler {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: base(0.25);
    pointer-events: all;

    .icon {
      width: base(0.75);
      height: base(0.75);
    }

    &:hover {
      background-color: var(--theme-elevation-100);
    }
  }
}
