.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  z-index: 9999;
  transition: width 0.3s;

  &__progress {
    height: 100%;
    background-color: #007bff;
  }
}
