@import '../../scss/styles.scss';

@layer payload-default {
  .sort-row {
    opacity: 0.3;
    cursor: not-allowed;

    &.active {
      cursor: grab;
      opacity: 1;
    }

    &__icon {
      display: block;
      width: min-content;
    }
  }
}
