@import '../../../scss/styles.scss';

@layer payload-default {
  .taxonomy-field {
    &__content {
      display: flex;
      flex-direction: column;
      gap: calc(var(--base) * 0.75);
    }

    &__manage-button {
      align-self: flex-start;
    }

    &--read-only {
      .taxonomy-field__content {
        opacity: 0.75;
      }
    }
  }
}
