@import '../../../../scss/styles.scss';

.field-type.email {
  margin-bottom: $baseline;
  position: relative;

  input {
    @include formInput;
  }

  &.error {
    input {
      background-color: var(--theme-error-200);
    }
  }
}
