@import '../../../../scss/styles.scss';

.field-type.email {
  margin-bottom: $baseline;
  position: relative;

	input {
		@include formInput;
	}

	&.error {
		input {
      background-color: lighten($color-red, 20%);
		}
	}
}
