.adminBar {
  z-index: 10;
  width: 100%;
  padding: 5px 0;
  font-size: calc(#{var(--html-font-size)} * 1px);
  display: block;
  visibility: hidden;
  opacity: 0;
  background-color: var(--theme-elevation-100);
  transition: opacity 150ms linear;
}

:global([data-theme="dark"]) {
  .adminBar {
    background-color: var(--theme-elevation-0);
  }
}

.payloadAdminBar {
  color: var(--theme-text) !important;
}

.show {
  visibility: visible;
  opacity: 1;
}

.controls {
  & > *:not(:last-child) {
    margin-right: 10px !important;
  }
}

.user {
  margin-right: 10px !important;
}

.logo {
  margin-right: 10px !important;
}

.blockContainer {
  position: relative;
}

.hr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--light-gray);
  height: 2px;
}
