@import '../../../../../../scss/styles.scss';


.relationship--single-value {
  &__label-text {
    max-width: unset;
    display: flex;
    align-items: center;
    overflow: visible;
    width: 100%;
    flex-shrink: 1;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__drawer-toggler {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: base(0.25);
    pointer-events: all;

    .icon {
      width: base(0.75);
      height: base(0.75);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: var(--theme-elevation-100);
    }
  }

  &__label {
    flex-grow: 1;
  }
}
