@layer payload-default {
  .payload-settings::before,
  .payload-settings::after {
    /* Section separator */
    content: '';
    display: block;
    height: var(--stroke-width-small);
    background: var(--color-border);
    width: calc(100% + calc(var(--gutter-h) * 2));
    left: calc(var(--gutter-h) * -1);
    top: 0;
    position: absolute;
  }

  .payload-settings {
    position: relative;
    margin-block-start: var(--spacer-6);
    margin-block-end: var(--spacer-6);
    padding-block-start: var(--spacer-6);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-field);

    .payload-reset-preferences {
      margin-block-start: var(--spacer-2);
    }
  }

  .payload-settings__language,
  .payload-settings__theme {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
  }

  .payload-settings h3 {
    margin: 0;
    font-size: var(--text-heading-medium-font-size);
    font-weight: var(--text-heading-medium-font-weight);
    line-height: var(--text-heading-medium-line-height);
    letter-spacing: var(--text-heading-medium-letter-spacing);
  }
}
