@import '../../../../scss/styles.scss';

.multi-value-remove {
  cursor: pointer;
  width: base(0.75);
  height: base(0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover {
    color: var(--theme-elevation-800);
    background: var(--theme-error-150);
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}
