@import '../../scss/styles.scss';

@layer payload-default {
  .restore-many {
    @include blur-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__toggle {
      @extend %btn-reset;
    }

    &__checkbox {
      padding: calc(var(--base) * 0.5) 0;

      .checkbox-input {
        label {
          padding-bottom: 0;
        }
      }
    }
  }
}
