@layer payload-default {
  .icon--spinner {
    color: currentColor;
    animation: spinner-spin 1s linear infinite;
  }

  @keyframes spinner-spin {
    to {
      transform: rotate(360deg);
    }
  }
}
