@import '../../../../scss/styles.scss';

.rich-text {
  margin-bottom: base(2);

  &__toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: $baseline;
  }

  &__editor {
    min-height: base(10);

    p,
    h1,
    h2,
    h3 {
      margin-bottom: base(.25);
    }
  }

  &__button {
    @extend %btn-reset;
    padding: base(.25);

    svg {
      @include color-svg($color-dark-gray);
      width: base(.75);
      height: base(.75);
    }

    &:hover{
      background-color: $color-background-gray;
    }

    &__button--active,
    &__button--active:hover {
      background-color: $color-light-gray ;
    }
  }

  &:hover {
    .field-type-gutter__content-container {
      box-shadow: #{$style-stroke-width-m} 0px 0px 0px $color-dark-gray;
    }
  }
}
