@import '../../../../scss/styles.scss';

.rich-text {
  margin-bottom: base(2);
  display: flex;

  &__toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: $baseline;
  }

  &__editor {
    min-height: base(10);

    p,
    h1,
    h2,
    h3 {
      margin-bottom: base(0.25);
    }
  }

  &__wrap {
    width: 100%;
  }

  &__wrapper {
    @include inputShadow();
    width: 100%;
    border: 1px solid $color-light-gray;
    line-height: base(1);
    padding: base(0.5) base(0.75);
  }

  &--read-only {
    .rich-text__wrapper {
      background-color: $color-light-gray;
    }
  }

  &__button {
    @extend %btn-reset;
    padding: base(0.25);

    svg {
      @include color-svg($color-dark-gray);
      width: base(0.75);
      height: base(0.75);
    }

    &:hover {
      background-color: $color-background-gray;
    }

    &__button--active,
    &__button--active:hover {
      background-color: $color-light-gray;
    }
  }

  &:hover {
    .field-type-gutter__content-container {
      box-shadow: #{$style-stroke-width-m} 0px 0px 0px $color-dark-gray;
    }
  }
}
