@import '~@payloadcms/ui/scss';

.button {
  @extend %btn-reset;
  background: var(--theme-elevation-1000);
  color: var(--theme-elevation-0);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
