@import '../../../scss/styles';

.icon--chevron {
  height: calc(var(--base) / 2);
  width: calc(var(--base) / 2);

  .stroke {
    fill: none;
    stroke: var(--theme-elevation-800);
    stroke-width: $style-stroke-width-m;
    vector-effect: non-scaling-stroke;
  }

  &--size-large {
    height: var(--base);
    width: var(--base);
  }
}
