@import '../../scss/styles.scss';

.generate-confirmation {
  @include blur-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: base(2);

  &__template {
    position: relative;
    z-index: 1;
  }

  .btn {
    margin-right: $baseline;
  }
}
