.checkBox {
  height: var(--base);
  width: var(--base);

  .stroke {
    stroke-width: 1px;
    fill: none;
    stroke: currentColor;
  }

  &:local() {
    .stroke {
      stroke-width: 2px;
    }
  }
}
