@import '../../../scss/styles.scss';

.template-default {
  margin-left: base(8);
  width: calc(100% - #{base(8)});
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__eyebrow,
  &__wrap {
    padding-left: base(2);
    padding-right: base(2);
  }

  &__eyebrow {
    position: sticky;
    top: 0;
    z-index: 2;
    padding-top: $baseline;
    padding-bottom: $baseline;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba($color-background-gray, .8);
    backdrop-filter: saturate(180%) blur(5px);
  }

  &__wrap {
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding-bottom: base(2);
  }

  @include mid-break {
    width: 100%;
    margin-left: 0;
    padding-top: base(3);

    &__eyebrow {
      padding: 0 0 $baseline;
      margin: 0;
      position: static;
    }

    &__wrap {
      padding: 0 0 $baseline;
    }
  }
}
