@import '../../../scss/styles.scss';

.template-default {
  padding-top: $baseline;
  margin-left: base(10);
  width: calc(100% - #{base(10)});

  &__eyebrow,
  &__wrap {
    padding: 0 base(2);
  }

  &__eyebrow {
    margin-bottom: base(1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include mid-break {
    width: 100%;
    margin-left: 0;
    padding-top: base(3);

    &__eyebrow {
      padding: 0 0 $baseline;
      margin: 0;
    }

    &__wrap {
      padding: 0 $baseline $baseline;
    }
  }
}
