@import '../../../scss/styles.scss';

.template-default {
  margin-left: base(8);
  width: calc(100% - #{base(8)});
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__wrap {
    padding-left: base(2);
  }

  &__wrap {
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding-bottom: base(2);
  }

  @include mid-break {
    width: 100%;
    margin-left: 0;
    padding-top: base(3);

    &__wrap {
      padding: 0 0 $baseline;
    }
  }
}
