@layer payload-default {
  .relationship-table {
    position: relative;

    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--base);
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: var(--base);
    }

    &__columns-inner {
      padding-bottom: var(--base);
    }

    &__add-new-polymorphic .btn__label {
      display: flex;
      text-wrap: nowrap;
      align-items: center;
    }

    .table {
      table {
        width: 100%;
        overflow: auto;

        [class^='cell'] > p,
        [class^='cell'] > span,
        [class^='cell'] > a {
          line-clamp: 4;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
          display: -webkit-box;
          max-width: 100vw;
        }
      }

      th,
      td:first-child {
        min-width: 0;
      }
    }
  }
}
