@import '../../../scss/styles.scss';

.doc-drawer {
  &__header {
    margin-top: base(2.5);
    margin-bottom: base(1);

    @include mid-break {
      margin-top: base(1.5);
    }
  }

  &__header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: base(1);
  }

  &__header-text {
    margin: 0;
  }

  &__toggler {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: inherit;

    &:focus,
    &:focus-within {
      outline: none;
    }

    &:disabled {
      pointer-events: none;
    }
  }

  &__header-close {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    width: base(1);
    height: base(1);

    svg {
      width: base(2.75);
      height: base(2.75);
      position: relative;
      left: base(-.825);
      top: base(-.825);

      .stroke {
        stroke-width: 2px;
        vector-effect: non-scaling-stroke;
      }
    }
  }
}
