.graphic-account {
  &__bg {
    fill: var(--theme-elevation-100);
  }

  &__head,
  &__body {
    fill: var(--theme-elevation-300);
  }

  &--active {
    .graphic-account {
      &__bg {
        fill: var(--theme-elevation-500);
      }

      &__head,
      &__body {
        fill: var(--theme-text);
      }
    }
  }

  &:hover:not(.graphic-account--active) {
    .graphic-account {
      &__bg {
        fill: var(--theme-elevation-200);
      }

      &__head,
      &__body {
        fill: var(--theme-elevation-600);
      }
    }
  }
}
