@import '../../../../scss/styles.scss';

.compare-version {
  &__error-loading {
    border: 1px solid $color-red;
    min-height: base(2);
    padding: base(.5) base(.75);
    background-color: $color-red;
    color: white;
  }

  &__label {
    margin-bottom: base(.25);
  }
}
