@layer payload-default {
  .select-diff {
    &__locale-label {
      [dir='ltr'] & {
        margin-right: calc(var(--base) * 0.25);
      }
      [dir='rtl'] & {
        margin-left: calc(var(--base) * 0.25);
      }
      background: var(--theme-elevation-100);
      padding: calc(var(--base) * 0.25);
      // border-radius: $style-radius-m;
    }
  }
}
