@layer payload-default {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--spacer-3);
    margin: 0;
    padding: 0;
    list-style: none;
    padding: var(--spacer-4) var(--gutter-h);
  }

  .card-grid__item {
    min-width: 0;
  }

  .card-grid__item--selected {
    border-radius: var(--radius-large);
    box-shadow: 0 0 0 var(--stroke-width-medium) var(--color-border-selected);
  }
}
