@import '../../scss/styles.scss';

@layer payload-default {
  .logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    &__wrap {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: base(0.8);
      width: 100%;
      max-width: base(36);

      & > * {
        margin: 0;
      }
    }
  }
}
