.account {
  margin-bottom: var(--block-padding);
}

.params {
  margin-top: var(--base);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.comment {
  margin: 0;
}

.meta {
  margin: 0;
}
