@import '_styles';

.stick-on-scroll {
  position: relative;

  .stick {
    z-index: 1;
    position: absolute;
    padding-top: rem(.75);
    padding-bottom: rem(.75);
    width: 100%;

    &.stuck {
      @include default-template-width;
      position: fixed;
      left: 0;
      top: 0;
    }

    &:before {
      content: ' ';
      background: rgba(white, .95);
      position: absolute;
      z-index: 1;
      top: 0;
      right: - rem(1);
      bottom: 0;
      left: - rem(1);
    }

    .wrap {
      position: relative;
      z-index: 2;
    }
  }
}
