@import '../../scss/styles.scss';

@layer payload-default {
  .list-drawer {
    &__toggler {
      background: transparent;
      border: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      color: inherit;

      &:focus,
      &:focus-within {
        outline: none;
      }

      &:disabled {
        pointer-events: none;
      }
    }
  }
}
