@import '_vars';
@import '_structure';
@import '_queries';
@import '_form';

.interact.text,
.interact.email {
	margin-bottom: rem(1);
	position: relative;

	label {
		display: flex;

		.required {
			color: $pink;
			margin-left: rem(.25);
			margin-right: auto;
		}
	}

	.tooltip{
		left: auto;
		right: 0;
		transform: none;
		background-color: $pink;

		span {
			border-top-color: $pink;
		}
	}

	input {
		@include formInput();
	}

	&.error {
		input {
			border: 2px solid $pink;
		}
	}

	@include small-break {
		margin-bottom: rem(.5);
	}
}