@import '../../../_css/common';

.form {
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
  align-items: flex-start;
  width: 66.66%;

  @include mid-break {
    width: 100%;
  }
}

.changePassword {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.submit {
  margin-top: calc(var(--base) / 2);
}
