@import '../../../../../../scss/styles.scss';

.nested-diff {
  &__wrap--gutter {
    [dir='ltr'] & {
      padding-left: base(1);
      border-left: $style-stroke-width-s solid var(--theme-elevation-150);
    }
    [dir='rtl'] & {
      padding-right: base(1);
      border-right: $style-stroke-width-s solid var(--theme-elevation-150);
    }
  }
}
