@import '../../../../scss/styles.scss';

.field-type.email {
  position: relative;

  input {
    @include formInput;
  }

  &.error {
    input {
      background-color: var(--theme-error-200);
    }
  }
}

html[data-theme='light'] {
  .field-type.email {
    &.error {
      input {
        @include lightInputError;
      }
    }
  }
}

html[data-theme='dark'] {
  .field-type.email {
    &.error {
      input {
        @include darkInputError;
      }
    }
  }
}
