@import '../../../../scss/styles.scss';

.json-field {
  position: relative;
  margin-bottom: $baseline;

  &__editor {
    @include formInput;
    height: auto;
    padding: 0;
  }

  &.error {
    textarea {
      border: 1px solid var(--theme-error-500) !important;
    }
  }
}
