@import '../../../../scss/styles.scss';

.field-type.number {
  position: relative;
  margin-bottom: $baseline;

  input {
    @include formInput;
  }

  &.error {
    input {
      background-color: var(--theme-error-200);
    }
  }

  .number__wrap {
    display: flex;
    align-items: stretch;
  }

  .number__formatted {
    @include formInput;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: -1px;
    padding: 0 base(.5);
    white-space: nowrap;
  }
}
