@import '../../../../scss/styles.scss';

.field-type.number {
  position: relative;
  margin-bottom: $baseline;

  &:not(.has-many) {
    input {
      @include formInput;
    }
  }
}

html[data-theme=light] {
  .field-type.number {
    &.error {
      input {
        @include lightInputError;
      }
    }
  }
}

html[data-theme=dark] {
  .field-type.number {
    &.error {
      input {
        @include darkInputError;
      }
    }
  }
}
