@import '../shared';

.field-type.textarea {
  margin-bottom: base(.5);
  position: relative;

  textarea {
    @include formInput();
    min-height: base(3);
  }

  &.error {
    textarea {
      background-color: lighten($color-red, 20%);
    }
  }
}
