@import '../../../../scss/styles.scss';

.rich-text {
  margin-bottom: base(2);
  display: flex;

  &__toolbar {
    @include blur-bg(var(--theme-elevation-0));
    margin-bottom: $baseline;
    border: $style-stroke-width-s solid var(--theme-elevation-150);
    padding: base(.25);
    position: sticky;
    z-index: 2;
    top: base(4);
  }

  &__toolbar-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
    z-index: 1;
  }

  &__editor {
    font-family: var(--font-serif);
    font-size: base(.575);

    [data-slate-node=element] {
      margin-bottom: base(0.25);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-body);
    }

    h1[data-slate-node=element],
    h2[data-slate-node=element],
    h3[data-slate-node=element],
    h4[data-slate-node=element] {
      margin-bottom: base(.5);
    }
  }

  &__input {
    min-height: base(10);
  }

  &__wrap {
    width: 100%;
    position: relative;
  }

  &__wrapper {
    width: 100%;
  }

  &--read-only {
    .rich-text__editor {
      background-color: var(--theme-elevation-150);
      padding: base(.5);
    }
  }

  &__button {
    @extend %btn-reset;
    padding: base(0.25);

    svg {
      @include color-svg(var(--theme-elevation-800));
      width: base(0.75);
      height: base(0.75);
    }

    &:hover {
      background-color: var(--theme-elevation-100);
    }

    &__button--active,
    &__button--active:hover {
      background-color: var(--theme-elevation-150);
    }
  }
}

.field-type.blocks {
  .rich-text__toolbar {
    top: base(7);
  }
}
