@import '../../../../scss/styles.scss';

.nav-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) * 0.25);

  &__toggle {
    cursor: pointer;
    color: var(--theme-elevation-400);
    background: transparent;
    border: 0;
    margin-top: base(0.25);
    width: 100%;
    display: flex;
    padding: 0;

    [dir='ltr'] & {
      padding-left: 0;
      align-items: flex-start;
      text-align: left;
    }

    [dir='rtl'] & {
      padding-right: 0;
      align-items: flex-start;
      text-align: right;
    }

    svg {
      flex-shrink: 0;
      margin-top: base(-0.2);
    }

    &:hover,
    &:focus-visible {
      color: var(--theme-elevation-1000);

      .stroke {
        stroke: var(--theme-elevation-1000);
      }
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__label {
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base) * 0.25);
  }

  &__indicator {
    [dir='ltr'] & {
      margin-left: auto;
    }
    [dir='rtl'] & {
      margin-right: auto;
    }

    .stroke {
      stroke: var(--theme-elevation-200);
    }
  }

  &--collapsed {
    .collapsible__toggle {
      border-bottom-right-radius: $style-radius-s;
      border-bottom-left-radius: $style-radius-s;
    }

    .nav-group__indicator {
      transform: rotate(0.5turn);
    }
  }
}
