@layer payload-default {
  .upload-relationship-details {
    display: flex;
    align-items: center;
    gap: var(--spacer-2-5);
    width: 100%;
    min-width: 0;
    overflow: hidden;

    .btn {
      margin: 0;
    }
  }

  .upload-relationship-details__imageAndDetails {
    display: flex;
    gap: var(--spacer-2-5);
    align-items: center;
    min-width: 0;
    flex: 1 1 0;
  }

  .upload-relationship-details__thumbnail {
    flex-shrink: 0;
    border-radius: var(--radius-medium);
    width: var(--spacer-4);
  }

  .upload-relationship-details__details {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-1);
    overflow: hidden;
    flex: 1 1 0;
    min-width: 0;
  }

  .upload-relationship-details__filename {
    margin: 0;
    color: var(--text-default);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    a {
      text-decoration: none;
      color: inherit;

      &:focus-visible {
        outline-offset: -1px;
      }
    }
  }

  .upload-relationship-details__meta {
    margin: 0;
    color: var(--text-secondary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .upload-relationship-details__actions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: var(--spacer-1);

    .btn:focus-visible {
      outline-offset: -3px;
    }
  }
}
