@import '../../../scss/styles.scss';

.field-type {
  margin-bottom: base(.5);
  position: relative;
  width: 100%;

  label {
    display: flex;

    .required {
      color: $error;
      margin-left: base(.25);
      margin-right: auto;
    }
  }

  .tooltip {
    left: auto;
    right: base(.5);
    transform: none;
    background-color: $error;

    span {
      border-top-color: $error;
    }
  }

  @include small-break {
    margin-bottom: base(.5);
  }
}
