.code-block-collapse-button {
  all: unset;
  cursor: pointer;
  min-width: var(--spacer-4);
  min-height: var(--spacer-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-medium);
  color: var(--color-icon-secondary);
  box-sizing: border-box;

  &:hover {
    color: var(--color-icon);
    background-color: var(--color-bg-transparent-hover);
  }

  &:active {
    background-color: var(--color-bg-transparent-pressed);
  }

  &:focus-visible {
    outline: var(--stroke-width-small) solid var(--color-border-brand-strong);
    outline-offset: calc(var(--stroke-width-small) / -1);
  }
}
