.code-block-collapse-button {
  all: unset;
  cursor: pointer;
  min-width: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-medium);
  color: var(--icon-secondary);
  box-sizing: border-box;

  &:hover {
    color: var(--icon-default);
    background-color: var(--bg-transparent-hover);
  }

  &:active {
    background-color: var(--bg-transparent-pressed);
  }

  &:focus-visible {
    outline: 1px solid var(--border-brand-strong);
    outline-offset: -1px;
  }
}
