@layer payload-default {
  dialog.alert-modal {
    --alert-modal-width: 480px;

    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-modalbackdrop);
  }

  dialog.alert-modal--compact {
    --alert-modal-width: 320px;
  }

  .alert-modal__wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--alert-modal-width);
    max-width: calc(100vw - var(--spacer-5));
    background: var(--color-bg);
    border-radius: var(--radius-large);
    overflow: clip;
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    letter-spacing: var(--text-body-medium-letter-spacing);
    color: var(--color-text);
  }

  .alert-modal__header {
    display: flex;
    align-items: center;
    gap: var(--spacer-2);
    min-height: var(--spacer-6);
    border-bottom: var(--stroke-width-small) solid var(--color-border);
    padding: var(--spacer-2) var(--spacer-3);

    .btn {
      padding: 0;
      border: 0;
    }
  }

  .alert-modal__header--with-actions {
    padding-right: var(--spacer-2);
  }

  .alert-modal__title {
    flex: 1 0 0;
    min-width: 0;
    margin: 0;
    font-weight: var(--text-body-medium-strong-font-weight);
    letter-spacing: var(--text-body-medium-letter-spacing);
  }

  .alert-modal__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2-5);
    padding: var(--spacer-2) var(--spacer-3);

    > * {
      margin: 0;
    }
  }

  .alert-modal__controls {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacer-2);
    padding: var(--spacer-2);

    .btn {
      margin: 0;
    }
  }
}
