@import '../../../../scss/styles.scss';

@layer payload-default {
  .rich-text-link-edit-modal {
    &__template {
      position: relative;
      z-index: 1;
      padding-top: base(1);
      padding-bottom: base(2);
    }

    &__header {
      width: 100%;
      margin-bottom: $baseline;
      display: flex;
      justify-content: space-between;
      margin-top: base(2.5);
      margin-bottom: base(1);

      @include mid-break {
        margin-top: base(1.5);
      }
    }

    &__header-text {
      margin: 0;
    }

    &__header-close {
      border: 0;
      background-color: transparent;
      padding: 0;
      cursor: pointer;
      overflow: hidden;
      width: base(1);
      height: base(1);

      svg {
        width: base(2);
        height: base(2);
        position: relative;
        inset-inline-start: base(-0.5);
        top: base(-0.5);

        .stroke {
          stroke-width: 2px;
          vector-effect: non-scaling-stroke;
        }
      }
    }
  }
}
