@layer payload-default {
  .doc-tabs {
    display: flex;
  }

  .doc-tabs__tabs {
    display: flex;
    gap: var(--spacer-2);
    list-style: none;
    align-items: center;
    margin: 0;
    padding-left: 0;
  }

  @media (max-width: 1024px) {
    .doc-tabs {
      width: 100%;
      padding: 0;
      overflow: auto;
    }

    /* this container has a gradient overlay as visual indication of `overflow: scroll` */
    .doc-tabs::-webkit-scrollbar {
      display: none;
    }

    .doc-tabs::after {
      content: '';
      display: block;
      position: sticky;
      right: 0;
      width: var(--spacer-5);
      height: var(--spacer-5);
      background: linear-gradient(to right, transparent, var(--color-bg));
      flex-shrink: 0;
      z-index: 1111;
      pointer-events: none;
    }

    .doc-tabs__tabs {
      padding: 0;
    }
  }

  @media (max-width: 768px) {
    .doc-tabs__tabs-container {
      margin-right: var(--spacer-6);
    }
  }
}
