@use '../../../scss/type.scss';

.hierarchy-drawer {
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--theme-bg);
  }

  &__subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--base) * 0.8) var(--gutter-h);
    border-bottom: 1px solid var(--theme-elevation-100);
    flex-shrink: 0;
  }

  &__subheader-left {
    display: flex;
    align-items: center;
    gap: calc(var(--base) * 0.5);
    font-weight: 500;
    color: var(--theme-elevation-800);

    svg {
      width: 16px;
      height: 16px;
      color: var(--theme-elevation-500);
    }
  }

  &__subheader-right {
    @extend %small;
    display: flex;
    align-items: center;
    gap: calc(var(--base) * 0.4);
  }

  &__selection-info {
    color: var(--theme-elevation-500);
  }

  &__clear-all {
    color: var(--theme-elevation-600);
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;

    &:hover {
      color: var(--theme-elevation-800);
    }
  }

  &__move-to-root {
    background: none;
    border: none;
    color: var(--theme-text);
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-decoration: underline;

    &:hover {
      color: var(--theme-elevation-800);
    }
  }

  &__columns {
    flex: 1;
    overflow: hidden;
    display: flex;
  }

  &__toggler {
    cursor: pointer;
  }
}
