@import '~@payloadcms/ui/scss';

@layer payload-default {
  .LexicalEditorTheme__upload {
    @extend %body;
    @include shadow-sm;

    border-radius: $style-radius-m;
    border: 1px solid var(--theme-elevation-100);
    position: relative;
    font-family: var(--font-body);
    margin-block: base(0.5);

    // Alignment support using :has() selector
    &:has([data-align='center']) {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    &:has([data-align='right']),
    &:has([data-align='end']) {
      width: fit-content;
      margin-left: auto;
      margin-right: 0;
    }

    &:has([data-align='left']),
    &:has([data-align='start']) {
      width: fit-content;
      margin-left: 0;
      margin-right: auto;
    }

    &:hover {
      border: 1px solid var(--theme-elevation-150);
    }

    img,
    svg {
      border-radius: $style-radius-s;
      width: auto;
    }

    &__contents {
      &--landscape {
        img,
        svg {
          max-width: 450px;
          min-width: 450px;
        }
      }
      &--portrait {
        img,
        svg {
          max-height: 450px;
          min-height: 450px;
        }
      }
    }

    button {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__card {
      @include soft-shadow-bottom;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__floater {
      @include shadow-lg;
      position: absolute;
      color: var(--theme-text);

      /* hidden by default */
      opacity: 0;
      transition:
        opacity 0.15s ease,
        transform 0.15s ease;
      pointer-events: none;
    }

    &:hover .LexicalEditorTheme__upload__floater,
    &__media:focus-within .LexicalEditorTheme__upload__floater {
      opacity: 1;
      pointer-events: auto;
    }

    /* --- Floating Action Buttons (top-right) ------------------------------------- */
    &__overlay {
      display: flex;
      top: calc(var(--base) * 0.5);
      right: calc(var(--base) * 0.5);
      padding: calc(var(--base) * 0.2) calc(var(--base) * 0.2);

      background: var(--theme-elevation-50);
      border-radius: $style-radius-m;
      transform: translateY(-6px);
    }
    &:hover .LexicalEditorTheme__upload__overlay,
    &__media:focus-within .LexicalEditorTheme__upload__overlay {
      transform: translateY(0);
    }

    &__actions {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: calc(var(--base) * 0.3);

      .btn:hover {
        background: var(--theme-elevation-100);
      }
    }
    /* --- Floating Metadata (bottom-center) ------------------------------------- */
    &__metaOverlay {
      display: inline-flex;
      left: 50%;
      bottom: 0;
      width: 100%;
      padding: calc(var(--base) * 0.5) calc(var(--base) * 0.75);
      transform: translateX(-50%);

      flex-wrap: wrap;
      gap: calc(var(--base) * 0.5);
      row-gap: 0;

      background: color-mix(in oklab, var(--theme-elevation-50) 55%, transparent);
      border-radius: 0 0 $style-radius-s $style-radius-s;
      backdrop-filter: saturate(1.2) blur(8px);
    }

    html[data-theme='light'] & {
      &__metaOverlay {
        background: color-mix(in oklab, var(--theme-elevation-800) 55%, transparent);
        color: var(--theme-elevation-50);
      }

      &__collectionLabel {
        color: var(--theme-elevation-300);
      }
    }

    &__filename {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-decoration: underline;
      cursor: pointer;
    }

    &__collectionLabel {
      color: var(--theme-elevation-500);
      font-size: 0.9em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include small-break {
      img,
      svg {
        // Allow images to shrink < 450px on small screens to
        // maintain aspect ratio
        min-width: unset;
        min-height: unset;
      }

      &__metaOverlay {
        gap: 0;
        padding: calc(var(--base) * 0.5) calc(var(--base) * 0.6);
        flex-direction: column;

        button {
          display: flex;
          justify-content: flex-start;
        }
      }

      &__collectionLabel {
        max-width: 100%;
      }
    }
  }
}
