@import '~@payloadcms/ui/scss';

@layer payload-default {
  .lexical-upload {
    @extend %body;
    @include shadow-sm;

    border-radius: $style-radius-m;
    border: 1px solid var(--theme-elevation-100);
    position: relative;
    font-family: var(--font-body);
    margin-block: base(0.5);

    img,
    svg {
      border-radius: $style-radius-s;
    }

    &--landscape {
      img,
      svg {
        max-width: 450px;
        width: auto;
        min-width: 450px;
      }
    }
    &--portrait {
      img,
      svg {
        max-height: 450px;
        min-height: 450px;
        width: auto;
      }
    }

    &:hover {
      border: 1px solid var(--theme-elevation-150);
    }

    button {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__card {
      @include soft-shadow-bottom;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    /* --- Floating Action Buttons (top-right) ------------------------------------- */
    &__overlay {
      @include shadow-lg;
      position: absolute;
      top: calc(var(--base) * 0.5);
      right: calc(var(--base) * 0.5);
      padding: calc(var(--base) * 0.2) calc(var(--base) * 0.2);
      display: flex;

      background: var(--theme-elevation-50);
      border-radius: $style-radius-m;

      /* hidden by default */
      opacity: 0;
      transform: translateY(-6px);
      pointer-events: none;
      transition:
        opacity 0.15s ease,
        transform 0.15s ease;
    }
    &:hover .lexical-upload__overlay,
    &__media:focus-within .lexical-upload__overlay {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    &__actions {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: calc(var(--base) * 0.3);

      .btn:hover {
        background: var(--theme-elevation-100);
      }
    }
    /* --- Floating Metadata (bottom-center) ------------------------------------- */
    &__metaOverlay {
      @include shadow-lg;
      position: absolute;
      width: 100%;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      display: inline-flex;
      flex-wrap: wrap;
      gap: calc(var(--base) * 0.5);
      row-gap: 0;
      padding: calc(var(--base) * 0.5) calc(var(--base) * 0.75);

      backdrop-filter: saturate(1.2) blur(8px);
      border-radius: 0 0 $style-radius-s $style-radius-s;
      /* hidden by default */
      opacity: 0;

      transition:
        transform 0.15s ease,
        opacity 0.15s ease;
    }
    &:hover .lexical-upload__metaOverlay,
    &__media:focus-within .lexical-upload__metaOverlay {
      background: color-mix(in oklab, var(--theme-elevation-50) 55%, transparent);
      opacity: 1;
    }

    &__filename {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-decoration: underline;
      cursor: pointer;
    }

    &__collectionLabel {
      color: var(--theme-elevation-500);
      font-size: 0.9em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include small-break {
      &__metaOverlay {
        gap: 0;
        padding: calc(var(--base) * 0.5) calc(var(--base) * 0.6);
        flex-direction: column;
      }
      &__collectionLabel {
        max-width: 100%;
      }
    }
  }
}
