@layer payload-default {
  .LexicalEditorTheme__upload {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);

    border-radius: 4px;
    border: 1px solid var(--theme-elevation-100);
    position: relative;
    font-family: var(--font-body);
    margin-block: calc(var(--base) * 0.5);

    &:has([data-align='center']) {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    &:has([data-align='right']),
    &:has([data-align='end']) {
      width: fit-content;
      margin-left: auto;
      margin-right: 0;
    }

    &:has([data-align='left']),
    &:has([data-align='start']) {
      width: fit-content;
      margin-left: 0;
      margin-right: auto;
    }

    &:hover {
      border: 1px solid var(--theme-elevation-150);
    }

    img,
    svg {
      border-radius: 3px;
      width: auto;
    }

    button {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover .LexicalEditorTheme__upload__floater,
    &:hover .LexicalEditorTheme__upload__overlay {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .LexicalEditorTheme__upload__contents--landscape {
    img,
    svg {
      max-width: 450px;
      min-width: 450px;
    }
  }

  .LexicalEditorTheme__upload__contents--portrait {
    img,
    svg {
      max-height: 450px;
      min-height: 450px;
    }
  }

  .LexicalEditorTheme__upload__card {
    box-shadow: 0 7px 14px 0px rgb(0 0 0 / 5%);
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .LexicalEditorTheme__upload__floater {
    box-shadow: 0 -2px 16px -2px rgba(0, 0, 0, 0.2);
    position: absolute;
    color: var(--theme-text);
    opacity: 0;
    transition:
      opacity 0.15s ease,
      transform 0.15s ease;
    pointer-events: none;
  }

  .LexicalEditorTheme__upload__media:focus-within .LexicalEditorTheme__upload__floater {
    opacity: 1;
    pointer-events: auto;
  }

  .LexicalEditorTheme__upload__overlay {
    display: flex;
    top: calc(var(--base) * 0.5);
    right: calc(var(--base) * 0.5);
    padding: calc(var(--base) * 0.2) calc(var(--base) * 0.2);
    background: var(--theme-elevation-50);
    border-radius: 4px;
    transform: translateY(-6px);
  }

  .LexicalEditorTheme__upload__media:focus-within .LexicalEditorTheme__upload__overlay {
    transform: translateY(0);
  }

  .LexicalEditorTheme__upload:hover .LexicalEditorTheme__upload__overlay {
    transform: translateY(0);
  }

  .LexicalEditorTheme__upload__actions {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: calc(var(--base) * 0.3);

    .btn:hover {
      background: var(--theme-elevation-100);
    }
  }

  .LexicalEditorTheme__upload__metaOverlay {
    display: inline-flex;
    left: 50%;
    bottom: 0;
    width: 100%;
    padding: calc(var(--base) * 0.5) calc(var(--base) * 0.75);
    transform: translateX(-50%);
    flex-wrap: wrap;
    gap: calc(var(--base) * 0.5);
    row-gap: 0;
    background: color-mix(in oklab, var(--theme-elevation-50) 55%, transparent);
    border-radius: 0 0 3px 3px;
    backdrop-filter: saturate(1.2) blur(8px);
  }

  html[data-theme='light'] .LexicalEditorTheme__upload__metaOverlay {
    background: color-mix(in oklab, var(--theme-elevation-800) 55%, transparent);
    color: var(--theme-elevation-50);
  }

  html[data-theme='light'] .LexicalEditorTheme__upload__collectionLabel {
    color: var(--theme-elevation-300);
  }

  .LexicalEditorTheme__upload__filename {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: underline;
    cursor: pointer;
  }

  .LexicalEditorTheme__upload__collectionLabel {
    color: var(--theme-elevation-500);
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width: 768px) {
    .LexicalEditorTheme__upload {
      img,
      svg {
        min-width: unset;
        min-height: unset;
      }
    }

    .LexicalEditorTheme__upload__metaOverlay {
      gap: 0;
      padding: calc(var(--base) * 0.5) calc(var(--base) * 0.6);
      flex-direction: column;

      button {
        display: flex;
        justify-content: flex-start;
      }
    }

    .LexicalEditorTheme__upload__collectionLabel {
      max-width: 100%;
    }
  }
}
