@import '../../_css/common';

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2);

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.price {
  font-weight: 600;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;

  > * {
    margin: 0;
  }
}

.priceBreakdown {
  color: var(--theme-elevation-500);
}
