@import '../../../scss/styles';

@layer payload-default {
  .active-query-preset {
    &.pill {
      max-width: 150px;
      overflow: hidden;
    }

    .pill__label {
      display: flex;
      align-items: center;
    }

    &__label-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
