@import '../../../scss/styles';

@layer payload-default {
  .active-query-preset {
    .pill__label {
      display: flex;
      gap: calc(var(--base) / 4);
      display: flex;
      align-items: center;
    }

    &__label-text-max-width {
      max-width: 100px;
      overflow: hidden;
    }

    &__label-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__label-and-clear-wrap {
      display: flex;
      align-items: center;
    }

    &__clear {
      display: flex;
      align-items: center;
    }
  }
}
