@import '../../scss/styles';

@layer payload-default {
  .list-controls {
    &__outer-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: base(0.5);
    }

    &__wrap {
      display: flex;
      align-items: center;
      gap: base(0.5);
      flex-grow: 1;
      background-color: var(--theme-elevation-50);
      border-radius: var(--style-radius-m);
    }

    &__wrap--with-presets {
      justify-content: flex-end;
      max-width: 50%;

      .list-controls__search {
        flex-grow: 1;
      }
    }

    &__preset-controls {
      display: flex;
      gap: base(0.6);
      align-items: center;
      flex-grow: 1;
    }

    &__preset-menu-items {
      display: flex;
      gap: base(0.6);

      button {
        background-color: transparent;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }
    }

    &__search {
      display: flex;
      background-color: var(--theme-elevation-50);
      border-radius: var(--style-radius-m);
      gap: base(0.4);
      flex-grow: 1;
      position: relative;

      .icon {
        flex-shrink: 0;
      }
    }

    .icon--search {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      inset-inline-start: base(0.4);
      z-index: 1;
      pointer-events: none;
    }

    .search-filter {
      flex-grow: 1;

      input {
        height: 44px;
        padding-left: 36px;
        margin: 0;
      }
    }

    &__custom-control {
      padding: 0;
      border-radius: 0;
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: calc(var(--base) / 4);
      padding-right: 10px;
    }

    .pill-selector,
    .where-builder,
    .sort-complex {
      margin-top: base(1);
    }

    @include small-break {
      &__outer-wrap {
        flex-direction: column;
        align-items: stretch;
        background-color: transparent;
        border-radius: 0;
      }

      &__wrap {
        max-width: unset;
        width: 100%;
        flex-wrap: wrap;
        background-color: unset;
        padding: 0;
        position: relative;
      }

      &__preset-menu-items {
        display: none;
      }

      .search-filter {
        width: 100%;
        input {
          padding: 0 base(1.5);
        }
      }

      &__buttons {
        padding-right: 0;
        margin: 0;
        width: 100%;

        .pill {
          padding: base(0.2) base(0.2) base(0.2) base(0.4);
          justify-content: space-between;
        }
      }

      .pill-selector,
      .where-builder,
      .sort-complex {
        margin-top: calc(var(--base) / 2);
      }

      &__toggle-columns,
      &__toggle-where,
      &__toggle-sort {
        flex: 1;
      }
    }
  }
}
