@import '../../../scss/styles.scss';

@layer payload-default {
  .folder-and-documents {
    margin-top: 1rem;
    display: grid;
    grid-template-areas:
      'header'
      'subfolders'
      'documents';
    grid-template-rows: auto auto 1fr;
    height: 100%;
    gap: 1.5rem;

    &__wrap {
      border-radius: var(--style-radius-l);
      padding-bottom: var(--spacing-view-bottom);
      margin-bottom: 2rem;
      margin-inline: var(--gutter-h);
      display: flex;
      flex-direction: column;
      gap: var(--base);
    }

    &__header {
      grid-area: header;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      justify-content: space-between;
      gap: var(--base);
    }

    &__header-actions {
      display: flex;
      gap: calc(var(--base) * 0.25);
    }

    &__search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--theme-elevation-50);
      padding: calc(var(--base) / 2);
      padding-left: var(--base);
      border-radius: var(--style-radius-s);
      grid-column: 1 / 3;

      p {
        color: var(--theme-elevation-500);
      }

      button {
        margin: 0;
      }
    }

    &__search-actions {
      display: flex;
      gap: calc(var(--base) * 0.25);
    }

    &__subfolders {
      grid-area: subfolders;
    }

    &__list-toggle,
    &__grid-toggle {
      padding: 0 2px;

      &:not(.active) {
        background-color: transparent;
        color: var(--theme-elevation-400);

        &:hover {
          background-color: var(--theme-elevation-150);
        }
      }
    }

    &__documents {
      grid-area: documents;
    }

    &__create-new {
      margin: 0;
    }

    &__action-popup {
      .btn {
        display: flex;
        height: 100%;
      }
    }
  }
}
