@import '../../../scss/styles.scss';

.delete-document {
  @include blur-bg;
  display: flex;
  align-items: center;
  height: 100%;

  &__template {
    z-index: 1;
    position: relative;
  }

  &__toggle {
    @extend %btn-reset;
  }

  .btn {
    margin: 0;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: $baseline;
  }
}
