@import '../../scss/styles.scss';

@layer payload-default {
  :root {
    --diff-delete-pill-bg: var(--theme-error-200);
    --diff-delete-pill-color: var(--theme-error-600);
    --diff-delete-pill-border: var(--theme-error-400);
    --diff-delete-parent-bg: var(--theme-error-100);
    --diff-delete-parent-color: var(--theme-error-800);
    --diff-delete-link-color: var(--theme-error-600);

    --diff-create-pill-bg: var(--theme-success-200);
    --diff-create-pill-color: var(--theme-success-600);
    --diff-create-pill-border: var(--theme-success-400);
    --diff-create-parent-bg: var(--theme-success-100);
    --diff-create-parent-color: var(--theme-success-800);
    --diff-create-link-color: var(--theme-success-600);
  }

  html[data-theme='dark'] {
    --diff-delete-pill-bg: var(--theme-error-200);
    --diff-delete-pill-color: var(--theme-error-650);
    --diff-delete-pill-border: var(--theme-error-400);
    --diff-delete-parent-bg: var(--theme-error-100);
    --diff-delete-parent-color: var(--theme-error-900);
    --diff-delete-link-color: var(--theme-error-750);

    --diff-create-pill-bg: var(--theme-success-200);
    --diff-create-pill-color: var(--theme-success-650);
    --diff-create-pill-border: var(--theme-success-400);
    --diff-create-parent-bg: var(--theme-success-100);
    --diff-create-parent-color: var(--theme-success-900);
    --diff-create-link-color: var(--theme-success-750);
  }
}
