@import '../../../scss/styles.scss';

.inline-block-container {
  display: inline-block;
}

.inline-block {
  @extend %body;
  @include shadow-sm;
  padding: calc(var(--base) * 0.125) calc(var(--base) * 0.125) calc(var(--base) * 0.125) calc(var(--base) * 0.3);
  display: flex;
  align-items: center;
  background: var(--theme-input-bg);
  border: 1px solid var(--theme-elevation-100);
  border-radius: $style-radius-m;
  max-width: calc(var(--base) * 15);
  font-family: var(--font-body);
  margin-right: $style-stroke-width-m;
  margin-left: $style-stroke-width-m;

  &:hover {
    border: 1px solid var(--theme-elevation-150);
  }

  &__wrap {
    flex-grow: 1;
    overflow: hidden;
  }

  &--selected {
    box-shadow: $focus-box-shadow;
    outline: none;
  }

  &__editButton.btn {
    margin: 0;
  }

  &__editButton {
    &:disabled {
      color: var(--theme-elevation-300);
      pointer-events: none;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: calc(var(--base) * 0.15);



    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__removeButton.btn {
    margin: 0;

    line {
      stroke-width: $style-stroke-width-m;
    }

    &:disabled {
      color: var(--theme-elevation-300);
      pointer-events: none;
    }
  }
}
