@import '../../../scss/styles.scss';

@layer payload-default {
  .droppable-button {
    @include btn-reset;
    &:hover {
      cursor: pointer;
    }
  }
  .folderBreadcrumbs {
    display: flex;

    &__crumb,
    &__crumb-item.droppable-button {
      @extend %h4;
      display: flex;
      align-items: center;
      font-weight: 600;
      margin: 0;
      font-family: inherit;

      &:has(.icon--folder) {
        height: calc(var(--base) * 1.6);
        .btn__label {
          display: flex;
          align-items: center;
          height: 100%;
        }
        .icon--folder {
          width: calc(var(--base) * 1.25);
          height: calc(var(--base) * 1.25);
          color: var(--theme-elevation-300);
        }
      }
    }

    &__crumb-item.droppable-button--hover {
      opacity: 0.5;
    }

    &__crumb-chevron {
      margin: 0 calc(var(--base) * 0.5);
      position: relative;
      top: 1px;

      .stroke {
        stroke: var(--theme-border-color);
        stroke-width: 2px;
      }
    }
  }

  @include mid-break {
    .folderBreadcrumbs {
      &__crumb,
      &__crumb-item {
        font-size: var(--base);
      }
    }
  }
}
