@import '../../../../scss/styles.scss';

.multi-value-label {
  display: flex;

  &__label {
    padding: 0 base(.125) 0 base(.25);
    max-width: 150px;
    color: currentColor;

    > * {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
