@import '../../../../scss/styles.scss';

.file-meta {
  &__url {
    display: flex;

    a {
      font-weight: 600;
      text-decoration: none;

      &:hover, &:focus-visible {
        text-decoration: underline;
      }
    }
  }

  &__size-type,
  &__url a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__edit {
    position: relative;
  }
}
