.adminBar {
  z-index: 10;
  width: 100%;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  padding: calc(var(--base) * 0.25) 0;
  font-size: calc(#{var(--html-font-size)} * 1px);
  display: none;
}

.show {
  display: block;
}

.controls {
  & > *:not(:last-child) {
    margin-right:calc(var(--base) * 0.5) !important;
  }
}

.user {
  margin-right: calc(var(--base) * 0.5) !important;
}

.logo {
  margin-right: calc(var(--base) * 0.5) !important;
}

.innerLogo {
  width: 100%;
}

.container {
  position: relative;
}

.hr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-light-gray);
  height: 2px;
}
