@layer payload-default {
  .field-description {
    display: flex;
    color: var(--text-tertiary);
    margin-top: var(--spacer-1);
  }

  .field-description--margin-bottom {
    margin-top: 0;
    margin-bottom: var(--spacer-2);
  }
}
