@import '../../scss/styles.scss';

@layer payload-default {
  .field-description {
    display: flex;
    color: var(--theme-elevation-400);
    margin-top: calc(var(--base) / 4);

    &--margin-bottom {
      margin-top: 0;
      margin-bottom: calc(var(--base) / 2);
    }
  }
}
