name: activity-notifications

on:
  schedule:
    - cron: '0 11 * * 1'
  workflow_dispatch:
    inputs:
      debug:
        description: Enable debug logging
        required: false
        default: false

jobs:
  run:
    if: github.repository_owner == 'payloadcms'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Popular Issues to Slack
        run: node ./.github/actions/activity/dist/popular-issues/index.js
        continue-on-error: true
      - name: New Issues to Slack
        run: node ./.github/actions/activity/dist/new-issues/index.js
        continue-on-error: true
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
      DEBUG: ${{ github.event.inputs.debug || 'false' }}
