@import '../../../../scss/styles.scss';

.compare-version {
  &__error-loading {
    border: 1px solid var(--theme-error-500);
    min-height: base(2);
    padding: base(0.5) base(0.75);
    background-color: var(--theme-error-500);
    color: var(--theme-elevation-0);
  }

  &__label {
    margin-bottom: base(0.25);
  }
}
