@import '../../../scss/styles';

.verify {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  min-height: 100vh;

  &__brand {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: base(2);
  }
}
