@layer payload-default {
  .field-type.text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);

    .field-type__wrap {
      display: flex;
      flex-direction: column;
      gap: var(--spacer-2);
    }

    &.error input {
      border-color: var(--border-danger-strong);
    }
  }
}
