@import '../../../scss/styles';

.icon--indent-right {
  height: $baseline;
  width: $baseline;

  .stroke {
    fill: none;
    stroke: var(--color-base-800);
    stroke-width: $style-stroke-width-m;
  }

  .fill {
    fill: var(--color-base-800);
  }
}
