DATABASE_URI=mongodb://127.0.0.1/payload-template-blank
PAYLOAD_SECRET=YOUR_SECRET_HERE
OPENAI_API_KEY=YOUR_OPENAI_KEY_HERE
NEO4J_URI=NEO4J_URI_HERE
NEO4J_USER=neo4j
NEO4J_PASSWORD=NEO4J_URI_PASSWORD_HERE


