@import '../../../scss/styles.scss';

table {
  width: 100%;
  margin-bottom: base(.75);

  th {
    @extend %uppercase-label;
    font-weight: normal;
    text-align: left;
    color: $gray;
  }

  td, th {
    padding: base(.5);
  }

  tbody {
    @extend %shadow-sm;
  }

  tr:nth-child(even) {
    background: $light-gray;
  }

  .no-data {
    color: $gray;
  }
}
