@import '~payload/scss/styles';

table {
  width: 100%;

  th {
    @extend %uppercase-label;
    font-weight: normal;
    text-align: left;
    color: $gray;
  }

  td, th {
    padding: rem(.5);
  }

  tbody {
    @extend %shadow-sm;
  }

  tr:nth-child(even) {
    background: $light-gray;
  }

  .no-data {
    color: $gray;
  }
}
