@import '../../scss/styles.scss';

@layer payload-default {
  .combobox {
    &__content {
      display: flex;
      flex-direction: column;
    }

    &__search-wrapper {
      padding-top: var(--popup-padding);
      padding-bottom: calc(var(--base) * 0.5);
      border-bottom: 1px solid var(--border-default-default);
      margin-bottom: calc(var(--base) * 0.5);

      &--no-results {
        border-bottom: none;
        margin-bottom: 0;
      }
    }

    &__search-input {
      width: 100%;
      background: var(--bg-default-secondary);
      color: var(--text-default-default);
      border: none;
      border-radius: var(--style-radius-s);
      padding: calc(var(--base) * 0.25) calc(var(--base) * 0.5);
      outline: none;
      box-shadow: none;

      &::placeholder {
        color: var(--text-default-tertiary);
      }

      &:focus,
      &:focus-visible {
        background: var(--bg-default-secondary-hover);
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    &__entry {
      cursor: pointer;
    }
  }
}
